/* 

.img-circle {
    border-radius: 50%;
    overflow: hidden;
    background-color: blue;
    margin-top: 120px;
    width: 280px;
    height: 260px;
    opacity: 1;
  
    display: inline-block;
    vertical-align: middle;
}

.card_12 {
    border-radius: 12px;
}

.rest {
    border-radius: 15px;
    border: 1px solid;
}

.input:focus {
    border-radius: 0;
}

#btn_save1 {
    margin-top: 0px;
    margin-left: 523px;
    width: 134px;
    height: 40px;
    background: #ED5D42 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    border: none;
}

#btn_save2 {
    margin-top: 0px;
    width: 134px;
    margin-left: 100px;
    height: 40px;
    background: #ED5D42 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    border: none;
}

input {
    background: transparent;
} */

.image-upload > input
{
    display: none;
}

/* .image-upload img
{
    width: 80px;
    cursor: pointer;
} */

.img1 {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border: 2px solid rgb(241, 27, 27);
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  left: 100%;
  /* -6px gives dropdown-menu's padding+border */
  top: -6px;
}

.dropdown-submenu:hover>.dropdown-menu,
.dropdown-submenu>a:focus+.dropdown-menu {
  /* :focus support is incomplete - pressing Tab sets focus to submenu, but that immediately hides submenu */
  display: block;
}

.select-checkbox option::before {
  content: "\2610";
  width: 1.3em;
  text-align: center;
  display: inline-block;
}

.select-checkbox option:checked::before {
  content: "\2611";
}

.dropdown {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

a {
  color: #fff;
}

.dropdown dd,
.dropdown dt {
  margin: 0px;
  padding: 0px;
}

.dropdown ul {
  margin: -1px 0 0 0;
}

.dropdown dd {
  position: relative;
}

.dropdown a,
.dropdown a:visited {
  color: black;
  text-decoration: none;
  outline: none;
  font-size: 18px;
}

.dropdown dt a {
  /* background-color: rgb(199, 199, 199); */
  display: block;
  /* padding: 8px 20px 5px 10px; */
  min-height: 25px;
  line-height: 24px;
  overflow: hidden;
  border: 0;
  width: 330px;
}

.dropdown dt a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
  margin-top: 45px;
}

.dropdown dd ul {
  background-color: rgb(208, 211, 211);
  border: 0;
  color: rgb(0, 0, 0);
  display: none;
  left: 0px;
  padding: 2px 15px 2px 5px;
  position: absolute;
  top: 2px;
  width: 280px;
  list-style: none;
  height: 100px;
  overflow: auto;
  border: 1PX solid rgb(83, 83, 83);
}

.dropdown span.value {
  display: none;
}

.dropdown dd ul li a {
  padding: 5px;
  display: block;
}

.dropdown dd ul li a:hover {
  background-color: #fff;
}
.notification{
  /* top: 90px; */
  margin-top: -155px;
  /* right: 0px; */
  margin-left: 210px;
  /* width: 460px; */
  box-shadow: 0px 5px 7px -1px #c1c1c1;
  padding-bottom: 0px;
  padding: 0px;
 
}
.notification:before{
  content: "";
  position: absolute;
  top: -20px;
  right: 190px;
  border:10px solid #343A40;
  border-color: transparent transparent #343A40 transparent;
}
.imgPro {
  border: solid 2px #ccc;
  border-radius: 50%;
  width: 75px;
  height: 80px;
  cursor: pointer;
  /* margin-top: -10px; */
  padding: 0px;
  /* border-radius: 50%; */
  overflow: hidden;
}