<div class="container ">
    <div class="row" style="margin-top: 155px;">
        <div class="col-lg-12">
            <!----(ngSubmit)="profileUpdate()" #f="ngForm"-->
           <div class="row">
               <h5></h5>
            <div class="col-lg-4 mb-3">
           <p *ngIf="model.isprivate == false || model.isprivate == null">*Your Account is public, your personal details are visible to all</p>
                <button type="button" class="btn btn-primary btn-sm" (click)="privateProfile()"
                *ngIf="model.isprivate == false || model.isprivate == null">Make Private Account</button>
            <p *ngIf="model.isprivate == true ">*Your Account is private, your personal details are visible to your friends only</p>    
                <button type="button" class="btn btn-primary btn-sm" (click)="publicProfile()"
                *ngIf="model.isprivate == true">Make Public Account</button>
                <!-- <select name="privacy" id="privacy" class="form-control"
                    (change)="accountPrivacy($event.target.value)" [(ngModel)]="model.isprivate">
                    <option value="0">Public Account</option>
                    <option value="1">Private Account</option>
                </select> -->
            </div>
           </div>
            <form>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="form-group">
                            <label for=""><strong> About me </strong></label>
                            <textarea #aboutus="ngModel" [(ngModel)]="model.aboutus" id="aboutus" name="aboutus"
                                class="form-control p-2" cols="15" rows="5" placeholder="About Me"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <!-- <div class="form-group">
                                    <label for="my-input"><strong>Born On <span class="required">*</span></strong></label>
                                    <input id="my-input" [disabled]="true" class="form-control" name="dob" type="date"
                                        #dob="ngModel" [(ngModel)]="model.dob" id="dob">
                                </div> -->
                                <div class="form-group">
                                    <label for="my-input"><strong>Born On <span class="required">*</span></strong></label>
                                    <input id="my-input" [disabled]="true" class="form-control" name="dob" type="text"
                                        #dob="ngModel" [(ngModel)]="model.dob" id="dob">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="my-input"><strong>Gender <span class="required">*</span></strong></label>
                                    <select name="gender" id="gender" class="form-control" [(ngModel)]="model.gender">
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- <div class="col-lg-5 image-upload">
                        <label for="file-input">
                            <img class="img-fluid img1 d-block mx-auto" src="assets/img/avtar.png"
                                *ngIf="model.photoUrl == null" />
                            <img class="img-fluid img1 d-block mx-auto" [src]="model.photoUrl"
                                *ngIf="model.photoUrl != null" />

                            <h6 class="text-center p-2"><strong>{{model.name}}</strong></h6>
                        </label>

                        <input id="file-input" type="file" (change)="handleFileInput($event.target.files)" />
                    </div> -->
                    <div class="col-lg-5" data-toggle="modal" data-target="#modalRelatedContent">  
                            <img class="img-fluid img1 d-block mx-auto" src="assets/img/avtar.png"
                            *ngIf="model.photoUrl == null" />
                           <img class="img-fluid img1 d-block mx-auto" [src]="model.photoUrl"
                            *ngIf="model.photoUrl != null" />
                            <h6 class="text-center p-2"><strong>{{model.name}}</strong></h6>
                    </div>
                </div>
                <h6 class="p-3 mt-3"><strong>
                        <h3>School</h3>
                    </strong></h6>
                <div class="container shadow p-4">
                    <div class="row ">

                        <div class="col-lg-4">
                            <label for="name"><strong>School </strong>
                                <span class="required">*</span></label>
                            <!-- <input id="my-input" class="form-control" type="text" placeholder="School Name"
                                name="schoolname" #schoolname="ngModel" [(ngModel)]="model.schoolname"> -->
                                <select name="schoolname" id="schoolname" class="form-control" 
                                 [(ngModel)]="model.schoolname">
                                    <option value="{{school.id}}" *ngFor="let school of schoolList"
                                    >{{school.org_name}}</option>
                                </select>
                        </div>
                        <div class="col-lg-4">
                            <label for=""><strong>Address</strong></label>
                            <input id="my-input" class="form-control" name="schooladdress" #schooladdress="ngModel"
                                [(ngModel)]="model.schooladdress" value="schooladdress" placeholder="Address"
                                type="text" name="schooladdress">

                        </div>
                        <div class="col-lg-4">
                            <label for=""><strong>Pincode</strong></label>
                            <input id="my-input" class="form-control" placeholder="Pincode" maxlength="6" minlength="5"
                                type="text" name="pincode" #orgpincode="ngModel" [(ngModel)]="model.orgpincode">

                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-4">
                            <label for="name"><strong>State <span class="required">*</span></strong></label>
                            <select name="orgstate" id="orgstate" class="form-control"
                            (change)="cityForSchoolDetails($event.target.value)" [(ngModel)]="model.orgstateid"
                            (blur)="onChangeSchoolValue($event)">
                                <option [value]=state.stateid *ngFor="let state of stateList">{{state.state}}
                                </option>

                            </select>
                        </div>
                        <div class="col-lg-4">
                            <label for="name"><strong>City <span class="required">*</span></strong></label>
                            <select name="orgcity" id="orgcity" class="form-control" [(ngModel)]="model.orgcityid">
                                <option value="{{city.cityid}}" *ngFor="let city of cityList">{{city.cityname}}</option>
                            </select>
                        </div>
                        <div class="col-lg-4">
                            <label for="value"><strong>Class <span class="required">*</span></strong></label>
                            <select name="classname" id="classname" [(ngModel)]="model.classname" class="form-control ">
                                <option value="6th">6th</option>
                                <option value="7th">7th</option>
                                <option value="8th">8th</option>
                                <option value="9th">9th</option>
                                <option value="10th">10th</option>
                                <option value="11th">11th</option>
                                <option value="12th">12th</option>
                            </select>
                        </div>
                        

                    </div>
                    <div class="row mt-3">

                       <div class="col-lg-4">
                            <label for=""><strong>Section</strong></label>
                            <select name="section" id="section" [(ngModel)]="model.section" class="form-control">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                            </select>
                        </div>

                        <div class="col-lg-4">
                            <label for=""><strong>Class Teacher</strong></label>
                            <input id="my-input" class="form-control" name="teachername" id="teachername"
                                #teachername="ngModel" [(ngModel)]="model.teachername" placeholder="Class Teacher"
                                type="text">

                        </div>
                        <div class="col-lg-4">
                            <label for=""><strong>Subjects <span class="required">*</span></strong></label>
                            <div class="form-group">
                                
                                <ng-multiselect-dropdown name="groupname" id="groupname"
                                    [placeholder]="'Select Subjects'" [data]="dropdownList" [(ngModel)]="selectedItems"
                                    [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                                    (onDeSelect)="onDeSelect($event)" (onSelectAll)="onSelectAll($event)">
                                </ng-multiselect-dropdown>
                            </div>
                        </div>

                    </div>
                </div>

<!-----------------------Social Media Handle Start------------------>
<h6 class="p-3 mt-3"><strong>
    <h3>Social Media Handles</h3>
    <div class="container shadow p-4">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                    <label for="name"><strong>Facebook </strong></label>
                    <input id="my-input" class="form-control" value="" placeholder="Please Enter Your Facebook Link Here" type="text"
                        name="fbHandleUrl" #fbHandleUrl="ngModel" [(ngModel)]="model.fbHandleUrl">   
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <label for="name"><strong>Google </strong></label>
                <input id="my-input" class="form-control" value="" placeholder="Please Enter Your Google Link Here" type="text"
                    name="twitterHandleUrl" #twitterHandleUrl="ngModel" [(ngModel)]="model.twitterHandleUrl">   
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <label for="name"><strong>Instagram </strong></label>
            <input id="my-input" class="form-control" value="" placeholder="Please Enter Your Instagram Link Here" type="text"
                name="instaHandleUrl" #instaHandleUrl="ngModel" [(ngModel)]="model.instaHandleUrl">   
    </div>
        </div>
    </div>
</strong></h6>

<!-----------------------Social Media Handle End-------------------->

                <!---------------------------------Emergency Numbers--------------------------------->

                <h6 class="p-3 mt-3"><strong>
                        <h3>Emergency Numbers</h3>
                    </strong></h6>
                <div class="container shadow p-4">
                    <div class="row ">

                        <div class="col-lg-4">
                            <label for="name"><strong>Emergency Number Family-1 <span class="required">*</span></strong></label>
                            <input id="my-input" class="form-control" type="text" placeholder="Emergency Number Family-1"
                                name="phone_number1" #phone_number1="ngModel"
                                [(ngModel)]="emergencyModel.phone_number1" 
                                 maxlength="10" minlength="10"[pattern]="mobNumberPattern">
                                 <div *ngIf="phone_number1.invalid && (phone_number1.dirty || phone_number1.touched)" >
                                    <small class="text-danger" *ngIf="phone_number1.errors.pattern">
                                        Phone Number be Must valid
                                    </small>
                                    <!-- <small class="text-danger" *ngIf="phone_number4.errors.required">
                                        Phone is required.
                                    </small> -->
                                </div>

                        </div>
                        <div class="col-lg-4">
                            <label for="name"><strong>Emergency Number Family-2 </strong></label>
                            <input id="my-input" class="form-control" type="text" placeholder="Emergency Number Family-2"
                                name="phone_number2" #phone_number2="ngModel"
                                [(ngModel)]="emergencyModel.phone_number2" maxlength="10" minlength="10"
                                [pattern]="mobNumberPattern">
                                <div *ngIf="phone_number2.invalid && (phone_number2.dirty || phone_number2.touched)" >
                                    <small class="text-danger" *ngIf="phone_number2.errors.pattern">
                                        Phone Number Must be valid
                                    </small>
                                    <!-- <small class="text-danger" *ngIf="phone_number4.errors.required">
                                        Phone is required.
                                    </small> -->
                                </div>
                        </div>
                        <div class="col-lg-4">
                            <label for="name"><strong>Emergency Number Friend-1 </strong></label>
                            <input id="my-input" class="form-control" type="text" placeholder="Emergency Number Friend-1"
                                name="phone_number3" #phone_number3="ngModel"
                                [(ngModel)]="emergencyModel.phone_number3" maxlength="10" minlength="10"
                                [pattern]="mobNumberPattern">
                                <div *ngIf="phone_number3.invalid && (phone_number3.dirty || phone_number3.touched)" >
                                    <small class="text-danger" *ngIf="phone_number3.errors.pattern">
                                        Phone Number Must be valid
                                    </small>
                                    <!-- <small class="text-danger" *ngIf="phone_number4.errors.required">
                                        Phone is required.
                                    </small> -->
                                </div>

                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-4">
                            <label for="name"><strong>Emergency Number Friend-2 </strong></label>
                            <input id="my-input" class="form-control" type="text" placeholder="Emergency Number Friend-2"
                                name="phone_number4" #phone_number4="ngModel"
                                [(ngModel)]="emergencyModel.phone_number4" [(ngModel)]="emergencyModel.phone_number4"  maxlength="10" minlength="10"
                                [pattern]="mobNumberPattern">
                                <div *ngIf="phone_number4.invalid && (phone_number4.dirty || phone_number4.touched)" >
                                    <small class="text-danger" *ngIf="phone_number4.errors.pattern">
                                        Phone Number Must be valid
                                    </small>
                                    <!-- <small class="text-danger" *ngIf="phone_number4.errors.required">
                                        Phone is required.
                                    </small> -->
                                </div>
                        </div>
                        <div class="col-lg-4">
                            <label for="name"><strong>Emergency Number Friend-3 </strong></label>
                            <input id="my-input" class="form-control" type="text" placeholder="Emergency Number Friend-3"
                                name="phone_number5" #phone_number5="ngModel"
                                [(ngModel)]="emergencyModel.phone_number5" maxlength="10" minlength="10"
                                [pattern]="mobNumberPattern">
                                <div *ngIf="phone_number5.invalid && (phone_number5.dirty || phone_number5.touched)" >
                                    <small class="text-danger" *ngIf="phone_number5.errors.pattern">
                                        Phone Number Must be valid
                                    </small>
                                    <!-- <small class="text-danger" *ngIf="phone_number4.errors.required">
                                        Phone is required.
                                    </small> -->
                                </div>
                        </div>


                    </div>

                </div>




                <!----------------------------------Emergency Numbers End----------------------------->

                <h6 class="p-3"><strong>
                        <h3>Personal Detail</h3>
                    </strong>
                    <p>( We respect your privacy & Data provided by you during registration is secure )</p>
                </h6>

                <div class="container shadow p-4 mb-5">
                    <div class="row ">

                        <div class="col-lg-4">
                            <label for="name"><strong>Father Name</strong></label>
                            <input id="my-input" class="form-control" value="" placeholder="Father name" type="text"
                                name="fathername" #fathername="ngModel" [(ngModel)]="model.fathername">

                        </div>
                        <div class="col-lg-4">
                            <label for=""><strong>Mother Name</strong></label>
                            <input id="my-input" class="form-control" value="" placeholder="Mother Name" type="text"
                                name="mothername" #mothername="ngModel" [(ngModel)]="model.mothername">

                        </div>
                        <div class="col-lg-4">
                            <label for=""><strong>Address</strong></label>
                            <input id="my-input" class="form-control" placeholder="Address" type="text" name="address"
                                [(ngModel)]="model.address" #address="ngModel">

                        </div>

                    </div>
                    <div class="row mt-3 ">

                        <div class="col-lg-4">
                            <label for="name"><strong>State</strong></label>
                            <select name="state" id="state" class="form-control"
                            (change)="cityForPersonalDetails($event.target.value)" [(ngModel)]="model.stateid"
                            (blur)="onChageValue($event)">
                                <option [value]="personalState.stateid"
                                    *ngFor="let personalState of personalDetailsState">{{personalState.state}}</option>

                            </select>
                        </div>
                        <div class="col-lg-4">
                            <label for=""><strong>City</strong></label>
                            <select name="cityname" id="cityname" class="form-control" [(ngModel)]="model.cityid">
                                <option value="{{personalCity.cityid}}"
                                    *ngFor="let personalCity of personalDetailsCity">{{personalCity.cityname}}</option>

                            </select>
                        </div>
                        <div class="col-lg-4">
                            <label for=""><strong>I aspire to be</strong></label>
                            <select name="wanttobe" id="wanttobe" class="form-control" [(ngModel)]="model.wanttobe">
                                <option value="Animator">Animator</option>
                                <option value="Scientist">Scientist</option>
                                <option value="Engineer">Engineer</option>
                                <option value="Doctor">Doctor</option>
                                <option value="IT Professional">IT Professional</option>
                                <option value="MBA">MBA</option>
                                <option value="Journalism">Journalism</option>
                                <option value="Lawyer">Lawyer</option>
                                <option value="Defence Personal">Defence Personal</option>
                                <option value="Accountant">Accountant</option>
                                <option value="Artist">Artist</option>
                                <option value="Designer">Designer</option>
                                <option value="Agriculture">Agriculture</option>
                                <option value="Air Hostess">Air Hostess</option>
                                <option value="Banker">Banker</option>
                                <option value="Chef">Chef</option>
                                <option value="Computer Science Engineer">Computer Science Engineer</option>
                                <option value="Pilot">Pilot</option>
                                <option value="Radio Jockey">Radio Jockey</option>
                                <option value="Police Officer">Police Officer</option>
                                <option value="School Teacher">School Teacher</option>
                                <option value="Sports">Sports</option>
                                <option value="Writer">Writer</option>
                                <option value="Businessman">Businessman</option>
                                <option value="Psychologist">Psychologist</option>
                                <option value="Psychiatrist">Psychiatrist</option>
                                <option value="Human Resources Management">Human Resources Management</option>
                                <option value="Public Relations">Public Relations</option>
                                <option value="IAS / IPS">IAS / IPS</option>
                                <option value="Lecturer">Lecturer</option>
                                <option value="Finance">Finance</option>
                                <option value="Exporter">Exporter</option>
                                <option value="Nutrition & Dietics">Nutrition & Dietics</option>
                                <option value="Infrastructure & Real Estate Professional">Infrastructure & Real Estate Professional</option>
                                <option value="Retail Management">Retail Management</option>
                                <option value="Foreign Trade">Foreign Trade</option>
                                <option value="Film Making">Film Making</option>
                                <option value="Radio. / Disc Jockey">Radio. / Disc Jockey</option>
                                <option value="Advertising">Advertising</option>
                                <option value="Pharmacy">Pharmacy</option>
                                <option value="Insurance">Insurance</option>
                                <option value="Translator / Interpreters">Translator / Interpreters</option>
                                <option value="Cosmetologist">Cosmetologist</option>
                                <option value="Logistics & Cargo">Logistics & Cargo</option>
                                <option value="Astrology">Astrology</option>
                                <option value="Fitness Trainer">Fitness Trainer</option>
                            </select>

                        </div>

                    </div>
                    <div class="row mt-3">

                        <div class="col-lg-4">
                            <label for="name"><strong>Interest <span class="required">*</span></strong></label>
                            <button class="btn btn-block btn-default  bg-light border d-flex justify-content-between"
                                data-toggle="dropdown">
                                <h6>Interests</h6>
                                <i class="fa fa-chevron-down pull-right"></i>
                            </button>
                            <ul class="dropdown-menu multi-level p-2">
                                <li class="dropdown-submenu" *ngFor="let interestList of categoryList">
                                    <!-- <h6 (mouseover)="changeCategoryListValue(interestList.id)">{{interestList.Beh_name}}
                                    </h6> -->
                                    <span>
                                       
                                        <input type="checkbox" name="{{ interestList.Beh_name }}"
                                        id="{{interestList.Beh_name}}" value="interestList.id"
                                        (change)="changeCategoryInterestList($event.target.checked, interestList)"> {{ interestList.Beh_name }} <br>
                                       </span>
                                    <div class="dropdown-divider p-0" style="margin-left: -15px;margin-right: -15px;">
                                    </div>
                                    <ul class="dropdown-menu p-1 ml-0">
                                        <li *ngFor="let subCategoryList of subCaterory ">
                                            <input type="checkbox" name="{{ subCategoryList.activity_name }}"
                                                id="{{subCategoryList.activity_name}}" value="subCategoryList.id"
                                                (change)="onChangeCategoryEvent($event.target.checked, subCategoryList)">
                                            {{subCategoryList.activity_name}}<br>
                                        </li>


                                    </ul>
                                </li>
                            </ul>

                        </div>
                        <div class="col-lg-4">
                            <label for=""><strong>Hobbies</strong></label>
                            <button class="btn btn-block btn-default  bg-light border d-flex justify-content-between"
                                data-toggle="dropdown">
                                <h6>Hobbies</h6>
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu multi-level p-2">
                                <li class="dropdown-submenu" *ngFor="let hobbies of hobbiesList">
                                   
                                   <span>
                                       
                                    <input type="checkbox" name="{{ hobbies.Beh_name }}"
                                    id="{{hobbies.Beh_name}}" value="hobbies.id"
                                    (change)="changeCategoryHobbiesList($event.target.checked, hobbies)"> {{ hobbies.Beh_name }} <br>
                                   </span>
                                    <div class="dropdown-divider p-0" style="margin-left: -15px;margin-right: -15px;">
                                    </div>
                                    <ul class="dropdown-menu p-1 ml-0">
                                        <li *ngFor="let hobbiesSubList of subCateroryHobbies">
                                            <input type="checkbox" name="{{ hobbiesSubList.activity_name }}"
                                                id="{{hobbiesSubList.activity_name}}" value="hobbiesSubList.id"
                                                (change)="onChangeCategoryHobbies($event.target.checked, hobbiesSubList)">
                                            {{hobbiesSubList.activity_name}}<br>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <label for="name"><strong>Id Proof <span class="required">*</span></strong></label>
                            <select name="idproof" id="idproof" class="form-control" 
                            (change)="idChange($event.target.value)" [(ngModel)]="model.idproof">
                                <option value="Aadhaar Card" >Aadhar card</option>
                                <option value="PAN Card">PAN Card</option>
                                <!-- <option value="voterId">Voter Id card</option>
                                <option value="Licence">Licence</option> -->
                                <option value="School Id Card">School Id Card</option>
                                <!-- (change)="idChange($event.target.value)" -->
                            </select>
                        </div>
                        <!-- <div class="col-lg-4">
                            <label for=""><strong>Id Proof Number</strong></label>
                            <input id="my-input" class="form-control" placeholder="Id Proof Number" type="text"
                                name="idproofno" [(ngModel)]="model.idproofno" #idproofno="ngModel">

                        </div> -->
                        <div class="col-lg-4 mt-2" *ngIf="defaultFlag">
                            <label for=""><strong>Id Proof Number</strong></label>
                            <h6>(we require ID proof to validate that you are indeed 14 to 18 with proper credentials)</h6>
                            <input id="my-input" class="form-control" placeholder="Id Proof Number" type="text"
                                name="idproofno" [(ngModel)]="model.idproofno" #idproofno="ngModel" [disabled]="true">
                        </div>
                        <div class="col-lg-4 mt-2" *ngIf="panField">
                            <label for=""><strong>Id Proof Number</strong></label>
                            <input id="my-input" class="form-control" placeholder="Enter Your PAN Number" type="text"
                                name="idproofno" [(ngModel)]="model.idproofno" #idproofno="ngModel"
                                pattern="^[A-Za-z]{5}[0-9]{4}[A-Za-z]$" maxlength="10" minlength="10">
                                <div *ngIf="idproofno.invalid && (idproofno.dirty || idproofno.touched)" >
                                    <small class="text-danger" *ngIf="idproofno.errors.pattern">
                                        Pan Number Must be valid
                                    </small>
                                    <!-- <small class="text-danger" *ngIf="phone_number4.errors.required">
                                        Phone is required.
                                    </small> -->
                                </div>

                        </div>
                        <div class="col-lg-4 mt-2" *ngIf="aadharField">
                            <label for=""><strong>Id Proof Number</strong></label>
                            <input id="my-input" class="form-control" placeholder="Enter Your Aadhar Number" type="text"
                                name="idproofno" [(ngModel)]="model.idproofno" #idproofno="ngModel"
                                maxlength="18" minlength="12" [pattern]="aadharNumberPattern" required>
                                <div *ngIf="idproofno.invalid && (idproofno.dirty || idproofno.touched)" >
                                    <small class="text-danger" *ngIf="idproofno.errors.pattern">
                                        Aadhar Number Must be valid
                                    </small>
                                    <!-- <small class="text-danger" *ngIf="phone_number4.errors.required">
                                        Phone is required.
                                    </small> -->
                                </div>
                        </div>
                        <div class="col-lg-4 mt-2" *ngIf="voterCardField">
                            <label for=""><strong>Id Proof Number</strong></label>
                            <input id="my-input" class="form-control" placeholder="VoterId Number" type="text"
                                name="idproofno" [(ngModel)]="model.idproofno" #idproofno="ngModel" required
                                maxlength="10" minlength="10" [pattern]="mobNumberPattern">
                                <div *ngIf="idproofno.invalid && (idproofno.dirty || idproofno.touched)" >
                                    <small class="text-danger" *ngIf="idproofno.errors.pattern">
                                        VoterId Number Must be valid
                                    </small>
                                    <!-- <small class="text-danger" *ngIf="phone_number4.errors.required">
                                        Phone is required.
                                    </small> -->
                                </div>
                        </div>
                        <div class="col-lg-4 mt-2" *ngIf="LicenceField">
                            <label for=""><strong>Id Proof Number</strong></label>
                            <input id="my-input" class="form-control" placeholder="Enter Your Licence Number" type="text"
                                name="idproofno" [(ngModel)]="model.idproofno" #idproofno="ngModel"
                                [pattern]="licencePattern" maxlength="8" minlength="8" required>
                                <div *ngIf="idproofno.invalid && (idproofno.dirty || idproofno.touched)" >
                                    <small class="text-danger" *ngIf="idproofno.errors.pattern">
                                        Licence Must be valid
                                    </small>
                                    <!-- <small class="text-danger" *ngIf="phone_number4.errors.required">
                                        Phone is required.
                                    </small> -->
                                </div>
                        </div>
                        <div class="col-lg-4 mt-2" *ngIf="schoolIdField">
                            <label for=""><strong>Id Proof Number</strong></label>
                            <input id="my-input" class="form-control" placeholder="Enter Your SchoolId Number" type="text"
                                name="idproofno" [(ngModel)]="model.idproofno" #idproofno="ngModel">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <button class="btn btn-danger mt-4 " type="submit" id="btn_save2"
                                (click)="profileUpdate()">Save</button>
                        </div>

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<!--Modal: modalRelatedContent-->
<div class="modal fade right" id="modalRelatedContent" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-info modal-dialog-centered" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
          <h5>Change Profile Image</h5>
          <button type="button" class="close" id="uploadModal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">

        <div class="container">
            <div class="row">
                 <div class="col-lg-12 image-upload">
                        <label for="file-input">
                            <h6 style="cursor: pointer;"> Choose Image From Library</h6>
                            <hr>
                        </label>

                        <input id="file-input" type="file" (change)="handleFileInput($event.target.files)" />
                </div>
                 <div class="col-lg-12">
                     <h6 style="cursor: pointer;" (click)="getAllAvtarImage()" data-toggle="modal" data-target="#modalSocial">Choose Image From Avtar</h6>
                 </div>   
            </div>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: modalRelatedContent-->

<!--Modal: modalSocial-->
<div class="modal fade" id="modalSocial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">

    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header light-blue darken-3 white-text">
        <h4 class="title text-center"><i class="fa fa-users"></i> Avtar</h4>
        <button type="button" class="close"id="avtarModal" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>

      <!--Body-->
      <div class="modal-body mb-0 text-center">

          <div class="container">
              <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-2 p-2" *ngFor="let avtar of avtarImage.male">
                      <img [src]=avtar.image_url alt="" class="rounded-circle imgPro"
                      (click)="chooseAvtar(avtar.id)">
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 p-2" *ngFor="let avtar of avtarImage.female">
                    <img [src]=avtar.image_url alt="" class="rounded-circle imgPro" 
                    (click)="chooseAvtar(avtar.id)">
                </div>
                <!-- <div class="col-lg-2 col-md-2 col-sm-2 p-2">
                    <img src="assets/img/trend.jpg" alt="" class="rounded-circle imgPro">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 p-2">
                    <img src="assets/img/trend.jpg" alt="" class="rounded-circle imgPro">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 p-2">
                    <img src="assets/img/trend.jpg" alt="" class="rounded-circle imgPro">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 p-2">
                    <img src="assets/img/trend.jpg" alt="" class="rounded-circle imgPro">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 p-2">
                    <img src="assets/img/trend.jpg" alt="" class="rounded-circle imgPro">
                </div> -->
              </div>
          </div>
        
      </div>

    </div>
    <!--/.Content-->

  </div>
</div>
<!--Modal: modalSocial-->