<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="topnav ">

    <div class="login-container ">
        <form class="form-inline mt-2" (ngSubmit)="login()" #f="ngForm">
            <div class="form-group mr-2">
                <input type="email" class="form-control" placeholder="Email/Mobile" id="email"
                    placeholder="UserName/Email" name="email" [(ngModel)]="loginmodel.email" #email="ngModel"  required>
            </div>
            <div class="form-group mr-2">
                <input type="password" class="form-control" placeholder="Password" id="password" name="password"
                    [(ngModel)]="loginmodel.password" #password="ngModel" required>
            </div>

            <button type="submit" class="btn btn-primary mr-3 ">Submit</button>
        </form>
    </div>
</div>
<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-2 ">
            <img src="assets/img/doodle (2).png" class="img-fluid" width="200" alt="">
        </div>

        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-4">

                </div>
                <div class="col-lg-4 mt-1">
                    <img src="assets/img/logoRegister (2).png" class="img-fluid  mx-auto d-block" alt="">
                </div>
                <div class="col-lg-4"></div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-4">
                    <button class="btn  bckBtn" routerLink="/bckBtn"><i class="fa fa-arrow-left"
                            aria-hidden="true"></i></button>
                    <div class="my-1"></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="{{selectedAvtar}}" class="img-fluid  mx-auto d-block" alt="">
                        </div>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4" *ngFor="let avtar of avtarList.all_image"> 
                                    <img src="{{avtar.image_url}}" class="img-fluid" alt="">
                                    <!-- <img src="assets/img/Group 5524.svg" class="img-fluid" alt=""> -->
                                </div>
                                <!-- <div class="col-lg-4"> <img src="assets/img/Group 5527.svg" class="img-fluid" alt="">
                                </div>
                                <div class="col-lg-4"> <img src="assets/img/Group 5524.svg" class="img-fluid" alt="">
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 card">

                    <form (ngSubmit)="register()" #f="ngForm">
                        <div class="form-group">
                            <label for="name" class="label">Name <span class="required">*</span> </label>
                            <input type="text" class="form-control" id="exampleInputEmail1" name="name"
                                [(ngModel)]="model.name" #name="ngModel" aria-describedby="emailHelp" required />
                            <div *ngIf="name.invalid && (name.dirty || name.touched)" >
                                <small *ngIf="name.errors.required" class="text-danger">
                                    Name is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="label">Display Name <span class="required">*</span> </label>
                            <input type="text" class="form-control" id="exampleInputEmail1" name="displayName"
                                [(ngModel)]="model.displayName" #displayName="ngModel" aria-describedby="emailHelp"
                                required />

                            <div *ngIf="displayName.invalid && (displayName.dirty || displayName.touched)"
                                >
                                <small class="text-danger" *ngIf="displayName.errors.required">
                                    Display Name is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- <label class="sr-only" for="inlineFormInputGroup">Username</label> -->
                            <label for="name" class="label">User Name <span class="required">*</span></label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">1418.com/</div>
                                </div>
                                <input type="text" class="form-control" id="inlineFormInputGroup" name="userid"
                                    [(ngModel)]="model.userid" #userid="ngModel" required>
                            </div>
                            <div *ngIf="userid.invalid && (userid.dirty || userid.touched)" >
                                <small class="text-danger" *ngIf="userid.errors.required">
                                    User Name is required.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="label">Password <span class="required">*</span></label>
                            <input id="password-field" type="password" class="form-control" name="password"
                                [type]="hide ? 'password' : 'text'" [(ngModel)]="model.password" #password="ngModel"
                                required>
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"
                                (click)="showPassword()" *ngIf="passwordShow"></span>
                            <span toggle="#password-field" class="fa fa-eye-slash field-icon toggle-password"
                                (click)="hidePassword()" *ngIf="passwordHide"></span>    
                            <div *ngIf="password.invalid && (password.dirty || password.touched)"
                               >
                                <small class="text-danger" *ngIf="password.errors.required">
                                    Password is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="label">Email <span class="required">*</span></label>
                            <input type="email" class="form-control" id="exampleInputPassword1" name="email"
                                [pattern]="emailPattern" [(ngModel)]="model.email" #email="ngModel" required>
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" >
                                <small class="text-danger" *ngIf="email.errors.required">
                                    Email is required.
                                </small>
                                <p class="text-danger" *ngIf="email.errors.pattern">
                                    Email should be valid
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="label">Phone <span class="required">*</span></label>
                            <input type="phone" class="form-control" id="exampleInputPassword1" name="phone"
                                maxlength="10" minlength="10" [(ngModel)]="model.phone" #phone="ngModel"
                                [pattern]="mobNumberPattern" required>
                            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" >
                                <small class="text-danger" *ngIf="phone.errors.pattern">
                                    Phone Number Must valid
                                </small>
                                <small class="text-danger" *ngIf="phone.errors.required">
                                    Phone is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <label for="age" class="label">Date of Birth <span class="required">*</span></label>
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='date' class="form-control" name="dob" [(ngModel)]="model.dob"
                                                #dob="ngModel" (change)="ageFromDateOfBirth($event.target.value)"
                                                required />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="age" class="label">Age <span class="required">*</span></label>
                                        <div class='input-group age' id='datetimepicker1'>
                                            <input type='text' class="form-control" name="age" [(ngModel)]="model.age"
                                                #age="ngModel" required />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1"
                               name="term" #term="ngModel" [(ngModel)]="model.term" required>
                                <label class="form-check-label" for="exampleCheck1">By signing up,you agree to 
                                    <a style="cursor: pointer;" routerLink="/term&condition"> Terms & Conditions and Privacy Policy</a>  of 1418
                                </label>
                              </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" [disabled]="!f.valid" class="btn createuserBtn ">Create user</button>

                        </div>

                    </form>

                </div>

                <div class="col-lg-3">
                    <div class="my-5"></div>
                    <div class="row" style="margin-left: -26px;">
                        <div class="col-lg-3">

                            <img src="assets/img/fb.png" alt="" class="img-fluid socialIcon"
                                (click)="socialSignIn('facebook')">
                            <!-- <div class="my-3"></div>
                            <img src="assets/img/insta.jpg" alt="" class="img-fluid socialIcon"
                                (click)="socialSignIn('instagram')"> -->
                            <div class="my-3"></div>
                            <img src="assets/img/google.png" alt="" class="img-fluid socialIcon"
                                (click)="socialSignIn('google')">

                        </div>
                        <div class="col-lg-4">

                        </div>
                        <div class="col-lg-4"></div>

                    </div>
                </div>

            </div>

        </div>
        <div class="col-lg-2">
            <img src="assets/img/doodle (2).png" class="img-fluid" alt="">

        </div>
    </div>
</div>

