.btn-danger {
    background: #ED5D42;
}

.nav-link {
    color: gray;
    font-weight: bold;
}

.subTitle {
    background: rgb(13, 119, 27);
    color: white;
    opacity: 0.8;
    height: 40px;
    opacity: 0.8;
    height: 35px;
}

.sponsoredVideo{
    max-width: 100%;
    height: 220px;
}

.nav-link:hover {
    color: gray;
    font-weight: bold;
    border: none;
    color: #ED5D42;
}

.nav-link:hover {
    color: gray;
    font-weight: bold;
    border: none;
    color: #ED5D42;
}

.bgHome {
    width: 40px;
    height: 60px;
    background: green;
}

.home {
    color: rgb(255, 255, 255);
    background: red;
    position: relative;
    font-size: 30px;
}

.searchBox {
    border-radius: 8px;
    margin-left: -490px;
    height: 40px;
    z-index: -1;
}

.HeadDiv {
    height: 100%;
    width: 100%;
    background: #F7F7F7;
}

.nav1 {
    background: #ED5D42;
    opacity: 1;
    height: 62px;
}

.pendingBtn {
    background: rgb(13, 119, 27);
    color: white;
    opacity: 0.8;
    height: 35px;
    /* padding: -17px; */
}

#Deadpool {
    width: 65%;
    margin-top: 7px;
    border: none;
    height: 36px;
    border-radius: 5px;
}

*:focus {
    outline: none;
}

.fa-search {
    color: rgb(0, 0, 0);
    margin-left: 205px;
    margin-top: -30px;
}

.profileImg {
    border-radius: 100%;
    border: 2px solid rgb(248, 248, 248);
}

.jumbotron1 {
    background: #ED5D42C4;
    border-radius: 23px;
    width: 625px;
    height: 95px;
    box-shadow: 0px 3px 6px #00000029;
}

.bgColor {
    background: #F7F7F7;
}


/* Tabs*/

section {
    padding: 10px 0;
}

section .section-title {
    text-align: center;
    color: #ED5D42;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#tabs {
    background: rgb(246, 246, 246);
    color: #ED5D42;
}

#tabs h6.section-title {
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: rgb(13, 119, 27);
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #ED5D42;
    font-size: 20px;
}

.CardStyle {
    background: white;
    border-radius: 12px;
}
/* nav bar */
.form-inline {
    /* right: 390px;  */
    margin-left: 14;
    position: absolute;
    left: 120px;
}

ul li {
    /* display: inline-block; */
    padding: 14px;
}

.searchBox {
    border-radius: 8px;
    margin-left: -490px;
    height: 32px;
}

.nav1 {
    background: #ED5D42;
    opacity: 1;
    height: 46px;
}

#Deadpool {
    width: 100%;
    margin-top: 7px;
    border: none;
    /* / border: solid 1px #ccc; / */
    border-radius: -50px;
}

*:focus {
    outline: none;
}


/* .fa-search {
    color: rgb(0, 0, 0);
    margin-left: 205px;
    margin-top: -27px;
} */

.profileImg {
    border-radius: 100%;
    margin-bottom: 10px;
    /* / margin-top: 7px; / */
    border: 2px solid rgb(248, 248, 248);
}

*:focus .txtar {
    outline: none;
}

::placeholder {
    color: rgb(156, 153, 153);
    opacity: 1;
    font-weight: 480;
    /* / Firefox / */
}

.imgPro {
    border-radius: 100%;
    /* / border: 2px solid red; / */
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-top: -10px;
    margin-left: 76px;
}

.navImg {
    cursor: pointer;
    position: absolute;
    left: 180px;
}

.navImg:hover {
    cursor: pointer;
    transform: scale(1.06);
}

.dropdown-menu {
    position: absolute;
    will-change: transform;
    top: -60px;
    left: -19px;
    z-index: -1;
    transform: translate3d(-11px, 90px, 0px);
}
 .form-inline
{
    margin-left: 750px;
} 
.ImgLogo {
    height: 63px;
    margin-top: -15px;
}
@media screen and (min-width: 1600px) {
    .form-inline
    {
        margin-left: 920px;
    }
    
    
    }