<div class="bgCol" style="background: lightgray;">
    <div class="container mt-3">
        <div class="row" *ngFor="let userProfile of UserProfileDetails.userdetails">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <img src="assets/img/cover.jpg" class="img-fluid img-thumbnail mt-4 coverImg" alt=""
                    *ngIf="userProfile.bg_image == null" >
                <img [src]=userProfile.bg_image class="img-fluid img-thumbnail mt-4 coverImg" alt=""
                    *ngIf="userProfile.bg_image != null">

                <div class="col-md-2 text-danger" *ngIf="!alreadyFriend && !sentRequestAlready">
                    <button type="submit" class="btn btn-primary" style="margin-top: -140px;margin-left: 900px;"
                        (click)="addPeopleFriends()">
                        <i class="fa fa-user-plus">Add Friend</i></button>
                </div>
                <div class="col-md-2 text-danger" *ngIf="alreadyFriend">
                    <button type="submit" class="btn btn-danger" style="margin-top: -140px;margin-left: 900px;"
                        (click)="unFriend()">
                        <i class="fa fa-user-times">Un-Friend</i></button>
                </div>
                <div class="col-md-2 text-danger" *ngIf="sentRequestAlready">
                    <button type="submit" class="btn btn-danger" style="margin-top: -140px;margin-left: 900px;"
                        (click)="cancelSentRequest()">
                        <i class="fa fa-user-times">Cancel Request</i></button>
                </div>
            </div>

            <div class="col-lg-5 col-sm-12 col-md-12 AboutMeDiv" style="background: white; border-radius: 10px;"
                *ngFor="let userProfile of UserProfileDetails.userdetails">
                <!-- <div class="d-flex justify-content-around align-content-end">
                    <img [src]=userProfile.photo_url width="120" height="120"
                        class="rounded-circle  align-items-center mt-2" alt="" *ngIf="userProfile.photo_url != null">
                    <img src="assets/img/avtarbg.jpg" width="100" height="100" class="img-fluid profileImg mt-2 " alt=""
                        *ngIf="userProfile.photo_url == null">
                    <p class="mt-4 profileName">{{userProfile.name}}</p>

                </div> -->
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                        <img src="assets/img/avtar.png" 
                        class="rounded-circle  align-items-center mt-2 profileImage" alt="" *ngIf="userProfile.photo_url == null">
                    <img [src]=userProfile.photo_url 
                        class="rounded-circle  align-items-center mt-2 shadow profileImage" alt=""
                        *ngIf="userProfile.photo_url != null">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <p class="mt-4 profileName">{{userProfile.name}}</p>
                    </div>
                </div>
                <!-- <h6 class="schoolName text-center ">Goes to
                    <span class="text-danger">{{userProfile.schoolname}}</span>
                </h6> -->
                <div class="mt-2"
                    *ngIf="userProfile.isprivate == 1 && UserProfileDetails.is_friend == 1 || userProfile.isprivate == 0 || userProfile.isprivate == null ">
                    <strong class="p-1">About Me</strong>
                    <h6 class="Aboutme p-1">{{userProfile.aboutus}}</h6>
                </div>
                <div class="row"
                    *ngIf="userProfile.isprivate == 1 && UserProfileDetails.is_friend == 1 || userProfile.isprivate == 0 || userProfile.isprivate == null ">

                    <div class="col-lg-12 col-md-12">
                        <h6 class="text-center text-danger">Personal Information</h6>
                        <hr>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4  ">
                        <strong>Born On</strong>
                        <h6>{{userProfile.dob}}</h6>
                    </div>
                    <!-- <div class="col-lg-4 col-md-4 col-sm-4 offset-4">
                        <Strong>Address</Strong>
                        <h6>{{userProfile.address }} </h6>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4  ">
                        <strong>State</strong>
                        <h6>{{userProfile.state}}</h6>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4  offset-4">
                        <strong>City</strong>
                        <h6>{{userProfile.city}}</h6> 
                    </div>-->

                    <div class="col-lg-4 col-md-4 col-sm-4 offset-4">
                        <Strong>Gender</Strong>
                        <h6>{{userProfile.gender}}</h6>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 ">
                        <strong>School</strong>
                        <h6 class="text-danger">{{userProfile.schoolname}}</h6>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 offset-4 ">
                        <strong>Interest</strong>
                        <h6 class="text-danger">{{userProfile.interest}}</h6>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 ">
                        <strong>Hobbies</strong>
                        <h6 class="text-danger">{{userProfile.hobbies}}</h6>
                    </div>
                    <div class="col-lg-4  col-md-4 col-sm-4 offset-4">
                        <strong>I aspire to be</strong>
                        <h6>{{userProfile.wanttobe}}</h6>
                    </div>

                    <div class="col-lg-12 col-md-12" style="margin-top: 20px;">
                        <h6 class="text-danger text-center">Additional Information</h6>
                        <hr>
                    </div>

                    <div class="col-lg-4  col-md-4 col-sm-4 ">
                        <strong>Organization Name</strong>
                        <h6>{{userProfile.schoolname}}</h6>
                    </div>
                    <div class="col-lg-4  col-md-4 col-sm-4 offset-4">
                        <strong>School Address</strong>
                        <h6>{{userProfile.schooladdress}}</h6>
                    </div>
                    <div class="col-lg-4  col-md-4 col-sm-4 ">
                        <strong>Class Name</strong>

                        <h6>{{userProfile.classname}}</h6>

                    </div>
                    <div class="col-lg-4  col-md-4 col-sm-4 offset-4">
                        <strong>Section</strong>

                        <h6>{{userProfile.section}}</h6>

                    </div>
                    <div class="col-lg-4  col-md-4 col-sm-4 ">
                        <strong>Subject Name</strong>
                        <div *ngFor="let subject of userProfile.subject_list">
                            <h6>{{subject.subjectname}}</h6>
                        </div>
                    </div>


                </div>

            </div>
            <div class="col-lg-7 col-sm-12 col-md-12 mt-4" *ngFor="let userProfile of UserProfileDetails.userdetails">

                <div class="bgCol1" style=" -webkit-box-shadow: 0px 10px 13px -7px #000000"
                    *ngIf="userProfile.isprivate == 1 && UserProfileDetails.is_friend == 0">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-10 col-s-6 p-4">
                                <h4 class="text-center"> <i class="fa fa-user-secret fa-lg" aria-hidden="true"></i> This
                                    is Private Account</h4>
                                <p class="text-center text-secondary"> <strong>Only Friends are able to view the
                                        activities</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bgCol1" style=" -webkit-box-shadow: 0px 10px 13px -7px #000000"
                    *ngIf="userProfile.isprivate == 1 && UserProfileDetails.is_friend == 1 || userProfile.isprivate == 0 || userProfile.isprivate == null ">
                    <div class="container" style="padding: 20px 26px 0 26px; margin-bottom: 30px;">
                        <div class="row">
                            <div class="col-lg-12" style="margin-bottom: 20px;">
                                <h6>Your Connections</h6>
                            </div>

                            <div class="col-sm" *ngFor="let friends of UserProfileDetails.friends_count">
                                <button type="button" class="btn btn-info button" data-toggle="modal"
                                    data-target="#friendsModal" (click)="friendList(userProfile.id)">
                                    Friends <span class="badge badge-light">{{friends.friends_count}}</span>
                                </button>
                            </div>
                            <div class="col-sm" *ngFor="let followers of UserProfileDetails.follower">
                                <button type="button" class="btn btn-info button" data-toggle="modal"
                                    data-target="#followersModal" (click)="followersList(userProfile.id)">
                                    Followers <span class="badge badge-light">{{followers.follower_count}}</span>
                                </button>
                            </div>
                            <div class="col-sm" *ngFor="let mutualFriend of UserProfileDetails.mutualfriends">
                                <button type="button" class="btn btn-info button" data-toggle="modal"
                                    data-target="#followingsModal" (click)="mutualFriendsProfile(userProfile.id)">
                                    Mutual Friends <span class="badge badge-light">{{mutualFriend.mutualfriends}}</span>
                                </button>
                            </div>
                            <div class="col-sm">

                                <button type="submit" class="btn btn-danger button dropdown-toggle"
                                    data-toggle="dropdown">
                                    More</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" style="cursor: pointer;" (click)="reportUser()">Report</a>
                                    <a class="dropdown-item" style="cursor: pointer;" (click)="blockUser()">Block
                                        User</a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <!--------Post Container---------->

                <!-------Social Handle Container------->
                <div class="bgCol1" style=" -webkit-box-shadow: 0px 10px 13px -7px #000000; margin-top: 40px;"
                    *ngIf="userProfile.isprivate == 1 && UserProfileDetails.is_friend == 1 || userProfile.isprivate == 0 || userProfile.isprivate == null ">
                    <div class="container" style="padding: 20px 26px 0 26px; margin-bottom: 30px;">
                        <div class="row">
                            <div class="col-lg-12" style="margin-bottom: 20px;">
                                <h6>{{userProfile.name}} Social Media Handle</h6>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-10 ">


                                <ul class="socialIcons text-center">
                                    <li class="p-5" id="slide">
                                        <a href="{{userProfile.fb_handle_url}}" target="_blank"
                                            rel="noopener noreferrer">
                                            <i class="fa fa-facebook-square fa-3x" aria-hidden="true"
                                                style="color: blue; cursor: pointer; transition: 0.9s;"></i>
                                        </a>

                                    </li>
                                    <li class="p-5" id="slide">
                                        <a href="{{userProfile.twitter_handle_url}}" target="_blank"
                                            rel="noopener noreferrer">
                                            <i class="fa fa-google-plus-official fa-3x" aria-hidden="true"
                                                style="color: blue;cursor: pointer;"></i>
                                        </a>

                                    </li>
                                    <li class="p-5" id="slide">
                                        <a href="{{userProfile.insta_handle_url}}" target="_blank"
                                            rel="noopener noreferrer">
                                            <i class="fa fa-instagram fa-3x" aria-hidden="true"
                                                style="color: rgb(255, 0, 106); cursor: pointer;"></i>
                                        </a>

                                    </li>
                                </ul>

                            </div>

                        </div>
                    </div>
                </div>
                <!-------Social Handle Container------->


                <div class="bgCol">

                    <div class="postCol" *ngFor="let post_content of UserProfileDetails.posts">
                        <div class="container" style="padding: 10px 26px 0 26px;" *ngIf="post_content.sharepost == 0">

                            <div class="row"
                                style="background: white;-webkit-box-shadow: 0px 10px 13px -7px #000000, 4px 5px 15px 5px rgba(0,0,0,0); 
                            box-shadow: 0px 10px 13px -7px #000000, 4px 5px 15px 5px rgba(0,0,0,0);padding: 0px 14px 14px 14px;">

                                <div class="col-lg-12 pr-0 pl-0">
                                    <div class="row ">
                                        <div class="col-lg-2 col-md-10 col-sm-10 mt-2 ml-1">
                                            <img src="assets/img/avtar.png"
                                                class="img-fluid img3 align-items-center mb-2" alt=""
                                                *ngIf="post_content.user.photo_url == null">
                                            <img [src]=post_content.user.photo_url
                class="img-fluid img3 align-items-center mb-2" alt=""
                *ngIf="post_content.user.photo_url != null">
                                        </div>
                                        <div class="col-lg-7 col-md-5 col-sm-5 m-0 p-0 mt-2">

                                            <!----------own profile routing start--------->
                                            <div class=" d-flex justify-content-between"
                                                *ngIf="socialusers.id == post_content.user.id">
                                                <!-- <div *ngIf="post_content.tag_post.length == 0"> -->
                                                <p>
                                                    <span><strong>
                                                            <a style="cursor: pointer;font-size: 18px; font-family: Arial, Helvetica, sans-serif;color: rgb(232, 93, 61); font-weight: 600;"
                                                                [routerLink]="['/navigation/profile', post_content.user.id]">{{post_content.user.name}}</a>
                                                        </strong></span>
                                                </p>
                                                <!-- </div> -->
                                                <!-- <div *ngIf="post_content.tag_post.length != 0">
                    <p >
                        <span><strong>
                                <a style="cursor: pointer;font-size: 18px; font-family: Arial, Helvetica, sans-serif;color: rgb(232, 93, 61); font-weight: 600;"
                                    [routerLink]="['/navigation/profile', post_content.user.id]">{{post_content.user.name | titlecase}}</a>
                            </strong></span>
                        is with <span
                            *ngFor="let tagFriendData of post_content.tag_post | slice:0:1; let i =index">
                            <span><strong>
                                    <a style="cursor: pointer;font-size: 16px; font-family: Arial, Helvetica, sans-serif;color: rgb(232, 93, 61); font-weight: 600;"
                                        [routerLink]="['/navigation/userProfile', tagFriendData.id]">{{tagFriendData.name}}</a>
                                </strong></span> </span>
                        <span *ngIf="post_content.tag_post.length > 1"> and <strong>
                                <a style="cursor: pointer;font-size: 16px; font-family: Arial, Helvetica, sans-serif;color: rgb(232, 93, 61); font-weight: 600;"
                                    data-toggle="modal" data-target="#tagFriendDetails" (click)="getPostDetailsForTagView(post_content.id)">
                                    {{post_content.tag_post.length - 1}} Others</a>
                            </strong></span></p>
                </div> -->

                                            </div>

                                            <!-----------own profile routing end--------->
                                            <div class=" d-flex justify-content-between"
                                            *ngIf="socialusers.id != post_content.user.id">
                                            <!-- <div *ngIf="post_content.tag_post.length == 0"> -->
                                            <p>
                                                <span><strong>
                                                        <a style="cursor: pointer;font-size: 18px; font-family: Arial, Helvetica, sans-serif;color: rgb(232, 93, 61); font-weight: 600;"
                                                            [routerLink]="['/navigation/userProfile', post_content.user.id]">{{post_content.user.name}}</a>
                                                    </strong></span>
                                            </p>
                                           
                                        </div>
                                            <p class="hasTag">{{post_content.created_at | timeAgo}}
                                                <span>
                                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 p-2">
                                            <div class="dropdown">
                                                <button type="button" class="dropdown-toggle2" data-toggle="dropdown">
                                                    <i class="fa fa-ellipsis-h"></i>

                                                </button>
                                                <div class="dropdown-menu"
                                                    *ngIf="post_content.user_id == this.socialusers.id">
                                                    <a class="dropdown-item text-danger" style="cursor: pointer;"
                                                        data-toggle="modal" data-target="#myModal"
                                                        (click)="showPost(post_content.id)"><i
                                                            class="fa fa-pencil-square-o" style="font-size:20px"></i>
                                                        Edit</a>
                                                    <a class="dropdown-item text-danger" style="cursor: pointer;"
                                                        (click)="deletePost(post_content.id)">
                                                        <i class="fa fa-trash-o" style="font-size:20px"></i> Delete</a>

                                                </div>
                                                <div class="dropdown-menu"
                                                    *ngIf="post_content.user_id != this.socialusers.id">
                                                    <!-- <a class="dropdown-item text-danger" style="cursor: pointer;"><i class="fa fa-eye-slash"
style="font-size:20px"></i> Hide</a> -->
                                                    <a class="dropdown-item text-danger" style="cursor: pointer;"
                                                        (click)="reportPost(post_content.id,post_content.user_id)"><i
                                                            class="fa fa-file-text-o" style="font-size:20px"></i>
                                                        Report</a>

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-10">
                                        <div class="row">

                                            <div class="col-lg-12"
                                                *ngIf="post_content.content != null && post_content.content != 0 && post_content.content != ''">
                                                <p class="text-justify CommentContent p-3">

                                                    <span
                                                        [innerHTML]="(showMore) ? post_content.content : post_content.content | slice:0:500 | linkify"></span>

                                                    <!-- {{(showMore) ? post_content.content : post_content.content | slice:0:100}} -->
                                                    <span
                                                        *ngIf="post_content.content.length > showChar && !showMore">...</span>
                                                    <a href="javascript:;"
                                                        *ngIf="post_content.content.length > showChar && !showMore"
                                                        (click)="showMore=true">Read More</a>
                                                    <a href="javascript:;"
                                                        *ngIf="post_content.content.length > showChar && showMore"
                                                        (click)="showMore=false">Read Less</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!--------------Video and Image Container---------------->
                                            <div class="col-lg-12 col-md-10 col-sm-10 " *ngIf="post_content.has_image">
                                                <div class="card">
                                                    <img [src]=post_content.has_image class="img-fluid metaDataImg"
                                                        alt="" data-toggle="modal" data-target="#postModal"
                                                        (click)="getPostDetailsById(post_content.id)">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-10 col-sm-10" *ngIf="post_content.has_video;">
                                                <video id="video" controls class="postVideo">
                                                    <source [src]="post_content.has_video" type="video/mp4">
                                                    Your browser does not support the video tag.
                                                </video>

                                            </div>
                                            <div class="col-lg-12 col-md-10 col-sm-10"
                                                *ngIf="post_content.metadata == 1 && !post_content.has_image && !post_content.has_video">
                                                <div class="card">
                                                    <img [src]=post_content.url_image alt="Card image"
                                                        class="img-fluid metaDataImg"
                                                        *ngIf="post_content.url_image != null">
                                                    <div class="card-body" style="background: rgb(248, 241, 241);">
                                                        <!-- <p class="card-text p-0"
                            style="font-size: 16px; font-family: Arial, Helvetica, sans-serif;font-weight: 550; color: blue; cursor: pointer;">
                            {{post_content.url | shortDomain}}</p> -->
                                                        <a href="{{post_content.url}}" target="_blank"
                                                            rel="noopener noreferrer"
                                                            style="font-size: 14px; font-family: Arial, Helvetica, sans-serif;font-weight: bold; color: blue;">
                                                            {{post_content.url | shortDomain}}</a>
                                                        <a class="card-text" href="{{post_content.url}}" target="_blank"
                                                            rel="metadata url"
                                                            style="text-decoration: none; color: blue;">
                                                            <p
                                                                style="font-size: 14px; font-weight: bold;font-family: Arial, Helvetica, sans-serif;">
                                                                {{post_content.url_title}}</p>
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-lg-12 col-md-10 col-sm-10 " *ngIf="post_content.has_pdf;">
                                                <iframe class="responsive-iframe"
                                                    [src]="post_content.has_pdf | safe"></iframe>
                                                <div class="card p-0" style="margin-top: -10px; background: grey;">
                                                    <div class="card-body p-0" style="height: 40px;">
                                                        <a href="{{post_content.has_pdf}}" target="_blank"
                                                            rel="noopener noreferrer" style="text-decoration: none;">
                                                            <h6 class="text-white text-center">View Document</h6>
                                                        </a>
                                                    </div>
                                                </div>

                                                <!-- <div class="col-lg-6" *ngIf="post_content.has_pdf;">

                 </div> -->
                                            </div>



                                            <!--------------Video and Image Container End----------->

                                        </div>

                                    </div>

                                    <div class="row p-3" style="background: white;">
                                        <div class="col-lg-12">

                                            <!-----------Comment Count Start------->
                                            <div class="row">

                                                <div class="col-lg-12 col-md-10 col-sm-10 mb-3"
                                                    style="margin-left: 62px;">
                                                    <!-- <hr> -->
                                                    <div class="row">
                                                        <div class="col-lg-4" style="cursor: pointer;"
                                                            (click)="likePost(post_content.id)"> <i
                                                                class="fa fa-heart-o" aria-hidden="true"></i>
                                                            {{post_content.likes}}</div>
                                                        <div class="col-lg-4" style="cursor: pointer;"><i
                                                                class="fa fa-comment" aria-hidden="true"></i>
                                                            {{post_content.children_count}}
                                                        </div>
                                                        <div class="col-lg-4" style="cursor: pointer;">
                                                            <div class="dropdown">
                                                                <i class="fa fa-share" aria-hidden="true"
                                                                    id="dropdownMenu2" data-toggle="dropdown"
                                                                    aria-haspopup="true" aria-expanded="false">
                                                                    {{post_content.share_count}}</i>
                                                                <!-- <div class="dropdown-menu sharedropdown"
                                    aria-labelledby="dropdownMenu2">
                                    <a class="dropdown-item" style="cursor: pointer;"
                                        (click)="sharePost(post_content.id)">Share in
                                        Timeline</a>
                                    <a class="dropdown-item" style="cursor: pointer;"
                                        (click)="getPostDetailsById(post_content.id)"
                                        data-toggle="modal"
                                        data-target="#modalPush">Share in a group
                                    </a>
                                    <a class="dropdown-item" style="cursor: pointer;"
                                        (click)="getPostDetailsById(post_content.id)"
                                        data-toggle="modal"
                                        data-target="#shareFriendModal">Share with
                                        friends
                                    </a>

                                </div> -->
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <!-- <hr class="p-0" style="margin-right: 80px;"> -->
                                                </div>

                                                <!------------New Comment Section Design Start------------>


                                                <div class="commentSection mt-2">

                                                    <div class="row">
                                                        <div class="col-lg-12 p-1"
                                                            *ngFor="let children of post_content.children">

                                                            <div class="row p-0">
                                                                <div class="col-lg-2 col-md-10 col-sm-10 ">
                                                                    <img src="assets/img/avtar.png"
                                                                        class="img-fluid commentIcon align-items-center mt-0"
                                                                        alt="">
                                                                    <!-- <div
                                        class="d-flex justify-content-between align-items-center">
                                        <div class="my-1"></div>


                                        <i class="fa fa-heart-o mr-2"  (click)="Like()" style="color: red;"   > {{count}}</i>
                                    </div> -->
                                                                </div>


                                                                <div class="col-lg-10 col-md-5 col-sm-5 ">
                                                                    <div class="justify-content-center p-1"
                                                                        style="background: whitesmoke; border-radius: 1rem;">
                                                                        <div class="justify-content-between d-flex">
                                                                            <h6 class="p-0 mt-1"
                                                                                style="font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: rgb(232, 93, 61); font-weight: 500;">
                                                                                {{children.username}} </h6>
                                                                            <!-- <p class="Ago1  p-2">
                                            {{children.created_at | timeAgo}}
                                        </p>-->

                                                                        </div>
                                                                        <p class="hasTag1 ml-1">{{children.content}}
                                                                        </p>
                                                                        <div class="col-lg-6 col-md-6 col-sm-6 ml-1 mb-1"
                                                                            *ngIf="children.has_image;">

                                                                            <img [src]="children.has_image"
                                                                                class="img-fluid commentImg"
                                                                                alt="Comment Image">

                                                                        </div>
                                                                        <p class="Ago2 ml-1">
                                                                            {{children.created_at | timeAgo}}</p>


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12">

                                                    <div class="row">
                                                        <div class="col-lg-1 p-1" style="margin-top: 11px;">
                                                            <!-- <div class="my-2"></div> -->
                                                            <img src="assets/img/avtar.png" class="img1" height="35"
                                                                width="35" alt="">
                                                            <!-- <img [src]=mode.photoUrl class="img1" height="35" width="35"
                                alt="" *ngIf="mode.photoUrl != null"> -->
                                                        </div>
                                                        <div class="col-lg-11">
                                                            <div class="my-2">
                                                                <form #f="ngForm"
                                                                    (keyup.enter)="addComment(post_content.id,model.comment)">
                                                                    <div class="row">
                                                                        <div class="col-lg-11"
                                                                            style="margin-right: -12px;">
                                                                            <div class="form-group">
                                                                                <!-- <input type="text" #parent_id="ngModel" [(ngModel)]="model.post_content.id" >-->
                                                                                <input type="text" name="comment"
                                                                                    #comment="ngModel"
                                                                                    [(ngModel)]="model.comment"
                                                                                    class="form-control CommmentField"
                                                                                    placeholder="Write a Comment"
                                                                                    (ngModelChange)="doSomething($event)"
                                                                                    on-focus="focusFunction(post_content.id)">

                                                                            </div>

                                                                        </div>

                                                                        <div class="col-lg-1">
                                                                            <div class="col-lg-1 d-flex justify-content-start mt-3"
                                                                                style="margin-left: -100px;">
                                                                                <img src="assets/img/picture.svg" alt=""
                                                                                    width="15" height="15"
                                                                                    (click)="triggerUpload(post_content.id)">
                                                                                <input type="file"
                                                                                    id="comment_file{{post_content.id}}"
                                                                                    (change)="createCommentImage($event.target.files )"
                                                                                    style="display: none;" />
                                                                                <i (click)="show2(post_content.id)"
                                                                                    style="cursor: pointer; ">
                                                                                    <img src="assets/img/happy.png"
                                                                                        height="20" width="20" alt=""
                                                                                        style="margin-top: -15px; padding-left: 5px;"
                                                                                        *ngIf="showCommentEmoji">
                                                                                </i>
                                                                                <i (click)="closeCommentEmoji()"
                                                                                    style="cursor: pointer; ">
                                                                                    <img src="assets/img/happy.png"
                                                                                        height="20" width="20" alt=""
                                                                                        style="margin-top: -15px; padding-left: 5px;"
                                                                                        *ngIf="closeCommentEmojiFlag">
                                                                                </i>
                                                                                <span *ngIf="commentEmoji">
                                                                                    <emoji-mart
                                                                                        (emojiClick)="handleComment($event)"
                                                                                        *ngIf="post_content.id == status_id">
                                                                                    </emoji-mart>
                                                                                </span>
                                                                                <!-- <img src="assets/img/happy.png" class="ml-1" width="15"
height="15" alt=""> -->
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                </form>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!------------New Commnet Section Design End-------------->


                                            </div>
                                            <!-----------Comment Count End------->
                                            <div class="row p-1">
                                                <!-- <div class="col-lg-12 col-md-10 col-sm-10">
                    <hr>
                    <div class="row">
                        <div class="col-lg-4" style="cursor: pointer;"
                            (click)="likePost(post_content.id)"> <i
                                class="fa fa-heart-o" aria-hidden="true"></i> Like</div>
                        <div class="col-lg-4" style="cursor: pointer;"><i
                                class="fa fa-comment" aria-hidden="true"></i> Comment
                        </div>
                        <div class="col-lg-4" style="cursor: pointer;">
                            <div class="dropdown">
                                <i class="fa fa-share" aria-hidden="true"
                                    id="dropdownMenu2" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Share</i>
                                <div class="dropdown-menu sharedropdown"
                                    aria-labelledby="dropdownMenu2">
                                    <a class="dropdown-item" style="cursor: pointer;"
                                        (click)="sharePost(post_content.id)">Share in
                                        Timeline</a>
                                    <a class="dropdown-item" style="cursor: pointer;"
                                        (click)="getPostDetailsById(post_content.id)"
                                        data-toggle="modal"
                                        data-target="#modalPush">Share in a
                                        group</a>

                                </div>
                            </div>

                        </div>
                    </div>
                </div> -->



                                                <!-- <p class="text-dark p-3" style="font-size: 15px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; cursor: pointer;">View Comments</p>  -->






                                            </div>

                                        </div>
                                        <div class="col-lg-12" *ngIf="tagSection && input_id == post_content.id">

                                            <div class="form-group">

                                                <ng-multiselect-dropdown name="groupname" id="groupname"
                                                    [placeholder]="'Tag Friends'" [data]="dropdownList"
                                                    [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                                    (onSelect)="onItemSelect($event)" (onDeSelect)="onDeSelect($event)"
                                                    (onSelectAll)="onSelectAll($event)">
                                                </ng-multiselect-dropdown>
                                            </div>
                                        </div>
                                        <div class="shadow" *ngIf="imgURL!='' && div_id == post_content.id">
                                            <img [src]="imgURL" style="width: 400px; height: 350px;" />
                                            <button type="button" (click)="close_img()" class="close"
                                                aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>



                                </div>

                            </div>

                        </div>

                        <!---------------------share post start-------->

                        <div class="container" style="padding: 10px 26px 0 26px;" *ngIf="post_content.sharepost != 0">


                            <div class="row" style="background: white;-webkit-box-shadow: 0px 10px 13px -7px #000000, 4px 5px 15px 5px rgba(0,0,0,0); 
     box-shadow: 0px 10px 13px -7px #000000, 4px 5px 15px 5px rgba(0,0,0,0);padding: 0px 14px 14px 14px;"
                                *ngFor="let share_content of post_content.sharepost">

                                <div class="col-lg-12 pr-0 pl-0">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-10 col-sm-10 mt-2">
                                            <img src="assets/img/avtar.png"
                                                class="img-fluid img3 align-items-center mb-2" alt=""
                                                *ngIf="post_content.user.photo_url == null">
                                            <img [src]=post_content.user.photo_url
                                                class="img-fluid img3 align-items-center mb-2" alt=""
                                                *ngIf="post_content.user.photo_url != null">
                                        </div>
                                        <div class="col-lg-7 col-md-5 col-sm-5 m-0 p-0">
                                            <div class=" d-flex justify-content-between"
                                                *ngIf="socialusers.id == post_content.user.id">
                                                <p class="p-0"
                                                    style="cursor: pointer;font-size: 18px; font-family: Arial, Helvetica, sans-serif;color: rgb(232, 93, 61); font-weight: 600;"
                                                    [routerLink]="['/navigation/profile', post_content.user.id]">
                                                    {{post_content.user.name | titlecase}} </p>
                                            </div>
                                            <div class=" d-flex justify-content-between"
                                                *ngIf="socialusers.id != post_content.user.id">
                                                <p class="p-0"
                                                    style="cursor: pointer;font-size: 18px; font-family: Arial, Helvetica, sans-serif;color: rgb(232, 93, 61); font-weight: 600;"
                                                    [routerLink]="['/navigation/userProfile', post_content.user.id]">
                                                    {{post_content.user.name | titlecase}} </p>
                                            </div>
                                            <p class="hasTag">{{post_content.created_at | timeAgo}}</p>
                                        </div>

                                        <div class="col-lg-2 col-md-2 col-sm-2 p-3">
                                            <div class="dropdown">
                                                <button type="button" class="dropdown-toggle2" data-toggle="dropdown">
                                                    <i class="fa fa-ellipsis-h"></i>

                                                </button>
                                                <div class="dropdown-menu"
                                                    *ngIf="post_content.user_id == this.socialusers.id">
                                                    <a class="dropdown-item text-danger" style="cursor: pointer;"
                                                        data-toggle="modal" data-target="#myModal"
                                                        (click)="showPost(post_content.id)"><i
                                                            class="fa fa-pencil-square-o" style="font-size:20px"></i>
                                                        Edit</a>
                                                    <a class="dropdown-item text-danger" style="cursor: pointer;"
                                                        (click)="deletePost(post_content.id)">
                                                        <i class="fa fa-trash-o" style="font-size:20px"></i> Delete</a>

                                                </div>
                                                <div class="dropdown-menu"
                                                    *ngIf="post_content.user_id != this.socialusers.id">
                                                    <!-- <a class="dropdown-item text-danger" style="cursor: pointer;"><i class="fa fa-eye-slash"
                    style="font-size:20px"></i> Hide</a> -->
                                                    <a class="dropdown-item text-danger" style="cursor: pointer;"
                                                        (click)="reportPost(post_content.id,post_content.user_id)"><i
                                                            class="fa fa-file-text-o" style="font-size:20px"></i>
                                                        Report</a>

                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                    <!---------share information------------>

                                    <div class="row">

                                        <div class="col-lg-12 col-md-12 col-sm-12 mt-1">
                                            <div class="row">
                                                <div class="col-lg-2 col-md-10 col-sm-10">
                                                    <img src="assets/img/avtar.png"
                                                        class="img-fluid img3 align-items-center mb-2" alt="">

                                                </div>
                                                <div class="col-lg-7 col-md-5 col-sm-5 m-0 p-0">
                                                    <div class=" d-flex justify-content-between "
                                                        *ngIf="socialusers.id == share_content.user_id">
                                                        <p class="p-0 "
                                                            style="cursor: pointer;font-size: 18px; font-family: Arial, Helvetica, sans-serif;color: rgb(232, 93, 61); font-weight: 600;"
                                                            [routerLink]="['/navigation/profile', share_content.user_id]">
                                                            {{share_content.username | titlecase}} </p>
                                                    </div>
                                                    <div class=" d-flex justify-content-between "
                                                        *ngIf="socialusers.id != share_content.user_id">
                                                        <p class="p-0"
                                                            style="cursor: pointer;font-size: 18px; font-family: Arial, Helvetica, sans-serif;color: rgb(232, 93, 61); font-weight: 600;"
                                                            [routerLink]="['/navigation/userProfile', share_content.user_id]">
                                                            {{share_content.username | titlecase}} </p>
                                                    </div>
                                                    <p class="hasTag">{{share_content.created_at | timeAgo}}</p>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-10">
                                        <div class="row">

                                            <div class="col-lg-12 col-md-12 col-sm-10"
                                                *ngIf="share_content.content != null && share_content.content != 0 && share_content.content != ''">
                                                <p class="text-justify CommentContent p-3">

                                                    <span
                                                        [innerHTML]="(showMore) ? share_content.content : share_content.content | slice:0:200 | linkify"></span>

                                                    <span
                                                        *ngIf="share_content.content.length > showChar && !showMore">...</span>
                                                    <a href="javascript:;"
                                                        *ngIf="share_content.content.length > showChar && !showMore"
                                                        (click)="showMore=true">Read More</a>
                                                    <a href="javascript:;"
                                                        *ngIf="share_content.content.length > showChar && showMore"
                                                        (click)="showMore=false">Read Less</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!--------------Video and Image Container---------------->
                                            <div class="col-lg-12 col-md-12 col-sm-10" *ngIf="share_content.has_image">
                                                <div class="card">
                                                    <img [src]=share_content.has_image class="img-fluid metaDataImg"
                                                        alt="" data-toggle="modal" data-target="#postModal"
                                                        (click)="getPostDetailsById(share_content.id)">
                                                </div>
                                                <!-- <img [src]=share_content.has_image class="img-fluid designImg" alt=""
                                                data-toggle="modal" data-target="#postModal" (click)="getPostDetailsById(share_content.id)"> -->

                                            </div>
                                            <div class="col-lg-12 col-md-10 col-sm-10" *ngIf="share_content.has_video;">

                                                <video id="video" width="600" controls class="postVideo">
                                                    <source [src]="share_content.has_video" type="video/mp4">
                                                    Your browser does not support the video tag.
                                                </video>
                                                <!-- <div class="col-lg-12 col-md-10 col-sm-10 "
                                                    *ngIf="post_content.has_image"
                                                    (click)="getPostDetailsById(post_content.id)" data-toggle="modal"
                                                    data-target="#exampleModalCenter1" style="cursor: pointer;">

                                                    <img [src]="post_content.has_image" class="img-fluid designImg"
                                                        alt="">

                                                </div> -->


                                            </div>
                                            <div class="col-lg-12 col-md-10 col-sm-10"
                                                *ngIf="share_content.metadata == 1 && !share_content.has_image && !share_content.has_video">
                                                <div class="card">
                                                    <img [src]=share_content.url_image alt="Card image"
                                                        class="img-fluid metaDataImg"
                                                        *ngIf="share_content.url_image != null">
                                                    <div class="card-body" style="background: rgb(248, 241, 241);">
                                                        <a href="{{share_content.url}}" target="_blank"
                                                            rel="noopener noreferrer"
                                                            style="font-size: 14px; font-family: Arial, Helvetica, sans-serif;font-weight: bold; color: blue;">
                                                            {{share_content.url | shortDomain}}</a>
                                                        <a class="card-text" href="{{share_content.url}}"
                                                            target="_blank" rel="metadata url"
                                                            style="text-decoration: none; color: blue;">
                                                            <p
                                                                style="font-size: 14px; font-weight: bold;font-family: Arial, Helvetica, sans-serif;">
                                                                {{share_content.url_title}}</p>
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-lg-12 col-md-10 col-sm-10" *ngIf="share_content.has_pdf;">
                                                <iframe [src]="share_content.has_pdf | safe"
                                                    class="responsive-iframe"></iframe>
                                                <div class="card p-0" style="margin-top: -10px; background: grey;">
                                                    <div class="card-body p-0" style="height: 40px;">
                                                        <a href="{{share_content.has_pdf}}" target="_blank"
                                                            rel="noopener noreferrer" style="text-decoration: none;">
                                                            <h6 class="text-white text-center">View Document</h6>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-lg-6" *ngIf="post_content.has_pdf;">
           
                                                 </div> -->
                                            </div>


                                            <!--------------Video and Image Container End----------->

                                        </div>

                                    </div>

                                    <div class="row" style="background: white;">
                                        <div class="col-lg-12 mt-1">

                                            <!-----------Comment Count Start------->
                                            <div class="row">

                                                <div class="col-lg-12 col-md-10 col-sm-10 mb-3"
                                                    style="margin-left: 62px;">

                                                    <div class="row">
                                                        <div class="col-lg-4" style="cursor: pointer;"
                                                            (click)="likePost(post_content.id)"> <i
                                                                class="fa fa-heart-o" aria-hidden="true"></i>
                                                            {{post_content.likes}}</div>
                                                        <div class="col-lg-4" style="cursor: pointer;"><i
                                                                class="fa fa-comment" aria-hidden="true"></i>
                                                            {{post_content.children_count}}
                                                        </div>
                                                        <div class="col-lg-4" style="cursor: pointer;">
                                                            <div class="dropdown">
                                                                <i class="fa fa-share" aria-hidden="true"
                                                                    id="dropdownMenu2" data-toggle="dropdown"
                                                                    aria-haspopup="true" aria-expanded="false">
                                                                    {{post_content.share_count}}</i>
                                                                <div class="dropdown-menu sharedropdown"
                                                                    aria-labelledby="dropdownMenu2">
                                                                    <a class="dropdown-item" style="cursor: pointer;"
                                                                        (click)="sharePost(share_content.id)">Share in
                                                                        Timeline</a>
                                                                    <a class="dropdown-item" style="cursor: pointer;"
                                                                        (click)="getPostDetailsById(share_content.id)"
                                                                        data-toggle="modal"
                                                                        data-target="#modalPush">Share in a
                                                                        group</a>
                                                                    <a class="dropdown-item" style="cursor: pointer;"
                                                                        (click)="getPostDetailsById(share_content.id)"
                                                                        data-toggle="modal"
                                                                        data-target="#shareFriendModal">Share with
                                                                        friends
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>



                                                </div>

                                                <!-------New Comment Section Started------->
                                                <div class="commentSection mt-1">
                                                    <div class="row">
                                                        <div class="col-lg-12 p-1"
                                                            *ngFor="let children of post_content.children">

                                                            <div class="row p-0">
                                                                <div class="col-lg-2 col-md-10 col-sm-10 ">
                                                                    <img src="assets/img/avtar.png"
                                                                        class="img-fluid commentIcon align-items-center mt-0"
                                                                        alt="">
                                                                    <div
                                                                        class="d-flex justify-content-between align-items-center">
                                                                        <div class="my-1"></div>


                                                                        <!-- <i class="fa fa-heart-o mr-2"  (click)="Like()" style="color: red;"   > {{count}}</i> -->
                                                                    </div>
                                                                </div>


                                                                <div class="col-lg-8 col-md-5 col-sm-5 ">
                                                                    <div class="justify-content-center p-1"
                                                                        style="background: whitesmoke; border-radius: 1rem;">
                                                                        <div class="justify-content-between d-flex">
                                                                            <h5 class="p-1"
                                                                                style="color: rgb(232, 93, 61);">
                                                                                {{children.username}} </h5>


                                                                        </div>

                                                                        <p class="hasTag1 p-1 ml-1">{{children.content}}
                                                                        </p>
                                                                        <div class="col-lg-6 col-md-6 col-sm-6 "
                                                                            *ngIf="children.has_image;">

                                                                            <img [src]="children.has_image"
                                                                                class="img-fluid img5" alt="">

                                                                        </div>
                                                                        <p class="Ago2 ml-1">
                                                                            {{children.created_at | timeAgo}}
                                                                        </p>
                                                                        <!-- <hr style="margin-left: -59px"> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12">

                                                    <div class="row">
                                                        <div class="col-lg-1 p-2" style="margin-top: 11px;">
                                                            <!-- <div class="my-3"></div> -->
                                                            <img src="assets/img/avtar.png" class="img1" height="35"
                                                                width="35" alt="">
                                                            <!-- <img [src]=mode.photoUrl class="img1" height="35" width="35"
                                                                alt="" *ngIf="mode.photoUrl != null"> -->
                                                        </div>
                                                        <div class="col-lg-10">
                                                            <div class="my-3">
                                                                <form #f="ngForm"
                                                                    (keyup.enter)="addComment(post_content.id,model.comment)">
                                                                    <div class="row">
                                                                        <div class="col-lg-11"
                                                                            style="margin-right: -12px;">
                                                                            <div class="form-group">
                                                                                <!-- <input type="text" #parent_id="ngModel" [(ngModel)]="model.post_content.id" >-->
                                                                                <input type="text" name="comment"
                                                                                    #comment="ngModel"
                                                                                    [(ngModel)]="model.comment"
                                                                                    class="form-control CommmentField"
                                                                                    placeholder="Write a Comment"
                                                                                    (ngModelChange)="doSomething($event)"
                                                                                    on-focus="focusFunction(post_content.id)">

                                                                            </div>

                                                                        </div>

                                                                        <div class="col-lg-1">
                                                                            <div class="col-lg-1 d-flex justify-content-start mt-3"
                                                                                style="margin-left: -95px;">
                                                                                <img src="assets/img/picture.svg" alt=""
                                                                                    width="15" height="15"
                                                                                    (click)="triggerUpload(post_content.id)">
                                                                                <input type="file"
                                                                                    id="comment_file{{post_content.id}}"
                                                                                    (change)="createCommentImage($event.target.files )"
                                                                                    style="display: none;" />
                                                                                <i (click)="show2(post_content.id)"
                                                                                    style="cursor: pointer; ">
                                                                                    <img src="assets/img/happy.png"
                                                                                        height="20" width="20" alt=""
                                                                                        style="margin-top: -15px; padding-left: 5px;"
                                                                                        *ngIf="showCommentEmoji">
                                                                                </i>
                                                                                <i (click)="closeCommentEmoji()"
                                                                                    style="cursor: pointer; ">
                                                                                    <img src="assets/img/happy.png"
                                                                                        height="20" width="20" alt=""
                                                                                        style="margin-top: -15px; padding-left: 5px;"
                                                                                        *ngIf="closeCommentEmojiFlag">
                                                                                </i>
                                                                                <span *ngIf="commentEmoji">
                                                                                    <emoji-mart
                                                                                        (emojiClick)="handleComment($event)"
                                                                                        *ngIf="post_content.id == status_id">
                                                                                    </emoji-mart>
                                                                                </span>
                                                                                <!-- <img src="assets/img/happy.png" class="ml-1" width="15"
                                                                         height="15" alt=""> -->
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                </form>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-------New Comment Section Design End----->
                                            </div>
                                            <!-----------Comment Count End------->

                                        </div>
                                        <div class="col-lg-12" *ngIf="tagSection && input_id == post_content.id">

                                            <div class="form-group">

                                                <ng-multiselect-dropdown name="groupname" id="groupname"
                                                    [placeholder]="'Tag Friends'" [data]="dropdownList"
                                                    [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                                    (onSelect)="onItemSelect($event)" (onDeSelect)="onDeSelect($event)"
                                                    (onSelectAll)="onSelectAll($event)">
                                                </ng-multiselect-dropdown>
                                            </div>
                                        </div>
                                        <div class="shadow" *ngIf="imgURL!='' && div_id == post_content.id">
                                            <img [src]="imgURL" style="width: 400px; height: 350px;" />
                                            <button type="button" (click)="close_img()" class="close"
                                                aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                    </div>

                                </div>
                            </div>



                        </div>


                        <!----------------------share post End--------->

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Friends Modal -->
<div class="modal fade" id="friendsModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Your Friends</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <div class="search-hero" *ngIf="friendsListData != 0">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                        placeholder="&#61442;  Start searching for a Friends by id name">
                </div>

                <div class="container-fluid shadow p-3 ">
                    <div class="row ">
                        <!-- <div class="col-lg-6 pr-4 pl-4" *ngIf = "friendsListData == 0">
                            <p class="text-center text-danger font-weight-bold">No Friend Available</p>
                        </div> -->
                        <div class="col-lg-6 pr-4 pl-4" *ngFor="let friends of friendsListData | filter:searchText">
                            <div class="row border p-1 ">
                                <div class="col-lg-4" *ngIf="friends.photo_url">
                                    <img [src]="friends.photo_url" style="height:84px" class="img-fluid " alt="">
                                </div>
                                <div class="col-lg-4" *ngIf="friends.photo_url==null">
                                    <img src="assets/img/avtar.png" style="height:84px" class="img-fluid " alt="">
                                </div>
                                <div class="col-lg-5  pt-4">
                                    <h6 style="cursor: pointer;" [routerLink]="['/navigation/userProfile', friends.id]"
                                        data-dismiss="modal" *ngIf="socialusers.id != friends.id">{{friends.name}} </h6>
                                    <h6 style="cursor: pointer;" [routerLink]="['/navigation/profile', friends.id]"
                                        data-dismiss="modal" *ngIf="socialusers.id == friends.id">{{friends.name}} </h6>
                                    <!-- <p class="mutual">106 Mutual Friends</p> -->
                                </div>
                                <div class="col-lg-3 d-flex align-items-center ">
                                    <button class="btn btn-sm btn-primary pull-right dropdown-toggle"
                                        id="dropdownMenuButton" data-toggle="dropdown"
                                        *ngIf="socialusers.id != friends.id">Friend</button>

                                </div>
                            </div>
                        </div>


                    </div>


                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- Followers Model-->
<div class="modal fade" id="followersModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Followers</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid shadow p-3 ">
                    <div class="row ">
                        <!-- <div class="col-lg-6 pr-4 pl-4" *ngIf = "followers.object == 0">
                            <p class="text-center text-danger font-weight-bold">No Followers Available</p>
                        </div> -->
                        <div class="col-lg-6 pr-4 pl-4" *ngFor="let followerList of followers">
                            <div class="row border p-1 ">
                                <div class="col-lg-4" *ngIf="followerList.photo_url">
                                    <img [src]="followerList.photo_url" style="height:84px" class="img-fluid " alt="">
                                </div>
                                <div class="col-lg-4" *ngIf="followerList.photo_url==null">
                                    <img src="assets/img/avtar.png" style="height:84px" class="img-fluid " alt="">
                                </div>
                                <div class="col-lg-5  pt-4">
                                    <h6 style="cursor: pointer;"
                                        *ngIf="socialusers.id == followerList.following_user_id">{{followerList.name}}
                                    </h6>
                                    <h6 style="cursor: pointer;"
                                        *ngIf="socialusers.id != followerList.following_user_id"
                                        [routerLink]="['/navigation/profile', followerList.follower_user_id]">
                                        {{followerList.name}} </h6>
                                    <!-- <p class="mutual">106 Mutual Friends</p> -->
                                </div>
                                <div class="col-lg-3 d-flex align-items-center "
                                    *ngIf="socialusers.id != followerList.following_user_id">
                                    <button class="btn btn-sm btn-primary pull-right dropdown-toggle"
                                        id="dropdownMenuButton" data-toggle="dropdown">Friend</button>

                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!--  following Model -->
<div class="modal fade" id="followingsModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Mutual Friend</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid shadow p-3 ">
                    <div class="row ">
                        <!-- <div class="col-lg-6 pr-4 pl-4" *ngIf = "following == 0">
                            <p class="text-center text-danger font-weight-bold">No Following Available</p>
                        </div>   -->
                        <div class="col-lg-6 pr-4 pl-4" *ngFor="let mutualFriendData of mutualFriendList">
                            <div class="row border p-1 ">
                                <div class="col-lg-4" *ngIf="mutualFriendData.photo_url">
                                    <img [src]="mutualFriendData.photo_url" style="height:84px" class="img-fluid "
                                        alt="">
                                </div>
                                <div class="col-lg-4" *ngIf="mutualFriendData.photo_url==null">
                                    <img src="assets/img/avtar.png" style="height:84px" class="img-fluid " alt="">
                                </div>
                                <div class="col-lg-5  pt-4">
                                    <h6 *ngIf="socialusers.id == user_sender_id"
                                        [routerLink]="['/navigation/profile', mutualFriendData.user_sender_id]">
                                        {{mutualFriendData.name}}</h6>
                                    <h6 style="cursor: pointer;"
                                        [routerLink]="['/navigation/userProfile', mutualFriendData.user_receiver_id]"
                                        data-dismiss="modal" *ngIf="socialusers.id != user_sender_id">
                                        {{mutualFriendData.name}} </h6>
                                    <!-- <p class="mutual">106 Mutual Friends</p> -->
                                </div>
                                <div class="col-lg-3 d-flex align-items-center ">
                                    <button class="btn btn-sm btn-primary pull-right dropdown-toggle"
                                        id="dropdownMenuButton" data-toggle="dropdown">Friend</button>

                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<!-----------------Post Inlarge-------------------->

<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg1 modal-lg modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalLongTitle">Welcome to Your World !! </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container" *ngFor="let post_content of postData">
                    <div class="row">
                        <div class="col-lg-7">
                            <!-- <img src="assets/img/avtar.png" class="img-fluid img-thumbnail" alt="" style="width:100%; height:400px"> -->
                            <img [src]=post_content.has_image class="img-fluid img-thumbnail" alt=""
                                style="width:100%; height:400px">
                        </div>
                        <div class="col-lg-5 pr-0 pl-0">
                            <div class="row  " style="background: rgb(240, 239, 239); ">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-2 mt-2">
                                    <img src="assets/img/avtarbg.jpg" class="img-fluid img4 align-items-center mb-2"
                                        alt="">
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-9 mt-2">
                                    <h5 class="">{{post_content.username}} </h5>
                                    <p class="text-danger">{{post_content.created_at | date:'medium'}} </p>
                                </div>
                                <div class="col-lg-1 col-1 col-md-1 col-sm-1  mt-2 ">
                                    <!-- <i class="fa fa-ellipsis-v"></i> -->
                                </div>
                            </div>
                            <div class="LeftModalSide" style="height:400px;">

                                <div class="row">
                                    <div class="col-lg-12"
                                        *ngIf="post_content.content != null && post_content.content != 0 && post_content.content != ''">
                                        <p class="CommentContent">
                                            <!-- {{post_content.content }}  -->
                                            <span
                                                [innerHTML]="(showMore) ? post_content.content : post_content.content | slice:0:100 | linkify"></span>
                                            <span *ngIf="post_content.content.length > showChar && !showMore">...</span>
                                            <a href="javascript:;"
                                                *ngIf="post_content.content.length > showChar && !showMore"
                                                (click)="showMore=true">Read More</a>
                                            <a href="javascript:;"
                                                *ngIf="post_content.content.length > showChar && showMore"
                                                (click)="showMore=false">Read Less</a>
                                        </p>
                                    </div>
                                    <div class="col-md-12 col-12 col-sm-12 col-md-12"
                                        *ngFor="let children of post_content.children">
                                        <div class="row p-0">
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-2 mt-1 ">
                                                <img src="assets/img/avtarbg.jpg"
                                                    class="img-fluid img1 align-items-center mt-0" alt="">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="my-1"></div>


                                                    <!-- <i class="fa fa-heart-o mr-2"  (click)="Like()" style="color: red;"   > {{count}}</i> -->
                                                </div>
                                            </div>

                                            <div class="col-lg-10 col-md-10 col-sm-10 col-10 ">
                                                <div class="  justify-content-center">
                                                    <div class="justify-content-between d-flex">
                                                        <h6>{{children.username}} </h6>
                                                        <p class="Ago1  p-1">{{children.created_at | timeAgo}} </p>

                                                    </div>

                                                    <div class="hasTag1 p-1">{{children.content}}</div>
                                                    <div class="row">
                                                        <!-- <div class="col-lg-6">
                                                            <div class="d-flex justify-content-between ">
                                                                <p data-target="#id1" data-toggle="collapse"
                                                                    class="text-dark pointer-event"
                                                                    style="cursor: pointer;"><strong>Reply</strong></p>
                                                                <p><i class="fa fa-heart text-danger"> 24</i></p>
                                                                <div>
                                                                    <i class="fa fa-share"> 12</i>
                                                                </div>
                                                            </div>

                                                        </div> -->
                                                        <div class="col-lg-6"></div>
                                                        <div class="col-lg-12">
                                                            <form action="" class="collapse" id="id1">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control"
                                                                        placeholder="Write your Reply here">
                                                                    <input type="image" class="imgGallary"
                                                                        src="assets/img/picture.svg" height="20"
                                                                        width="20" />
                                                                    <!-- <input type="file" id="File1" style="display: none;" /> -->
                                                                </div>
                                                                <i (click)="show()" style="cursor: pointer; ">

                                                                    <emoji-mart (emojiClick)="handleSelection($event)"
                                                                        *ngIf="iFlag == true"> </emoji-mart>
                                                                    <img src="assets/img/happy.png" height="20"
                                                                        width="20" alt="" class="emojiEnlargePost">
                                                                </i>



                                                            </form>

                                                        </div>

                                                    </div>


                                                    <hr style="margin-left: -89px; margin-top: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>


                            <!-- comment,like,view -->

                            <div class="row">
                                <div class="col-lg-6 " style="margin-top: -16px;">
                                    <div class="my-4"></div>
                                    <div class="d-flex justify-content-around align-items-center">
                                        <i class="fa fa-heart-o" (click)="likePost(post_content.id)">
                                            {{post_content.likes}}</i>
                                        <i class="fa fa-comments"> {{post_content.children_count}}</i>
                                        <i class="fa fa-share"> {{post_content.share_count}} </i>
                                        <!-- <i class="fa fa-bookmark" style="color: rgb(241, 48, 90); "> </i> -->
                                    </div>
                                </div>
                                <div class="col-lg-6"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>