<div class="bgColor">
    <div class="container">
        <div class="row" style="margin-top: 130px;">

            <div class="col-lg-7 col-md-12 col-sm-12 mt-3" style=" border-radius: 23px;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-12 CardStyle">
                            <div class="my-2"></div>
                            <div class="d-flex justify-content-between p-2 flex-d-c">
                                <h5>Events You're Attending</h5>
                                <div class ="form-group">
                                    <input class="form-control" type="text" name="search" [(ngModel)]="term" style="width: 250px;margin-left: 0px;margin-top: -2px;" placeholder="&#61442;  Events Filter">
                                  </div> 
                                
                                <!-- <button class="btn btn-danger">Create Event</button> -->
                            </div>
                            <div class="d-flex align-items-center mt-4" *ngIf="joinedEvent == null">
                                <p>There are no events hosted by you.</p>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 p-2" *ngFor="let joinedEventList of joinedEvent |filter:term">
                                    <div class="card CardStyle " (click)="getEventDetailsById(joinedEventList.event_id)"
                                    style="cursor: pointer;" data-toggle="modal" data-target="#eventModel">
                                        <!-- <img src="assets/img/avtarbg.jpg" data-toggle="modal" data-target="#eventModel"
                                            
                                            class="img-fluid img-thumbnail" alt="" style="cursor: pointer;"> -->
                                            <img *ngIf="joinedEventList.event_details.has_image;" [src]="joinedEventList.event_details.has_image"
                                            class="img-fluid img-thumbnail" style="height:150px" alt="">
                                         <video *ngIf="joinedEventList.event_details.has_video;" width="271" height="240" controls style="margin-left: 12px;">
                                            <source [src]="joinedEventList.event_details.has_video" type="video/mp4">
                                            
                                        </video> 
                                        <img src="assets/img/avtarbg.jpg" class="img-fluid img2" alt=""
                                        *ngIf="!joinedEventList.event_details.has_image && !joinedEventList.event_details.has_video">
                                        <div>
                                            <div class="card-subtitle subTitle1 p-1">
                                                <p>{{joinedEventList.event_details.event_name}}</p>
                                                <p>{{joinedEventList.event_details.event_date | date:'fullDate'}} ,
                                                    {{joinedEventList.event_details.event_time}} ,
                                                    {{joinedEventList.event_details.address}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="my-3"></div>
                        </div>
                    </div>
                    <div class="row mt-3" style="background: white; border-radius: 20px;">
                        <div class=" mt-3">
                            <h5 class="p-3">Events Happening near you</h5>
                        </div>
                       
                        <section id="tabs mt-0">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 ">
                                        <nav>
                                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                                <a class="nav-item nav-link active " id="nav-home-tab" data-toggle="tab"
                                                    href="#nav-home" role="tab" aria-controls="nav-home"
                                                    aria-selected="true">All</a>
                                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                                    href="#nav-profile" role="tab" aria-controls="nav-profile"
                                                    aria-selected="false">Interest</a>
                                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                                    href="#nav-contact" role="tab" aria-controls="nav-contact"
                                                    aria-selected="false">Catagory 2</a>
                                                <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab"
                                                    href="#nav-about" role="tab" aria-controls="nav-about"
                                                    aria-selected="false">Catagory 3</a>
                                            </div>
                                        </nav>
                                        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                                aria-labelledby="nav-home-tab">


                                                <div class="row groupInterest">

                                                    <div class="col-lg-12">
                                                        <div class="container-fluid">

                                                            <div class="row">

                                                                <div class="col-lg-4 col-md-4 col-sm-6 p-2"
                                                                    *ngFor="let events of eventListData |filter:term">
                                                                    <div class="card CardStyle " 
                                                                    (click)="getEventDetailsById(events.id)" style="cursor: pointer;"
                                                                    data-toggle="modal"
                                                                    data-target="#eventModel">
                                                                       
                                                                            <img *ngIf="events.has_image;" src="{{events.has_image}}"
                                                                            class="img-fluid img-thumbnail" alt="" style="height:150px;width:600px">
                                                                         <video *ngIf="events.has_video;" width="271" height="240" controls style="margin-left: 12px;">
                                                                            <source [src]="events.has_video" type="video/mp4">
                                                                            
                                                                        </video> 
                                                                        <img src="assets/img/avtarbg.jpg" class="img-fluid img2" alt=""
                                                                        *ngIf="!events.has_image && !events.has_video">  
                                                                        <div>
                                                                            <div class="card-subtitle subTitle1 p-1">
                                                                                <p>{{events.event_name}}</p>
                                                                                <p>{{events.event_date | date:'fullDate'}}
                                                                                    , {{events.event_time}} ,
                                                                                    {{events.address}}</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                                

                                                            </div>
                                                            <div class="my-3"></div>

                                                        </div>
                                                        <div class="my-4"></div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                                aria-labelledby="nav-profile-tab">

                                                <div class="row groupInterest">

                                                    <div class="col-lg-12">
                                                        <div class="container-fluid">

                                                            <div class="row">

                                                                <div class="col-lg-4 col-md-4 col-sm-6 p-2" *ngFor="let interestEventList of interestEvent | filter:term">
                                                                    <div class="card CardStyle "
                                                                         data-toggle="modal"
                                                                            data-target="#eventModel"
                                                                            style="cursor: pointer;"
                                                                            (click)="getEventDetailsById(interestEventList.id)">
                                                                        <!-- <img src="assets/img/avtarbg.jpg"
                                                                            class="img-fluid img-thumbnail" alt=""
                                                                            > -->

                                                                            <img *ngIf="interestEventList.has_image;" src="{{interestEventList.has_image}}"
                                                                            class="img-fluid img-thumbnail" alt="">
                                                                         <video *ngIf="interestEventList.has_video;" width="271" height="240" controls style="margin-left: 12px;">
                                                                            <source [src]="interestEventList.has_video" type="video/mp4">
                                                                            
                                                                        </video> 
                                                                        <img src="assets/img/avtarbg.jpg" class="img-fluid img2" alt=""
                                                                        *ngIf="!interestEventList.has_image && !interestEventList.has_video">    
                                                                        <div>
                                                                            <div class="card-subtitle subTitle1 p-1">
                                                                                <p>{{interestEventList.event_name}}</p>
                                                                                <p>{{interestEventList.event_date | date:'fullDate'}}
                                                                                    , {{interestEventList.event_time}} ,
                                                                                    {{interestEventList.address}}</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                               
                                                            </div>
                                                            <div class="my-3"></div>
                                                        </div>
                                                        <div class="my-4"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                                aria-labelledby="nav-contact-tab">
                                                <div class="row groupInterest">

                                                    <div class="col-lg-12">
                                                        <div class="container-fluid">

                                                            <div class="row">

                                                                <div class="col-lg-4 col-md-4 col-sm-6 p-2">
                                                                    <div class="card CardStyle ">
                                                                        <img src="assets/img/avtarbg.jpg"
                                                                            class="img-fluid img-thumbnail" alt="">
                                                                        <div
                                                                            class="d-flex justify-content-around align-items-center subTitle">
                                                                            <div class="card-subtitle subTitle1 p-1">
                                                                                <p>Master Class with Sandeep Mehta</p>
                                                                                <p>Wed, Dec 04-GMR Aerocity</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4  col-md-4 col-sm-6 p-2">
                                                                    <div class="card CardStyle ">
                                                                        <img src="assets/img/avtarbg.jpg"
                                                                            class="img-fluid img-thumbnail" alt="">
                                                                        <div
                                                                            class="d-flex justify-content-around align-items-center subTitle">
                                                                            <div class="card-subtitle subTitle2 p-1">
                                                                                <p>Master Class with Sandeep Mehta</p>
                                                                                <p>Wed, Dec 04-GMR Aerocity</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4  col-md-4 col-sm-6 p-2">
                                                                    <div class="card CardStyle ">
                                                                        <img src="assets/img/avtarbg.jpg"
                                                                            class="img-fluid img-thumbnail" alt="">
                                                                        <div
                                                                            class="d-flex justify-content-around align-items-center subTitle">
                                                                            <div class="card-subtitle subTitle3 p-1">
                                                                                <p>Master Class with Sandeep Mehta</p>
                                                                                <p>Wed, Dec 04-GMR Aerocity</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="my-3"></div>
                                                            <div class="row">

                                                                <div class="col-lg-4 col-md-4 col-sm-6 p-2">
                                                                    <div class="card CardStyle ">
                                                                        <img src="assets/img/avtarbg.jpg"
                                                                            class="img-fluid img-thumbnail" alt="">
                                                                        <div
                                                                            class="d-flex justify-content-around align-items-center subTitle">
                                                                            <div class="card-subtitle subTitle1 p-1">
                                                                                <p>Master Class with Sandeep Mehta</p>
                                                                                <p>Wed, Dec 04-GMR Aerocity</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4  col-md-4 col-sm-6 p-2">
                                                                    <div class="card CardStyle ">
                                                                        <img src="assets/img/avtarbg.jpg"
                                                                            class="img-fluid img-thumbnail" alt="">
                                                                        <div
                                                                            class="d-flex justify-content-around align-items-center subTitle">
                                                                            <div class="card-subtitle subTitle2 p-1">
                                                                                <p>Master Class with Sandeep Mehta</p>
                                                                                <p>Wed, Dec 04-GMR Aerocity</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4  col-md-4 col-sm-6 p-2">
                                                                    <div class="card CardStyle ">
                                                                        <img src="assets/img/avtarbg.jpg"
                                                                            class="img-fluid img-thumbnail" alt="">
                                                                        <div
                                                                            class="d-flex justify-content-around align-items-center subTitle">
                                                                            <div class="card-subtitle subTitle3 p-1">
                                                                                <p>Master Class with Sandeep Mehta</p>
                                                                                <p>Wed, Dec 04-GMR Aerocity</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="my-3"></div>
                                                            <div class="row">

                                                                <div class="col-lg-4 col-md-4 col-sm-6 p-2">
                                                                    <div class="card CardStyle ">
                                                                        <img src="assets/img/avtarbg.jpg"
                                                                            class="img-fluid img-thumbnail" alt="">
                                                                        <div
                                                                            class="d-flex justify-content-around align-items-center subTitle">
                                                                            <div class="card-subtitle subTitle1 p-1">
                                                                                <p>Master Class with Sandeep Mehta</p>
                                                                                <p>Wed, Dec 04-GMR Aerocity</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4  col-md-4 col-sm-6 p-2">
                                                                    <div class="card CardStyle ">
                                                                        <img src="assets/img/avtarbg.jpg"
                                                                            class="img-fluid img-thumbnail" alt="">
                                                                        <div
                                                                            class="d-flex justify-content-around align-items-center subTitle">
                                                                            <div class="card-subtitle subTitle2 p-1">
                                                                                <p>Master Class with Sandeep Mehta</p>
                                                                                <p>Wed, Dec 04-GMR Aerocity</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="my-4"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="nav-about" role="tabpanel"
                                                aria-labelledby="nav-about-tab">
                                                <div class="row groupInterest">

                                                    <div class="col-lg-12">
                                                        <div class="container-fluid">

                                                            <div class="row">

                                                                <div class="col-lg-4 col-md-4 col-sm-6 p-2">
                                                                    <div class="card CardStyle ">
                                                                        <img src="assets/img/avtarbg.jpg"
                                                                            class="img-fluid img-thumbnail" alt="">
                                                                        <div
                                                                            class="d-flex justify-content-around align-items-center subTitle">
                                                                            <div class="card-subtitle subTitle1 p-1">
                                                                                <p>Master Class with Sandeep Mehta</p>
                                                                                <p>Wed, Dec 04-GMR Aerocity</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4  col-md-4 col-sm-6 p-2">
                                                                    <div class="card CardStyle ">
                                                                        <img src="assets/img/avtarbg.jpg"
                                                                            class="img-fluid img-thumbnail" alt="">
                                                                        <div
                                                                            class="d-flex justify-content-around align-items-center subTitle">
                                                                            <div class="card-subtitle subTitle2 p-1">
                                                                                <p>Master Class with Sandeep Mehta</p>
                                                                                <p>Wed, Dec 04-GMR Aerocity</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4  col-md-4 col-sm-6 p-2">
                                                                    <div class="card CardStyle ">
                                                                        <img src="assets/img/avtarbg.jpg"
                                                                            class="img-fluid img-thumbnail" alt="">
                                                                        <div
                                                                            class="d-flex justify-content-around align-items-center subTitle">
                                                                            <div class="card-subtitle subTitle3 p-1">
                                                                                <p>Master Class with Sandeep Mehta</p>
                                                                                <p>Wed, Dec 04-GMR Aerocity</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="my-3"></div>
                                                            <div class="row">

                                                                <div class="col-lg-4 col-md-4 col-sm-6 p-2">
                                                                    <div class="card CardStyle ">
                                                                        <img src="assets/img/avtarbg.jpg"
                                                                            class="img-fluid img-thumbnail" alt="">
                                                                        <div
                                                                            class="d-flex justify-content-around align-items-center subTitle">
                                                                            <div class="card-subtitle subTitle1 p-1">
                                                                                <p>Master Class with Sandeep Mehta</p>
                                                                                <p>Wed, Dec 04-GMR Aerocity</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4  col-md-4 col-sm-6 p-2">
                                                                    <div class="card CardStyle ">
                                                                        <img src="assets/img/avtarbg.jpg"
                                                                            class="img-fluid img-thumbnail" alt="">
                                                                        <div
                                                                            class="d-flex justify-content-around align-items-center subTitle">
                                                                            <div class="card-subtitle subTitle2 p-1">
                                                                                <p>Master Class with Sandeep Mehta</p>
                                                                                <p>Wed, Dec 04-GMR Aerocity</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4  col-md-4 col-sm-6 p-2">
                                                                    <div class="card CardStyle ">
                                                                        <img src="assets/img/avtarbg.jpg"
                                                                            class="img-fluid img-thumbnail" alt="">
                                                                        <div
                                                                            class="d-flex justify-content-around align-items-center subTitle">
                                                                            <div class="card-subtitle subTitle3 p-1">
                                                                                <p>Master Class with Sandeep Mehta</p>
                                                                                <p>Wed, Dec 04-GMR Aerocity</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="my-3"></div>
                                                            <div class="row">

                                                                <div class="col-lg-4 col-md-4 col-sm-6 p-2">
                                                                    <div class="card CardStyle ">
                                                                        <img src="assets/img/avtarbg.jpg"
                                                                            class="img-fluid img-thumbnail" alt="">
                                                                        <div
                                                                            class="d-flex justify-content-around align-items-center subTitle">
                                                                            <div class="card-subtitle subTitle1 p-1">
                                                                                <p>Master Class with Sandeep Mehta</p>
                                                                                <p>Wed, Dec 04-GMR Aerocity</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4  col-md-4 col-sm-6 p-2">
                                                                    <div class="card CardStyle ">
                                                                        <img src="assets/img/avtarbg.jpg"
                                                                            class="img-fluid img-thumbnail" alt="">
                                                                        <div
                                                                            class="d-flex justify-content-around align-items-center subTitle">
                                                                            <div class="card-subtitle subTitle2 p-1">
                                                                                <p>Master Class with Sandeep Mehta</p>
                                                                                <p>Wed, Dec 04-GMR Aerocity</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="my-4"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>

                </div>


            </div>

            <div class="col-lg-5 col-md-12 col-sm-12 col-sm-5 ">
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-lg-12 CardStyle">
                            <div class="d-flex justify-content-between">
                                <h5 class="acumin p-3">Finds Events By Your Interest </h5>
                            </div>
                            <!-- <div class="my-2"></div> -->
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-6 p-2">
                                    <div class="card CardStyle">
                                        <img src="assets/img/trends (2).jpg" class="img-fluid" alt="">
                                        <div class="d-flex justify-content-around align-items-center "
                                            style="background: rgb(88, 20, 3); color: white; opacity: 0.8; height: 40px;">
                                            <div class="card-subtitle ">Arts</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-6 p-2">
                                    <div class="card CardStyle ">
                                        <img src="assets/img/trends (2).jpg" class="img-fluid" alt="">
                                        <div class="d-flex justify-content-around align-items-center "
                                            style="background: rgb(88, 20, 3); color: white; opacity: 0.8; height: 40px;">
                                            <div class="card-subtitle">Causes</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 p-2">
                                    <div class="card CardStyle ">
                                        <img src="assets/img/trends (2).jpg" class="img-fluid" alt="">
                                        <div class="d-flex justify-content-around align-items-center "
                                            style="background: rgb(88, 20, 3); color: white; opacity: 0.8; height: 40px;">
                                            <div class="card-subtitle">Foods</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-6 p-2">
                                    <div class="card CardStyle">
                                        <img src="assets/img/trends (2).jpg" class="img-fluid" alt="">
                                        <div class="d-flex justify-content-around align-items-center "
                                            style="background: rgb(88, 20, 3); color: white; opacity: 0.8; height: 40px;">
                                            <div class="card-subtitle ">Fitness</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-6 p-2">
                                    <div class="card CardStyle ">
                                        <img src="assets/img/trends (2).jpg" class="img-fluid" alt="">
                                        <div class="d-flex justify-content-around align-items-center "
                                            style="background: rgb(88, 20, 3); color: white; opacity: 0.8; height: 40px;">
                                            <div class="card-subtitle">Literature</div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 p-2">
                                    <div class="card CardStyle ">
                                        <img src="assets/img/trends (2).jpg" class="img-fluid" alt="">
                                        <div class="d-flex justify-content-around align-items-center "
                                            style="background: rgb(88, 20, 3); color: white; opacity: 0.8; height: 40px;">
                                            <div class="card-subtitle">Technology</div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="my-4"></div>
                        </div>
                        <div class="col-lg-12 mt-4 CardStyle">
                            <div class="my-2"></div>
                            <h5 class="acumin p-1">Trending</h5>
                            <hr style="background: rgb(88, 20, 3); height: 2px; width: 100px; ">
                            <div class="card CardStyle ">
                                <img src="assets/img/trend.jpg" class="img-fluid" alt="">
                                <div class="d-flex justify-content-around align-items-center "
                                    style="background: rgb(88, 20, 3); color: white; opacity: 0.8; height: 40px;">
                                    <div class="card-subtitle">Subtitle-1</div>
                                    <i class="fa fa-heart-o mr-5"></i>
                                </div>
                            </div>
                            <div class="my-2"></div>
                            <div class="row">
                                <div class="col-lg-4 col-sm-6 col-md-6">
                                    <div class="card CardStyle ">
                                        <img src="assets/img/trend.jpg" class="img-fluid" alt="">
                                        <div class="d-flex justify-content-around align-items-center "
                                            style="background: rgb(88, 20, 3); color: white; opacity: 0.8; height: 40px;">
                                            <div class="card-subtitle">Subtitle-1</div>
                                            <i class="fa fa-heart-o"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-sm-6 col-md-6">
                                    <div class="card CardStyle">
                                        <img src="assets/img/trend.jpg" class="img-fluid" alt="">
                                        <div class="d-flex justify-content-around align-items-center "
                                            style="background: rgb(88, 20, 3); color: white; opacity: 0.8; height: 40px;">
                                            <div class="card-subtitle">Subtitle-1</div>
                                            <i class="fa fa-heart-o"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-md-6">
                                    <div class="card CardStyle ">
                                        <img src="assets/img/trend.jpg" class="img-fluid" alt="">
                                        <div class="d-flex justify-content-around align-items-center "
                                            style="background: rgb(88, 20, 3); color: white; opacity: 0.8; height: 40px;">
                                            <div class="card-subtitle">Subtitle-1</div>
                                            <i class="fa fa-heart-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="my-4"></div>
                        </div>
                        <div class="col-lg-12 my-4 col-sm-12 col-md-12 CardStyle">
                            <div class="my-2"></div>
                            <div class="d-flex justify-content-between">
                                <h5 class="acumin">Sponsored</h5>
                                <h5 class="text-primary">Created Ad</h5>
                            </div>
                            <div class="card CardStyle " style="background: lightgray;">
                                <img src="assets/img/ad.jpg" class="img-thumbnail" alt="">
                            </div>
                            <div class="my-3"></div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Modal -->
<!-- <div class="modal fade" id="eventModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Event</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" >
         <div class="container" >
             <div class="row">
                 <div class="col-md-12" *ngFor="let eventData of eventDetails">
                     <div class="row">
                         <div class="col-md-6">
                            <div class="card shadow">
                                <img src="assets/img/avtarbg.jpg" class="img-fluid" alt="event_image"
                                style="height: 300px;">
                            </div>
                         </div>
                         <div class="col-md-6">
                            <div class="card shadow">
                                <div class="card-body">
                                    <h5 class="card-title">{{eventData.event_name}}</h5>
                                    <p class="card-text">{{eventData.description}}</p>
                                    <hr/>
                                    <h6 class="text-center">Venue</h6>
                                    <p>{{eventData.event_date | date:'fullDate'}},{{eventData.event_time}}</p>
                                
                                   <p class="card-text">{{eventData.address}},{{eventData.city}},{{eventData.state}},{{eventData.pincode}}</p>
                                   <small><p class="card-text">Land Mark :  {{eventData.landmark}}</p></small>
                                    <hr/>
                                    <h6 class="text-center">Oranizer Details</h6>
                                    <p class="card-text">{{eventData.organized_by}},{{eventData.email}},{{eventData.phone}}</p>
                               
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-12">
                                           
                                              <button type="submit" class="btn btn-danger btn-default pull-left" (click)="joinEvent(eventData.id)">
                                                <span class="fa fa-check"></span> Interested
                                              </button>
                                        </div>
                                        
                                        </div>
                                </div>
                            </div>
                         </div>
                  
                    </div>
                 </div>
             </div>
         </div>
        </div>
       
      </div>
    </div>
  </div> -->

<div class="modal fade" id="eventModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">


        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Event</h4>
                <button type="button" id="close_model" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <!-- Card -->
                <div class="card booking-card" *ngFor="let eventData of eventDetails ">

                    <!-- Card image -->
                    <div class="view overlay">
                        <!-- <img class="card-img-top"
                            src="https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img (5).jpg"
                            alt="Card image cap"> -->
                            <img *ngIf="eventData.has_image;" src="{{eventData.has_image}}"
                            class="card-img-top" alt="">
                         <video *ngIf="eventData.has_video;" width="271" height="240" controls style="margin-left: 12px;">
                            <source [src]="eventData.has_video" type="video/mp4">
                            
                        </video> 
                        <img src="assets/img/avtarbg.jpg" class="card-img-top" alt=""
                        *ngIf="!eventData.has_image && !eventData.has_video">                                

                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body" >

                        <!-- Title -->
                        <h4 class="card-title font-weight-bold"><a>{{eventData.event_name}}</a></h4>


                        <!-- Text -->
                        <p class="card-text">{{eventData.description}}</p>
                        <p class="mb-2"> {{eventData.address}}, {{eventData.city}} {{eventData.state}}</p>
                        <p class="text-danger"> {{eventData.event_date | date:'fullDate'}} {{eventData.event_time}}</p>
                        <hr class="my-4">

                        <div class="col-lg-6">
                            <p class="lead"><strong>Organizer Details</strong></p>
                            <p class="card-text mr-3">{{eventData.organized_by}}</p>
                            <div class="d-flex">
                                
                                <p class="card-text mr-3">{{eventData.email}}</p>
                                <p class="card-text mr-3">{{eventData.phone}}</p>

                            </div>
                        </div>
                        <hr class="my-4">
                        <div class="col-lg-6">
                            <p class="lead"><strong>Event Details</strong></p>
                            <div class="d-flex">
                                <p class="card-text text-danger mr-2"><b>Live_Link:</b></p>
                                <a class="mr-2" href="{{eventData.live_link}}">Event_Live_Link</a>

                            </div>
                            <div class="d-flex">
                                <p class="card-text text-danger mr-2"><b>Interested_people:</b></p>
                                <p class="card-text">{{eventData.invitations_details_count}}</p>

                            </div>
                        </div>
                        <div class="col-lg-6 text-center" *ngIf="eventData.invitations_details == 0">
                           <button type="submit" class="btn btn-danger btn-default pull-left"
                            (click)="joinEvent(eventData.id)"> Interested
                            <span class="fa fa-check"></span>
                            </button>
                           
                        </div>
                        <div class="col-lg-6 text-center" *ngFor="let details of eventData.invitations_details"  >
                             <div *ngIf="details.user_id == this.socialusers.id">     
                                <button type="submit" class="btn btn-danger btn-default pull-left"
                                (click)="joinEvent(eventData.id)"> Un-Interested
                                 <span class="fa fa-check"></span> 

                            </button>
                            </div> 
                            
                        
                        

                        </div>
                        <!-- <ul class="list-unstyled list-inline d-flex justify-content-between mb-0">
        <li class="list-inline-item mr-0">
          <div class="chip mr-0">Admin 1418</div>
        </li>
        <li class="list-inline-item mr-0">
          <div class="chip mr-0">admin@gmail.com</div>
        </li>
        <li class="list-inline-item mr-0">
          <div class="chip mr-0">8:00PM</div>
        </li>
        <li class="list-inline-item mr-0">
          <div class="chip mr-0">9:00PM</div>
        </li>
      </ul> -->


                    </div>

                </div>
                <!-- Card -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>