<div class="container-fluid position-fixed">
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">


                <div class="headind_srch">
                    <div class="recent_heading">

                    </div>

                    <div class="srch_bar">
                        <form>
                            <!-- <img src="assets/img/Final_Logo-01@2x.png" height="100" width="140" alt=""> -->
                            <div class="form-group">
                                <input type="text" class="form-control frmCtrl  mt-3" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Find People and coversation" style="border-radius: 20px;">
                            </div>
                        </form>
                    </div>
                </div>

                <section id="tabs">
                    <div class="container">
                        <!-- <h6 class="section-title h1">Tabs</h6> -->
                        <div class="row">
                            <div class="col-xs-12 ">
                                <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Recent</a>
                                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Unread</a>
                                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Group</a>
                                    </div>
                                </nav>
                                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <!-- first tab -->

                                        <div class="my-2"></div>
                                        <div class="inbox_chat" style="background: #6A68680D;">

                                            <div class="chat_list" style="background: #ED5D4227;">
                                                <div class="chat_people">
                                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                    <div class="chat_ib">
                                                        <h5>Jamshed Ahmad <span class="chat_date"><i class="fa fa-ellipsis-h"></i></span></h5>
                                                        <p class="chatText">Test, which is a new approach to have <span class="chat_date">7:47 PM</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat_list">
                                                <div class="chat_people">
                                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                    <div class="chat_ib">
                                                        <h5>Aekanshu <span class="chat_date"><i class="fa fa-ellipsis-h"></i></span></h5>
                                                        <p class="chatText">Test, which is a new approach to have <span class="chat_date">8:40 PM</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat_list">
                                                <div class="chat_people">
                                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                    <div class="chat_ib">
                                                        <h5>Devesh <span class="chat_date"><i class="fa fa-ellipsis-h"></i></span></h5>
                                                        <p class="chatText">Test, which is a new approach to have <span class="chat_date">9:47 PM</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat_list">
                                                <div class="chat_people">
                                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                    <div class="chat_ib">
                                                        <h5>Raj Kumar <span class="chat_date"><i class="fa fa-ellipsis-h"></i></span></h5>
                                                        <p class="chatText">Test, which is a new approach to have <span class="chat_date">3:47 PM</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat_list">
                                                <div class="chat_people">
                                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                    <div class="chat_ib">
                                                        <h5>Manzar Husaain <span class="chat_date"><i class="fa fa-ellipsis-h"></i></span></h5>
                                                        <p class="chatText">Test, which is a new approach to have <span class="chat_date">3:47 PM</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat_list">
                                                <div class="chat_people">
                                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                    <div class="chat_ib">
                                                        <h5> Sanjay <span class="chat_date"><i class="fa fa-ellipsis-h"></i></span></h5>
                                                        <p class="chatText">Test, which is a new approach to have <span class="chat_date">7:47 PM</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat_list">
                                                <div class="chat_people">
                                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                    <div class="chat_ib">
                                                        <h5>Jamshed Ahmad <span class="chat_date"><i class="fa fa-ellipsis-h"></i></span></h5>
                                                        <p class="chatText">Test, which is a new approach to have <span class="chat_date">7:47 PM</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat_list">
                                                <div class="chat_people">
                                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                    <div class="chat_ib">
                                                        <h5>Jamshed Ahmad <span class="chat_date"><i class="fa fa-ellipsis-h"></i></span></h5>
                                                        <p class="chatText">Test, which is a new approach to have <span class="chat_date">7:47 PM</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat_list">
                                                <div class="chat_people">
                                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                    <div class="chat_ib">
                                                        <h5>Jamshed Ahmad <span class="chat_date"><i class="fa fa-ellipsis-h"></i></span></h5>
                                                        <p class="chatText">Test, which is a new approach to have <span class="chat_date">7:47 PM</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat_list">
                                                <div class="chat_people">
                                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                    <div class="chat_ib">
                                                        <h5>Jamshed Ahmad <span class="chat_date"><i class="fa fa-ellipsis-h"></i></span></h5>
                                                        <p class="chatText">Test, which is a new approach to have <span class="chat_date">7:47 PM</span></p>
                                                    </div>
                                                </div>
                                            </div>







                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                        <!-- Tab 2 -->
                                        <div class="my-2"></div>
                                        <div class="inbox_chat" style="background: #6A68680D;">

                                            <div class="chat_list">
                                                <div class="chat_people">
                                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                    <div class="chat_ib">
                                                        <h5>Jamshed Ahmad <span class="chat_date">Dec 25</span></h5>
                                                        <p>Test, which is a new approach to have all solutions astrology under one roof.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat_list">
                                                <div class="chat_people">
                                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                    <div class="chat_ib">
                                                        <h5>Manzar Hussain <span class="chat_date">Dec 25</span></h5>
                                                        <p>Test, which is a new approach to have all solutions astrology under one roof.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat_list">
                                                <div class="chat_people">
                                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                    <div class="chat_ib">
                                                        <h5>Devesh <span class="chat_date">Dec 25</span></h5>
                                                        <p>Test, which is a new approach to have all solutions astrology under one roof.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat_list">
                                                <div class="chat_people">
                                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                    <div class="chat_ib">
                                                        <h5>Aekanshu <span class="chat_date">Dec 25</span></h5>
                                                        <p>Test, which is a new approach to have all solutions astrology under one roof.</p>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                        <!-- Tab 3 -->
                                        <div class="my-2"></div>
                                        <div class="inbox_chat" style="background: #6A68680D;">

                                            <div class="chat_list">
                                                <div class="chat_people">
                                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                    <div class="chat_ib">
                                                        <h5>Sampark <span class="chat_date">Dec 25</span></h5>
                                                        <p>Test, which is a new approach to have all solutions astrology under one roof.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat_list">
                                                <div class="chat_people">
                                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                    <div class="chat_ib">
                                                        <h5>Indian Boys <span class="chat_date">Dec 25</span></h5>
                                                        <p>Test, which is a new approach to have all solutions astrology under one roof.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat_list">
                                                <div class="chat_people">
                                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                    <div class="chat_ib">
                                                        <h5>Friends Forever <span class="chat_date">Dec 25</span></h5>
                                                        <p>Test, which is a new approach to have all solutions astrology under one roof.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat_list">
                                                <div class="chat_people">
                                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                    <div class="chat_ib">
                                                        <h5>Office <span class="chat_date">Dec 25</span></h5>
                                                        <p>Test, which is a new approach to have all solutions astrology under one roof.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat_list">
                                                <div class="chat_people">
                                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                                    <div class="chat_ib">
                                                        <h5>Work Status <span class="chat_date">Dec 25</span></h5>
                                                        <p>Test, which is a new approach to have all solutions astrology under one roof.</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </section>





            </div>

            <div class="mesgs">

                <div class="container-fluid  justify-content-between" style="margin-top: -27px;">
                    <div class="row d-flex justify-content-around">
                        <div class="col-lg-2">
                            <img src="assets/img/avtar1.png" class=" img1 mt-1" alt="">
                        </div>
                        <div class="col-lg-3 useName">
                            <p style="margin-left: -32px;">{{this.socialusers.name}}</p>
                        </div>
                        <div class="col-lg-1">
                            <i class="fa fa-circle" style="color: #04E013;margin-left: -61px; margin-top: 23px;"></i>
                        </div>
                        <div class="col-lg-6 text-center"></div>

                    </div>
                </div>
                <p class="half-rule"></p>
                <p class="mce-divider">
                    <div class="my-5"></div>
                    <div class="msg_history">
                        <div class="incoming_msg">
                            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test which is a new approach to have all solutions
                                    </p>
                                    <span class="time_date"> 11:01 AM    |    June 9</span></div>
                            </div>
                        </div>
                        <div class="outgoing_msg">
                            <div class="sent_msg">
                                <p>Test which is a new approach to have all solutions
                                </p>
                                <span class="time_date"> 11:01 AM    |    June 9</span> </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test, which is a new approach to have</p>
                                    <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
                            </div>
                        </div>
                        <div class="outgoing_msg">
                            <div class="sent_msg">
                                <p>Test which is a new approach to have all solutions
                                </p>
                                <span class="time_date"> 11:01 AM    |    June 9</span> </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test, which is a new approach to have</p>
                                    <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
                            </div>
                        </div>
                        <div class="outgoing_msg">
                            <div class="sent_msg">
                                <p>Test which is a new approach to have all solutions
                                </p>
                                <span class="time_date"> 11:01 AM    |    June 9</span> </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test, which is a new approach to have</p>
                                    <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
                            </div>
                        </div>
                        <div class="outgoing_msg">
                            <div class="sent_msg">
                                <p>Test which is a new approach to have all solutions
                                </p>
                                <span class="time_date"> 11:01 AM    |    June 9</span> </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test, which is a new approach to have</p>
                                    <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
                            </div>
                        </div>
                        <div class="outgoing_msg">
                            <div class="sent_msg">
                                <p>Test which is a new approach to have all solutions
                                </p>
                                <span class="time_date"> 11:01 AM    |    June 9</span> </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Test, which is a new approach to have</p>
                                    <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
                            </div>
                        </div>
                        <div class="outgoing_msg">
                            <div class="sent_msg">
                                <p>Apollo University, Delhi, India Test</p>
                                <span class="time_date"> 11:01 AM    |    Today</span> </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>We work directly with our designers and suppliers, and sell direct to you, which means quality, exclusive products, at a price anyone can afford.</p>
                                    <span class="time_date"> 11:01 AM    |    Today</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="type_msg">


                        <form action="">
                            <div class="form-group ">
                                <input type="text" class="form-control mt-3" placeholder="Type a message" style="width: 855px; background: rgb(251, 251, 251); border: none;">
                                <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                                <!-- <button class="msg_send_btn1" type="button"><i class="fa fa-smile-o"></i></button> -->

                            </div>
                        </form>
                    </div>
            </div>
        </div>


    </div>
</div>