<!-- <div class="wrapper">
    
    <nav id="sidebar">
        <div class="sidebar-header">
            <div class="card text-white mb-3 card4">
                <div class="row no-gutters">
                  <div class="col-md-3" style="padding: 5px; margin-top: 10px; margin-bottom: 5px;">
                    <img src="assets/img/avtarbg.jpg" class="card-img rounded-circle img1" alt="profile-img" >
                  </div>
                  <div class="col-md-9" style="margin-top: 10px">
                    <div class="card-body">
                     
                      <div class="dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link  user-action mt-2 dropdown-toggle" style="color: white;">
                           <h6>Admin</h6>
                        </a>
                        <div class="dropdown-menu" >
                        
                            <a class="dropdown-item" (click)="logout()" style="cursor: pointer;"><i class="fa fa-arrow-left"></i> Logout</a>
                        </div>
                      </div>
                     
                    </div>    
                  </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="margin-left: 5px;">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
              </div>
           
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Users</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a style="cursor: pointer;" [routerLink]="['/admin/dashboard/user', 'id=1']">Active Users</a>
                    </li>
                    <li>
                        <a style="cursor: pointer;" [routerLink]="['/admin/dashboard/user', 'id=0']">Block Users</a>
                   
                </ul>
            </li>
            
            <li>
                <a href="#">SpotLight</a>
            </li>
            <li>
                <a href="#">Posts</a>
            </li>
            <li>
                <a href="#">Groups</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
        </ul>

       
    </nav>

    
    <div id="content">

        <nav class="navbar navbar-expand-lg navigation " >
            <div class="container-fluid">
                <a id="sidebarCollapse">
                    <i class="fas fa fa-bars"></i>
                </a>
                
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto"  data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Spotlight</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Groups</a>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </nav> -->

        <div>
            <router-outlet></router-outlet>
        </div>