<div class="right-menu" (click)="shouldShow = !shouldShow">
    <img width="30px" src="../../assets/img/menu.svg">
</div>

<div class="vertical-menu" [ngClass]="{show: shouldShow, hide: !shouldShow}">
    <div class="menu-main" *ngFor="let ventData of ventList | slice:0:1; let i =index">
        <div class="menu" [routerLink]="['/navigation/agony-aunt', ventData.id]">
            <img src="../../assets/img/agony-aunt.png">
        </div>
        <p>{{ventData.groupname}}</p>
    </div>

    <div class="menu-main" *ngFor="let ventData of ventList | slice:1; let i =index">
        <div class="menu" [routerLink]="['/navigation/vent-box', ventData.id]">
            <img style="width: 100%;" src="../../assets/img/ventbox.jpg">
        </div>
        <p>{{ventData.groupname}}</p>
    </div>
    <div class="menu-main">
        <div class="menu" routerLink="/navigation/chat">
            <img style="width: 121%;" src="../../assets/img/chat.png">
        </div>
        <p>Chat</p>
    </div>
    <div class="menu-main">
        <div class="menu" (click)="sosSend()">
            <img style="width: 121%;" src="../../assets/img/sos.jpg">
        </div>
        <p>SOS</p>
    </div>

    <div class="menu-main">
        <div class="menu" routerLink="/navigation/groups">
            <img src="../../assets/img/group.jpg">
        </div>
        <p>Groups</p>
    </div>

    <div class="menu-main">
        <div class="menu" routerLink="/navigation/peopleFriend">
            <img src="../../assets/img/friends.jpg">
        </div>
        <p>Friends</p>
    </div>

    <div class="menu-main">
        <div class="menu" routerLink="/navigation/events">
            <img src="../../assets/img/events1.png">
        </div>
        <p>Events</p>
    </div>

    <div class="menu-main">
        <div class="menu" (click)="birthday()">
            <img src="../../assets/img/birthday.png">
        </div>
        <p>Birthday</p>
    </div>


</div>