.vertical-menu{
    position: absolute;
    /* right: 16px; */
    left: 25px;
    top: 16px;
    margin-left: 30px;
}
.vertical-menu .menu-main{
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.vertical-menu .menu-main p{
    margin: 0px;
    text-align: center;
    font-size: 14px;
    margin-top: 3px;
}
.vertical-menu .menu{
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 3px 3px 1px #909090;
}
.vertical-menu .menu img{
    width: 40px;
}