<div class="mainContainer">
    <div class="container">
        <div class="row p-3" style="margin-top: 138px;">
            
            <div class="col-lg-12 col-md-12 col-sm-10">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <img src="assets/img/logoRegister (2).png" class="card-img bgimg" alt="...">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>

                    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-s-12 ">
                        <h3 class="text-center font-italic">Contact Us</h3>
                        
                    </div> -->
                    <div class="col-lg-12 col-md-12 col-sm-10 p-5">
                        <p class="text-center" >
                            <span style="color: #fa0e0e; font-size: 18px;">Email: </span>
                            <a href="info@1418.in"> info@1418.in</a>
                             
                        </p>
                    </div>
                </div>
              </div>

            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-s-12 mt-4">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="card" style="height: 360px;">
                            <div class="card-body">
                                <img src="assets/img/avatarbg.png" class="img-fluid mx-auto d-block img1" alt="...">
                                <h5 class="font-italic text-center mt-3">Mr Ashish Bahl</h5>
                                <p class="text-justify mt-3 ml-4" style="font-size: 15px;">
                                    <b>Email : </b> 
                                    <a href="mailto:ab@1418.in">ab@1418.in</a>
                                     <span class="ml-5"> <b>Contact No : </b>   
                                        <a href="tel:9654455306">9654455306</a></span>
                                </p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="card" style="height: 360px;">
                            <div class="card-body">
                                <img src="assets/img/avatarbg.png" class="img-fluid mx-auto d-block img1" alt="...">
                                <h5 class="font-italic text-center mt-3">Mr Sudhanshu Rawat</h5>
                                <p class="mt-3 ml-4" style="font-size: 15px;">
                                    <b>Email : </b>  <a href="mailto:sr@1418.in">sr@1418.in</a>
                                     <span class="ml-5"> <b>Contact No : </b>  
                                        <a href="tel:9810090089">9810090089</a></span>
                                </p>
                               
                            </div>
                        </div>
                    </div>
                </div>

            </div> -->

        </div>
    </div>
</div>