<div class="bgColor mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-10" style="margin-top: 80px;">

                <div class="row">
                    
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6 mt-3" style="background: white; border-radius: 23px; margin-left: 80px;">
                        <div class="d-flex justify-content-between mt-3 flex-d-c">
                            <h2 style="color: rgb(42, 110, 155);">Spotlight</h2>
                            
                            <div class="form-group col-md-4">
                                <input class="form-control" type="text" name="search" [(ngModel)]="term"
                                    placeholder="Search Spotlight">
                            </div>
                            <button type="button" class="btn btnColor text-white mb10" data-toggle="modal"
                                data-target="#myModal">Create
                                Spotlight</button>
                        </div>
                       
                       <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-10 mt-2">
                            <h5 class="text-center">Celebrate yourself and your friends</h5>
                        </div>
                       </div>
                        <section id="tabs mt-1">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 ">
                                        <nav>
                                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                                    href="#nav-home" role="tab" aria-controls="nav-home"
                                                    aria-selected="true">Interest</a>
                                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                                    href="#nav-profile" role="tab" aria-controls="nav-profile"
                                                    aria-selected="false">Hobbies</a>
                                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                                    href="#nav-contact" role="tab" aria-controls="nav-contact"
                                                    aria-selected="false">Trending Spotlight</a>

                                            </div>
                                        </nav>
                                        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                                aria-labelledby="nav-home-tab"
                                                style=" color: rgb(0, 0, 0); text-align: justify; padding: 15px;">

                                                <!-- *ngFor="let trendingList of popularPost | slice:0:1; let i = index" -->
                                                <div class="container">

                                                    <div class="row">
                                                        <div class="col-lg-3" *ngFor="let interestedSpotlight of interestData | filter:term | paginate: {id: 'interest_spotlight', itemsPerPage: 10, currentPage: page2,
                                                            totalItems: totalInterestData}, let i = index"
                                                            [routerLink]="['/navigation/spotlight-dashboard', interestedSpotlight.id]">
                                                            <img src="assets/img/avtar.png"
                                                                class="img-fluid  img-thumbnail"
                                                                style="height: 150px;width: 600px;object-fit: contain;"
                                                                alt="" *ngIf="interestedSpotlight.has_image == null ">
                                                            <img class="img-fluid  img-thumbnail"
                                                                [src]=interestedSpotlight.has_image
                                                                style="height: 150px;width: 600px;object-fit: contain;"
                                                                *ngIf="interestedSpotlight.has_image != null">

                                                            <!-- <a href="{{interestedSpotlight.has_pdf}}" target="blank" downloadPDF
                                                                        *ngIf="interestedSpotlight.has_pdf">
                                               
                                                                            <img src="assets/img/PDF-image.jpg" style="height: 230px; width: 500px;" class="img-fluid" alt="">
                                                                       </a>   -->

                                                            <h6 style="cursor: pointer; color: grey;" class="p-1">
                                                                <span
                                                                [innerHTML]="(showMore) ? interestedSpotlight.content : interestedSpotlight.content | slice:0:10 | linkify | titlecase"></span>
                                                            <span *ngIf="interestedSpotlight.content.length > trendingContent">...</span>
                                                                </h6>
                                                            
                                                                     
                                                        </div>

                                                    </div>
                                                </div>
                                                <pagination-controls id="interest_spotlight" directionLinks="true"
                                                    (pageChange)="interestSpotLightChange($event)">
                                                </pagination-controls>
                                            </div>
                                            <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                                aria-labelledby="nav-profile-tab"
                                                style=" text-align: justify; padding: 15px;">


                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-lg-3" *ngFor="let spotLightAccHobbies of hobbiesData | filter:term | paginate: {id: 'hobby_spotlight', itemsPerPage: 10, currentPage: page3,
                                                            totalItems: totalhobbyData}, let i = index"
                                                            [routerLink]="['/navigation/spotlight-dashboard', spotLightAccHobbies.id]">
                                                            <img src="assets/img/avtar.png"
                                                                class="img-fluid  img-thumbnail" style="height: 150px;
                                                                    width: 600px; object-fit: contain;" alt=""
                                                                *ngIf="spotLightAccHobbies.has_image == null  ">
                                                            <img [src]=spotLightAccHobbies.has_image
                                                                class="img-fluid  img-thumbnail"
                                                                style="height: 150px;width: 600px; object-fit: contain;"
                                                                alt="" *ngIf="spotLightAccHobbies.has_image != null">

                                                            <!-- <a href="{{spotLightAccHobbies.has_pdf}}" target="blank" downloadPDF
                                                                    *ngIf="spotLightAccHobbies.has_pdf">
                                           
                                                                        <img src="assets/img/PDF-image.jpg" style="height: 230px; width: 500px;" class="img-fluid" alt="">
                                                                   </a>         -->
                                                            <!-- <h6 style="cursor: pointer; color: grey;" class="p-1">
                                                                {{spotLightAccHobbies.content}}</h6> -->
                                                                <h6 style="cursor: pointer; color: grey;" class="p-1">
                                                                    <span
                                                                    [innerHTML]="(showMore) ? spotLightAccHobbies.content : spotLightAccHobbies.content | slice:0:10 | linkify | titlecase"></span>
                                                                <span *ngIf="spotLightAccHobbies.content.length > trendingContent"> ...</span>
                                                                    </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <pagination-controls id="hobby_spotlight" directionLinks="true"
                                                    (pageChange)="hobbySpotLightChange($event)"></pagination-controls>

                                            </div>
                                            <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                                aria-labelledby="nav-contact-tab"
                                                style=" color: rgb(0, 0, 0); text-align: justify; padding: 15px;">



                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-lg-3" *ngFor="let popularSpotlight of popularPost |filter:term | paginate: {id: 'popular_spotlight', itemsPerPage: 10, currentPage: page1,
                                                            totalItems: totaldata}, let i = index"
                                                            [routerLink]="['/navigation/spotlight-dashboard', popularSpotlight.id]">
                                                            <img src="assets/img/avtar.png"
                                                                class="img-fluid  img-thumbnail"
                                                                style="height: 150px;width: 600px; object-fit: contain;"
                                                                alt="" *ngIf="popularSpotlight.has_image == null">
                                                            <img [src]=popularSpotlight.has_image
                                                                class="img-fluid  img-thumbnail"
                                                                style="height: 150px;width: 600px; object-fit: contain;"
                                                                alt="" *ngIf="popularSpotlight.has_image != null">
                                                            <!-- <a href="{{popularSpotlight.has_pdf}}" target="blank" downloadPDF
                                                                    *ngIf="popularSpotlight.has_pdf">
                                           
                                                                        <img src="assets/img/PDF-image.jpg" style="height: 230px; width: 500px;" class="img-fluid" alt="">
                                                                   </a>                 -->
                                                            <span>
                                                                <!-- <h6 style="cursor: pointer; color: grey;" class="p-1">
                                                                    {{popularSpotlight.content}}</h6> -->
                                                                    <h6 style="cursor: pointer; color: grey;" class="p-1">
                                                                        <span
                                                                        [innerHTML]="(showMore) ? popularSpotlight.content : popularSpotlight.content | slice:0:10 | linkify | titlecase"></span>
                                                                    <span *ngIf="popularSpotlight.content.length > trendingContent"> ...</span>
                                                                        </h6>
                                                            </span>
                                                        </div>

                                                    </div>
                                                </div>
                                                <pagination-controls id="popular_spotlight" directionLinks="true"
                                                    (pageChange)="popularSpotLightChange($event)"></pagination-controls>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <hr>
                                <div class="row groupInterest">
                                    <h5 class="mt-2 p-2" style="color: rgb(42, 110, 155);">Approved Spotlight</h5>
                                    <div class="col-lg-12">
                                        <div class="container-fluid">

                                            <div class="row">

                                                <div class="col-lg-3 col-md-4 col-sm-6 p-1" *ngFor="let approvedSpotlightList of approvedSpotlight | paginate: {id: 'approved_spotlight', itemsPerPage: 10, currentPage: page4,
                                                    totalItems: totalArrovedSpotlight} , let i = index">
                                                    <div class="card CardStyle ">
                                                        <img [src]=approvedSpotlightList.has_image
                                                            class="img-fluid img-thumbnail" alt=""
                                                            *ngIf="approvedSpotlightList.has_image != null"
                                                            style="height: 150px; width: 300px;">
                                                        <img src="assets/img/avtarbg.jpg"
                                                            class="img-fluid img-thumbnail" alt=""
                                                            *ngIf="approvedSpotlightList.has_image == null ">
                                                        <!-- <div class="card-img-overlay"
                                                            *ngIf="pendingSpotLight.remark != null">
                                                            <p class="card-title headerset" style="cursor: pointer;"
                                                                data-toggle="modal" data-target="#remarkModal"><span
                                                                    class="badge badge-pill badge-danger">Remark</span>
                                                            </p>
                                                        </div> -->
                                                        <!-- <a href="{{pendingSpotLight.has_pdf}}" target="blank" downloadPDF
                                                                *ngIf="pendingSpotLight.has_pdf">
                                       
                                                                    <img src="assets/img/PDF-image.jpg" style="height: 230px; width: 500px;" class="img-fluid" alt="">
                                                               </a>        -->
                                                        <div
                                                            class="d-flex justify-content-around align-items-center subTitle">
                                                            <div class="card-subtitle" style="cursor: pointer;">
                                                                <span
                                                                    [routerLink]="['/navigation/spotlight-dashboard', approvedSpotlightList.id]"
                                                                    (click)="viewPendingSpotlightDetalis(approvedSpotlightList.id)">View</span>
                                                                <!-- <span data-toggle="model" data-target="#pendingSpotlightModel" (click)="viewPendingSpotlightDetalis(pendingSpotLight.id)">View</span> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    

                                                </div>

                                            </div>
                                        </div>
                                        <pagination-controls id="approved_spotlight" directionLinks="true"
                                            (pageChange)="approvedSpotLightChange($event)"></pagination-controls>
                                        <div class="my-4"></div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row groupInterest">
                                    <h5 class="mt-2 p-2" style="color: rgb(42, 110, 155);">Pending Spotlight</h5>
                                    <div class="col-lg-12">
                                        <div class="container-fluid">

                                            <div class="row">

                                                <div class="col-lg-3 col-md-4 col-sm-6 p-1" *ngFor="let pendingSpotLight of pendingSpotlight | paginate: {id: 'pending_spotlight', itemsPerPage: 10, currentPage: page,
                                                    totalItems: totalRecords} , let i = index">
                                                    <div class="card CardStyle ">
                                                        <img [src]=pendingSpotLight.has_image
                                                            class="img-fluid img-thumbnail" alt=""
                                                            *ngIf="pendingSpotLight.has_image != null"
                                                            style="height: 150px; width: 300px;">
                                                        <img src="assets/img/avtarbg.jpg"
                                                            class="img-fluid img-thumbnail" alt=""
                                                            *ngIf="pendingSpotLight.has_image == null ">
                                                        <div class="card-img-overlay"
                                                            *ngIf="pendingSpotLight.remark != null">
                                                            <p class="card-title headerset" style="cursor: pointer;"
                                                                data-toggle="modal" data-target="#remarkModal"><span
                                                                    class="badge badge-pill badge-danger">Remark</span>
                                                            </p>
                                                        </div>
                                                        <!-- <a href="{{pendingSpotLight.has_pdf}}" target="blank" downloadPDF
                                                                *ngIf="pendingSpotLight.has_pdf">
                                       
                                                                    <img src="assets/img/PDF-image.jpg" style="height: 230px; width: 500px;" class="img-fluid" alt="">
                                                               </a>        -->
                                                        <div
                                                            class="d-flex justify-content-around align-items-center subTitle">
                                                            <div class="card-subtitle" style="cursor: pointer;">
                                                                <span
                                                                    [routerLink]="['/navigation/spotlight-dashboard', pendingSpotLight.id]"
                                                                    (click)="viewPendingSpotlightDetalis(pendingSpotLight.id)">View</span>
                                                                <!-- <span data-toggle="model" data-target="#pendingSpotlightModel" (click)="viewPendingSpotlightDetalis(pendingSpotLight.id)">View</span> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!----------------------Remark Modal------------------------->

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="remarkModal" tabindex="-1" role="dialog"
                                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title text-danger"
                                                                        id="exampleModalLabel">
                                                                        Please make changes to get your spotlight
                                                                        approved</h5>
                                                                    <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <h5>{{pendingSpotLight.remark}}</h5>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!----------------------Remark Modal End--------------------->

                                                </div>

                                            </div>
                                        </div>
                                        <pagination-controls id="pending_spotlight" directionLinks="true"
                                            (pageChange)="pendingSpotLightChange($event)"></pagination-controls>
                                        <div class="my-4"></div>
                                    </div>
                                </div>
                            </div>
                        </section>


                    </div>






                    <!-- end  -->
                    <div class="col-lg-4 col-md-4 col-sm-5 ">


                        <div class="container mt-3">
                            <div class="row">
                                <div class="col-lg-12 CardStyle">

                                    <h5 class="acumin text-danger">Great Achievers</h5>
                                    <hr style="background: red; height: 2px; width: 150px; ">
                                    <div class="card CardStyle ">
                                        <img src="assets/img/achieve.jpg" class="img-fluid img-thumbnail" alt=""
                                            style="height: 230px; width: 500px;">
                                        <div class="d-flex  align-items-center justify-content-between pl-2 pr-2"
                                            style="background: rgb(42, 110, 155); color: white;  height: 40px; ">
                                            <div class="card-subtitle">Got Award</div>
                                            <i class="fa fa-heart-o "></i>
                                        </div>
                                    </div>
                                    <div class="my-2"></div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="card CardStyle">
                                                <img src="assets/img/achieve1.jpg" class="img-fluid" alt=""
                                                    style="height: 85px; width: 250px;">
                                                <div class="d-flex justify-content-around align-items-center "
                                                    style="background: rgb(42, 110, 155); color: white;  height: 40px;">
                                                    <div class="card-subtitle ">Won Award</div>
                                                    <i class="fa fa-heart-o"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="card CardStyle ">
                                                <img src="assets/img/award1.png" class="img-fluid" alt=""
                                                    style="height: 85px; width: 250px;">
                                                <div class="d-flex justify-content-around align-items-center "
                                                    style="background: rgb(42, 110, 155); color: white;  height: 40px;">
                                                    <div class="card-subtitle">Won Award</div>
                                                    <i class="fa fa-heart-o"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="card CardStyle ">
                                                <img src="assets/img/trophy.jpg" class="img-fluid" alt=""
                                                    style="height: 85px; width: 250px;">
                                                <div class="d-flex justify-content-around align-items-center "
                                                    style="background: rgb(42, 110, 155); color: white;  height: 40px;">
                                                    <div class="card-subtitle">Won Award</div>
                                                    <i class="fa fa-heart-o"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="my-4"></div>

                                </div>






                                <div class="col-lg-11 my-4 CardStyle">
                                    <div class="my-2"></div>
                                    <div class="d-flex justify-content-between">
                                        <h5 class="acumin">Sponsored</h5>
                                        <h5 class="text-primary" (click)="shop()" style="cursor: pointer;">Shop</h5>
                                    </div>
                                    <div class="card CardStyle " style="background: lightgray;">
                                        <iframe class="sponsoredVideo"
                                            src="http://www.youtube.com/embed/GPIsh2rEBRE?controls=0" allowfullscreen>
                                        </iframe>


                                    </div>
                                    <div class="my-3"></div>
                                </div>

                                <div class="col-lg-11 my-4 CardStyle">
                                    <div class="my-2"></div>
                                    <div class="d-flex justify-content-between">
                                        <h5 class="acumin">Sponsored</h5>
                                        <h5 class="text-primary" (click)="shop()" style="cursor: pointer;">Shop</h5>
                                    </div>
                                    <div class="card CardStyle " style="background: lightgray;">
                                        <iframe class="sponsoredVideo"
                                            src="http://www.youtube.com/embed/wAuUNsS-kH0?controls=0" allowfullscreen>
                                        </iframe>


                                    </div>
                                    <div class="my-3"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <app-menu></app-menu>
                    </div>
                </div>
            </div>


        </div>

    </div>


    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-lg1">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" (click)="scroll(target)" style="color: gray;">Create Spotlight</h4>
                    <button type="button" class="close" id="close_spotlight_model" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body  *ngIf="spotLightForm"-->
                <div class="modal-body p-4 ">
                    <form (ngSubmit)="requestSportlight()" #f="ngForm">
                        <div class="row  border p-2">
                            <div class="col-lg-9">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1" class="modalLabel"><strong>Name <span
                                                        class="required">*</span></strong></label>
                                            <input type="text" class="form-control" #achievement="ngModel"
                                                [(ngModel)]="model.name" name="name" id="name" placeholder="Name">
                                            <!-- <input type="text" class="form-control" (change)="achivementImage($event.target.files )" id="File" aria-describedby="emailHelp" placeholder="Name"> -->
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1" class="modalLabel"><strong>About
                                                    Achievement <span class="required">*</span></strong></label>
                                            <input type="text" class="form-control" #description="ngModel"
                                                [(ngModel)]="model.description" name="description" id="description"
                                                placeholder="About Achievement" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1" class="modalLabel"><strong>Achievement
                                                    Category <span class="required">*</span></strong></label>
                                            <select (change)="changeCategoryListValue($event.target.value)" name="value"
                                                [(ngModel)]="data.value" class="form-control">
                                                <option *ngFor="let categoryData of categoryList.object"
                                                    value="{{categoryData.id}}">
                                                    {{categoryData.Beh_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1" class="modalLabel"><strong>Achievement
                                                    Sub-Category<span class="required">*</span></strong></label>
                                            <select class="form-control" name="value" [(ngModel)]="model.value">
                                                <option *ngFor="let subCategoryData of subCaterory"
                                                    [ngValue]="subCategoryData">{{subCategoryData.activity_name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1" class="modalLabel"><strong>Achievement
                                                    URL/LINK <span class="required">*</span></strong></label>
                                            <input type="text" class="form-control" #achievement="ngModel"
                                                [(ngModel)]="model.achievement" name="achievement" id="achievement"
                                                placeholder="Achievement Name" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1" class="modalLabel"><strong>Achievement
                                                    Date <span class="required">*</span></strong></label>
                                            <!-- <input type="datetime-local" class="form-control" #achievement="ngModel"
                                                [(ngModel)]="model.date" name="date" 
                                                 > -->
                                            <my-date-picker [options]="myDatePickerOptions"
                                                (dateChanged)="onDateChanged($event)" required></my-date-picker>
                                            <!-- <input data-date-format="dd/mm/yyyy" id="datepicker"> -->

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1" class="modalLabel"><strong>Location <span
                                                        class="required">*</span></strong></label>
                                            <input type="text" class="form-control" #location="ngModel"
                                                [(ngModel)]="model.location" name="location" id="location"
                                                placeholder="Location" required>
                                        </div>
                                    </div>
                                   
                                    <div class="col-lg-4">
                                        <!-- <div class="form-group">
                                            <label for="exampleInputPassword1" class="modalLabel"><strong>Achievement
                                                    Time</strong></label>
                                            <input type="time" class="form-control" name="time" id="time"
                                                placeholder="Achievement Time">
                                        </div> -->
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1" class="modalLabel"><strong>Achievement
                                                    Description <span class="required">*</span></strong></label>
                                            <textarea name="description" id="description" cols="3"
                                                placeholder="Achievement Description" class="form-control" rows="3"
                                                required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 text-center mt-5">
                                        <div class="form-group">
                                            <button class="btn btn-danger  mr-3" [disabled]="!f.valid "
                                                [disabled]="loading">Submit</button>
                                            <img *ngIf="loading"
                                                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                            <button type="button" class="btn btn-danger " data-dismiss="modal"
                                                required>Cancel</button>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 image-upload">
                                <p>*Please Add Your Spotlight Image</p>
                                <label for="file-input">
                                    <img class="img-fluid img-thumbnail imgGallary" [src]=imgData />

                                </label>

                                <input id="file-input" type="file" (change)="achivementImage($event.target.files)" />


                                <!-- <input type="image" src="assets/img/avtarbg.jpg"
                                        class="img-fluid img-thumbnail imgGallary" />
                                    <input type="file" id="File" (change)="achivementImage($event.target.files)" /> -->
                                <!-- <input type="image" src="assets/img/avtar.png" class="img-fluid img-thumbnail imgGallary" /> -->
                                <!-- <img src="assets/img/avtar.png"  alt=""> -->
                            </div>

                        </div>

                    </form>



                    <!-- <div class="container-fluid border mt-3" *ngIf="spotLightFormPost">
                        <div class="row" style="background: lightgray;">
                            <div class="col-lg-1 p-2">
                                <img src="assets/img/avtarbg.jpg" alt="" class="img-fluid spotProImg">
                            </div>
                            <div class="col-lg-4 p-2">
                                <h5>Jamshed Ahmad</h5>
                                <h6 class="text-danger">Created At 5:00 PM</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="pl-3 pr-3 pt-3">Test Sptlight For Testing purpose</p>
                            </div>
                        </div>
                        <div class="row p-2">


                            <div class="col-lg-8 ">
                                <form [formGroup]="postForm" (ngSubmit)="store()">

                                    <textarea name="textarea" [(ngModel)]="message" formControlName="content" id=""
                                        class="txtArea textarea"
                                        placeholder="Your friends are waiting to hear from you"></textarea>
                                    <input type="submit" id="btn_post" class="btn btn-danger pull-right  btn-block"
                                        value="Post" />
                                </form>
                                <div style="position: absolute;right: 24px; bottom: 65px;">
                                    <span>
                                        <form>
                                            <input type="image" src="assets/img/picture.svg" height="20" width="20" />
                                            <input type="file" id="File1"
                                                (change)="createPostImage($event.target.files )"
                                                style="display: none;" />
                                        </form>
                                    </span>

                                   
                                    <i (click)="show()" (click)="show1()" style="cursor: pointer; ">

                                        <emoji-mart (emojiClick)="handleSelection($event)" *ngIf="iFlag == true">
                                        </emoji-mart>
                                        <img src="assets/img/happy.png" height="20" width="20" alt="">
                                    </i>
                                </div>

                            </div>
                            <div class="col-lg-4 ">
                                <img src="assets/img/avtar.png" alt="" class="img-fluid img-thumbnail imgSpot p-1 ">

                            </div>

                        </div>

                        <div class="row pull-right">
                            <div class="col-lg-12 text-center p-3">
                                <button class="btn btn-danger mr-3">Submit</button>
                                <button class="btn btn-danger" (click)="mySpotlightForm()">Cancel</button>
                            </div>
                        </div>
                    </div> -->



                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">

            </div>

        </div>
    </div>
</div>

<!-- model View  -->


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content" *ngFor="let postDataList of postData">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{postDataList.content}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style=" background: rgb(240, 236, 236);">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="cmtModel">
                                <!-- <div class="d-flex justify-content-between">
                                       
                                        <p class="Ago1  p-1">{{comment.created_at| timeAgo}} </p>
                                    </div>
                                   
                                    <p class="p-2">{{comment.content}} </p>
                                     <hr style="margin-top: -15px;"> -->
                                <div *ngFor="let comment of postDataList.children">
                                    <div class="d-flex justify-content-between">
                                        <h6>{{comment.username}} </h6>
                                        <p>{{comment.created_at| timeAgo}}</p>
                                    </div>
                                    <p>{{comment.content}} </p>
                                    <hr style="margin-top: -15px;">
                                </div>


                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <img src="assets/img/avtarbg.jpg" height="400" class="img-fluid " alt=""
                                    *ngIf="postDataList.has_image == null">
                                <img [src]=postDataList.has_image style="height: 200px; width: 400px;"
                                    class="img-fluid " alt="" *ngIf="postDataList.has_image != null">
                                <div class="card-subtitle p-1 bg-info d-flex justify-content-center">
                                    <i class="fa fa-heart text-danger" (click)="likePost(postDataList.id)"><span
                                            style="color: white;">{{postDataList.likes}}</span></i>

                                </div>

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <!-- post_content.id,model.comment -->
                            <form #f="ngForm" (keyup.enter)="addComment(postDataList.id,model.comment)">
                                <div class="row">
                                    <div class="col-lg-11">
                                        <div class="form-group">
                                            <input type="text" class="form-control mt-3" name="comment"
                                                #comment="ngModel" [(ngModel)]="model.comment"
                                                placeholder="Enter Your Comment">
                                        </div>
                                    </div>
                                    <div class="col-lg-1 d-flex justify-content-start mt-4" style="margin-left: -78px;">
                                        <img src="assets/img/picture.svg" alt="" width="20" height="20">
                                        <img src="assets/img/happy.png" class="ml-2" width="20" height="20" alt="">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- <input type="file" style="display: none" />
    <button>Open File Dialog</button> -->



<!-- The Modal -->
<div class="modal" id="pendingSpotlightModel">
    <div class="modal-dialog  modal-lg2">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Pending Spotlight</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid border mt-3" *ngFor="let spotLight of spotLightList.spotlightdata">
                    <div class="row" style="background: lightgray;">
                        <div class="col-lg-1 p-2">
                            <img src="assets/img/avtarbg.jpg" alt="" class="img-fluid spotProImg">
                        </div>
                        <div class="col-lg-4 p-2">
                            <h5>{{spotLight.name}}</h5>
                            <h6 class="text-danger">{{spotLight.created_at  | timeAgo}}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- <p class="pl-3 pr-3 pt-3">Test Sptlight For Testing purpose</p> -->
                        </div>
                    </div>
                    <div class="row p-2">


                        <div class="col-lg-8 ">
                            <form [formGroup]="postForm" (ngSubmit)="postSpotlight(spotLight.id)">

                                <textarea name="textarea" [(ngModel)]="message" formControlName="content" id=""
                                    class="txtArea textarea"
                                    placeholder="Your friends are waiting to hear from you"></textarea>
                                <input type="submit" id="btn_post" class="btn btn-danger pull-right  btn-block"
                                    value="Post" />
                            </form>
                            <div style="position: absolute;right: 24px; bottom: 65px;">
                                <span>
                                    <form>
                                        <input type="image" src="assets/img/picture.svg" height="20" width="20" />
                                        <input type="file" id="File1" (change)="createPostImage($event.target.files )"
                                            style="display: none;
                                            " />
                                    </form>
                                </span>

                                <!-- <input type="file" id="imgupload" style="display:none" />
                                        <button id="OpenImgUpload">Image Upload</button> -->
                                <i (click)="show()" (click)="show1()" style="cursor: pointer; ">

                                    <emoji-mart (emojiClick)="handleSelection($event)" *ngIf="iFlag == true">
                                    </emoji-mart>
                                    <img src="assets/img/happy.png" height="20" width="20" alt="">
                                </i>
                            </div>

                        </div>
                        <div class="col-lg-4 ">
                            <img src="assets/img/avtar.png" alt="" class="img-fluid img-thumbnail imgSpot p-1 ">

                        </div>

                    </div>

                    <!-- <div class="row pull-right">
                            <div class="col-lg-12 text-center p-3">
                                <button class="btn btn-danger mr-3">Submit</button>
                                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                        </div> -->
                </div>
                <hr class="mt-5 " style="height: 1px; background: red;">
                <div class="container mt-4">
                    <h3 class="text-danger pl-0 pr-4 pb-4 pt-0">Spotlight Pending Post</h3>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-sm-2 mt-2" *ngFor="let posts of spotLightList.posts">
                                    <h6>{{posts.content}}</h6>
                                    <img src="assets/img/avtar.png" style="height: 150px;width: 250px;" alt=""
                                        class="img-fluid img-thumbnail" *ngIf="posts.has_image == null">
                                    <img [src]=posts.has_image style="height: 150px;width: 250px;" alt=""
                                        class="img-fluid img-thumbnail" *ngIf="posts.has_image != null">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>