body {
    position: fixed;
}

.container {
    max-width: 1170px;
    margin: auto;
}

img {
    max-width: 100%;
}

.inbox_people {
    background: #ffffff none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 30%;
    border-right: 1px solid #c4c4c4;
}

.inbox_msg {
    border: 1px solid #999595;
    padding: 0;
    clear: both;
    overflow: hidden;
}

.top_spac {
    margin: 20px 0 0;
}

.recent_heading {
    float: left;
    width: 174%;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
}

.headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    /* border-bottom: 1px solid #c4c4c4; */
}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
}

.srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 174%;
    padding: 2px 0 4px 6px;
    background: #6A68680A;
}

.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
}

.chat_ib {
    font-size: 15px;
    color: #495969;
    margin: 0 0 8px 0;
}

.chat_ib h5 span {
    font-size: 13px;
    float: right;
}

.chat_ib p span {
    font-size: 13px;
    float: right;
}

.chat_ib p {
    font-size: 14px;
    color: #9095A4;
    margin: auto
}

.chat_img {
    float: left;
    width: 12%;
    border-radius: 50%;
    border: 2px solid #ED5D42;
    margin-top: 6px;
}

.chat_img1 {
    float: left;
    width: 100%;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 5px solid #ffffff;
    margin: 0;
    border-radius: 10PX;
    padding: 10px 16px 10px;
}

.inbox_chat {
    height: 440px;
    overflow-y: scroll;
}

.active_chat {
    background: #ED5D4227;
    border-radius: 5px;
    height: 81px;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg {
    width: 57%;
}

.mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
}

.sent_msg p {
    background: rgba(253, 88, 58, 0.692) none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.sent_msg {
    float: right;
    width: 46%;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}


/* .type_msg {
    border-top: 1px solid #c4c4c4;
    padding-bottom: 2px;
} */

.msg_send_btn {
    background: #FBFBFB none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    color: #F77555;
    font-size: 22px;
    height: 33px;
    position: absolute;
    right: 90px;
    bottom: 83px;
    width: 33px;
}

.msg_send_btn1 {
    background: #F5C33A none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 80px;
    bottom: 70px;
    width: 33px;
}

.messaging {
    padding: 0 0 50px 0;
}

.msg_history {
    height: 425px;
    overflow-y: auto;
    width: 850px;
}

.recent {
    font-weight: Bold;
    letter-spacing: 0;
    color: #ED5D42;
    opacity: 1;
}

.unread {
    font-weight: Bold;
    letter-spacing: 0;
    color: #9095A4;
    opacity: 1;
}

.group {
    font-weight: Bold;
    letter-spacing: 0;
    color: #9095A4;
    opacity: 1;
}

::-webkit-scrollbar {
    display: none;
}

.half-rule {
    border-bottom: 1px solid #999595;
    margin-left: -25px;
    /* margin-right: -145px; */
    width: 930px;
}

.img1 {
    border-radius: 50%;
    border: 1px solid #ED5D42;
    width: 60px;
    height: 60px;
}

.userName {
    font-weight: bold;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    padding-left: 0;
    padding-right: 0;
}

.useName {
    margin-left: -28px;
    padding: 17px;
    font-weight: bold;
    font-size: 19px;
}


/* Tabs*/

section {
    padding: 10px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    /* margin-bottom: 50px; */
    text-transform: uppercase;
}

#tabs {
    /* background: #007b5e; */
    color: #eee;
}

#tabs h6.section-title {
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #ED5D42;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #e44d4d;
    font-size: 20px;
}

.frmCtrl {
    background: #6A68680A;
    border: none
}

.h5 {
    color: #eb412b;
    letter-spacing: 0;
    font-weight: 400;
}

.fa-ellipsis-h {
    color: #ED5D42;
    padding: 2px;
    font-size: 35px;
    letter-spacing: 3px;
}