<div class="mainContainer">
    <div class="container">
        <div class="row p-4" style="margin-top: 138px;">
            <div class="col-lg-12 col-md-12 col-sm-10">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <img src="assets/img/logoRegister (2).png" class="card-img bgimg" alt="...">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-s-12 ">
                <h3 class="text-center font-italic mt-4">Privacy Policy</h3>
                <!-- <hr style="background: black; "> -->
            </div>

            <div class="col-lg-12 col-md-12 col-sm-10">
                <p class="text-justify mt-4" style="font-size: 18px;">
                    We, at 1418 (Burnt Toast LLP) appreciate the trust and information entrusted upon us by you, and
                    seek to protect such information to the best extent possible, and only use the information in a
                    man-ner provided in this privacy policy (“<b>Privacy Policy</b>”)
                </p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-10">
                <p class="text-justify mt-4" style="font-size: 18px;">
                    The Privacy Policy is to be read along with and is also subject to 1418 (Burnt Toast LLP) terms of
                    use available at (“ <b>Terms of Use</b> ”), and comes into effect from the date and time a user (“
                    <b>User”</b> or “ <b>You</b>”) registers with 1418, and accepts the Terms of Use laid provided for.
                    By using the 1418 Website/app (the “ <b>Website ”</b> and “ <b>Services</b> ”), you have agreed to
                    permit to us the collection, stor-age, and use of the personal information you provide (including
                    any changes thereto as provided by the User) for any of the services that 1418 (Burnt Toast LLP)
                    offers.
                </p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-10">
                <p class="text-justify mt-4" style="font-size: 18px;">
                    By using our Service you understand and accept this privacy policy along with any changes as may be
                    made from time to time (<b>“Privacy Policy”</b>) and thereby expressly consent to our collection,
                    use and disclosure of Personal Information (as defined below) in accordance with this Privacy
                    Policy. If you are not agreeable to this, please do not use this Website or Services.
                </p>
            </div>
            <div class="col-lg-12 col-md-12 mt-4" style="font-size: 18px;">
                <p>
                    Burnt Toast LLP operates the <a href="https://www.1418.in" target="_blank">https://www.1418.in</a>
                    website, 1418 app on Play Store on Android and 1418 app on iOS app store, which provides the SERVICE
                </p>

            </div>
            <div class="col-lg-12 col-md-12">
                <h5 class="font-italic mt-4">SERVICES</h5>
                <hr style="background: #694e4e; height: 3px; width: 90px; ">

                <p class="text-justify mt-4" style="font-size: 18px;">
                    This page is used to inform website/app visitors regarding our policies with the collection, use,
                    and disclosure of Personal Information for users who decide to use our Service, the <a
                        href="https://www.1418.in" target="_blank">https://www.1418.in</a> web-site / 1418 app.

                </p>
                <p class="text-justify mt-4" style="font-size: 18px;">
                    If you choose to use our Service, then you agree to the collection and use of information in
                    relation with this policy. The Personal Information that we collect are used for providing and
                    improving the Service. We will not use or share your information with anyone except as described in
                    this Privacy Policy.

                </p>
                <p class="text-justify mt-4" style="font-size: 18px;">
                    The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which
                    is accessible at <a href="https://www.1418.in" target="_blank">https://www.1418.in</a> website/1418
                    app, unless otherwise defined in this Pri-vacy Policy.

                </p>
            </div>

            <div class="col-lg-12 col-md-12">
                <h5 class="font-italic mt-4">Information Collection and Use</h5>
                <hr style="background: #694e4e; height: 3px; width: 280px; ">

                <p class="text-justify mt-4" style="font-size: 18px;">
                    For a better experience while using our Service, we may require you to provide us with certain
                    per-sonally identifiable information, including but not limited to your name, phone number, and
                    postal address. The information that we collect will be used to contact or identify you.

                </p>
            </div>

            <div class="col-lg-12 col-md-12">
                <h5 class="font-italic mt-4">Log Data</h5>
                <hr style="background: #694e4e; height: 3px; width: 85px; ">

                <p class="text-justify mt-4" style="font-size: 18px;">
                    With your permission, we may automatically collect some information about your hardware de-vices
                    when you access 1418. For example, when you utilize our applications, we may collect your internet
                    protocol (<b>“ IP”</b>) address and the type of mobile device you use and your geograph-ic location.
                    We also may collect information about your activity on 1418, such as information about your account
                    usage, as well as information about how you interact with the Application (collectively, <b>“ User
                        Data”</b>). We may combine this automatically-gathered information with other information,
                    including Personal Information we have collected about you. We want to in-form you that whenever you
                    visit our Service, we collect information that your browser sends to us that is called Log Data.
                    This Log Data may include information such as your computer’s In-ternet Protocol (<b>"IP"</b>)
                    address, browser version, pages of our Service that you visit, the time and date of your visit, the
                    time spent on those pages, and other statistics.

                </p>
            </div>

            <div class="col-lg-12 col-md-12">
                <h5 class="font-italic mt-4">Cookies</h5>
                <hr style="background: #694e4e; height: 3px; width: 85px; ">

                <p class="text-justify mt-4" style="font-size: 18px;">
                    Cookies are files with small amount of data that is commonly used an anonymous unique identifier.
                    These are sent to your browser from the website that you visit and are stored on your computer’s
                    hard drive.
                    Our website uses these <b>"cookies"</b> to collection information and to improve our Service. You
                    have the option to either accept or refuse these cookies, and know when a cookie is being sent to
                    your computer. If you choose to refuse our cookies, you may not be able to use some portions of our
                    Ser-vice.
                </p>
                <p class="text-justify mt-3" style="font-size: 18px;">
                    If you have permitted 1418 to track your IP address and save cookies in your device by accept-ing
                    this Privacy Policy, to extend this personalised experience, 1418 may track the IP address of your
                    device and save certain User data on your device in the form of cookies. 1418 uses this da-ta only
                    to deliver web pages to you upon request, to customise the site to your interests, to measure
                    traffic within the Application, and with your consent let advertisers know the geo-graphic locations
                    of the Users.<b>Please note that such portion of your data provided by you to 1418 that may be
                        personal or sensitive in nature, will not be provided to third parties with-out your
                        consent</b>. User data of a general nature such as demographics may however be revealed to
                    external parties.
                    All information (and copies thereof) collected by 1418, including without limitation Personal
                    In-formation, User Data, and other information related to your access and use of the services
                    of-fered by 1418, may be retained by 1418 for such period as necessary, including but not limited
                    to, for purposes such as compliance with statutory or legal obligations, tax laws and potential
                    ev-identiary purposes and for other reasonable purposes such as to implement, administer, and manage
                    your access and use of our services, or resolution of any disputes.

                </p>
                <p class="text-justify mt-2" style="font-size: 18px;">
                    To ensure a seamless experience at the Website for you and to ensure your maximum benefit and
                    comfort, we use or may use the data collected through cookies, log file, device identifiers,
                    loca-tion data and clear gifs information to: (a) remember information so that you will not have to
                    re-enter it during your visit or the next time you visit the site; (b) provide custom, personalized
                    con-tent and information, including advertising; (c) provide and monitor the effectiveness of our
                    Services; (d) monitor aggregate metrics such as total number of visitors, traffic, usage, and
                    de-mographic patterns on our website and our Services; (e) diagnose or fix technology problems; and
                    (f) otherwise to plan for and enhance our service.
                </p>

                <p class="text-justify mt-2" style="font-size: 18px;">
                    We use certain third-party analytics tools to help us measure traffic and usage trends for the
                    Services. These tools collect information, which is not personal or sensitive in nature sent by your
                    device or our Services, including the web pages you visit, add-ons, and other information that
                    assists us in improving the Services. <b>We collect and use this analytics information with
                        analytics information from other Users in the form of anonymised logs, so that it cannot
                        reasonably be used to identify any particular individual User</b>.
                </p>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-10">
                <h5 class="font-italic mt-4">CONFIDENTIALITY</h5>
                <hr style="background: #694e4e; height: 3px; width: 170px; ">
                <p class="text-justify mt-4" style="font-size: 18px;">
                    Any information shared by you during personal consultation (“Confidential Information”) shall be
                    excluded from the definition of Personal Information and shall not be collected/used in the same
                    manner as Personal Information as mentioned in clause 1 and 2 above.
                </p>
                <p class="text-justify m-0 p-0" style="font-size: 18px;">
                    Your Confidential Information shall not be disclosed or shared by 1418, its employees, its agents or
                    any third party contractors, including the experts; either orally or in writing; except on-ly in the
                    following circumstances: If 1418 believes that there is a significant/ real/ imminent threat or risk
                    to your health, safety or life or to the health, safety or life of any other person or the public;
                    <span>
                        <ul class="mt-2" style="margin-left: 50px;">
                            <li>
                                <p style="font-size: 18px;">
                                    If 1418 is required to share such Confidential Information to any authority by law;
                                    and
                                </p>
                            </li>
                            <li>
                                <p style="font-size: 18px;">
                                    If you have claimed a health care insurance and such Confidential Information is
                                    required by the insurer.
                                </p>
                            </li>

                        </ul>
                    </span>
                </p>
            </div>

            <div class="col-lg-12 col-md-12">
                <h5 class="font-italic mt-4">SHARING YOUR CONTENT</h5>
                <hr style="background: #694e4e; height: 3px; width: 240px; ">
                <p class="text-justify mt-4" style="font-size: 18px;">
                    We may share Personal Information (including but not limited to, information from cookies, log
                    files, device identifiers, location data, and usage data) with businesses that are legally part of
                    the same group of companies that 1418 is part of, or that become part of that group
                    (<b>“Affiliates”</b>).Our Affiliates may only use this information to help provide, understand, and
                    improve the Service (including by providing analytics) and Affiliates’ own services (including by
                    provid-ing you with better and more relevant experiences).
                    <br>
                    <span class="ml-5">
                        We also may share your Personal Information as well as information from tools like cookies, log
                        files, and device identifiers and location data, with third-party organizations that help us
                        pro-vide the Services to you. Our service providers will only be given access to your
                        information as is reasonably necessary to provide the Services.All the Service Providers and
                        third parties en-gaged by 1418 shall be bound by adequate confidentiality terms to protect the
                        Confidential In-formation and the Personal Information of the User so that such information is
                        not used in any manner it is not intended to be used.
                    </span>
                    <br>
                    <span class="ml-5">
                        While sharing any information with any third party, we will remove parts of data that can
                        iden-tify you and share only anonymized data with other parties. We may also combine your
                        infor-mation with other information in a way that it is no longer associated with you and share
                        that anonymised aggregated information which cannot be traced back to you.
                    </span>
                    <br>
                    <span class="ml-5">
                        Please note that only Personal Information or content that you voluntarily disclose for posting
                        to the Website, or post to any social media account owned and operated by 1418 becomes
                        avail-able to the public. No other information provided by you is shared with the public. Once
                        you have shared such information or made it public, the same may be re-shared by others,
                        re-posted by 1418, or used by 1418 for the purposes of analysis, research or studies.
                    </span>
                    <br>
                    <span class="ml-5">
                        1418 shall not ordinarily share the sensitive Personal Information of a User without their prior
                        consent.You agree that 1418 may share sensitive Personal Information of a User with any third
                        party without obtaining the prior consent of the User in the following limited circumstances:
                    </span>
                    <br>

                </p>
                <p class="text-justify ml-5" style="font-size: 18px;">
                    <span>
                        When it is requested or required by law or by any court or governmental agency or authority to
                        disclose, for the purpose of verification of identity, or for the prevention, detection,
                        inves-tigation including cyber incidents, or for prosecution and punishment of offences. These
                        dis-closures are made in good faith and belief that such disclosure is reasonably necessary for
                        enforcing the Terms of Use, this Privacy Policy, or for complying with the applicable laws and
                        regulations.
                    </span>
                    <br>
                    <span>
                        1418 proposes to share such information within its group companies and officers and em-ployees
                        of such group companies for the purpose of processing personal information on its behalf. 1418
                        also ensures that the recipients of such information agree to process such infor-mation based on
                        our instructions and in compliance with this Privacy Policy and any other appropriate
                        confidentiality and security measures.
                    </span>
                </p>


            </div>
            <div class="col-lg-12 col-md-12">
                <h5 class="font-italic mt-4">STORAGE OF INFORMATION AND CONTENT</h5>
                <hr style="background: #694e4e; height: 3px; width: 410px; ">
                <p class="text-justify mt-4" style="font-size: 18px;">
                    Please make sure that you maintain the secrecy of your account information. For the safety and
                    security of your information, we have implemented procedures to help protect the information that
                    you provide to us. However, no method of transmitting or storing electronic data is ever completely
                    secure, and we cannot guarantee that such information will never be accessed, used, or released in a
                    manner that is inconsistent with this policy. We expressly disclaim any represen-tation or warranty,
                    whether express or implied, with respect to ensuring, guaranteeing, or other-wise offering any
                    definitive promise of security in connection with your Information. THE US-ER IS RESPONSIBLE FOR
                    MAINTAINING THE SECRECY OF YOUR ACCOUNT IN-FORMATION AT ALL TIMES.
                    <br>
                    <span>
                        The User is solely responsible for maintaining confidentiality of the User’s password and User
                        identification. The User shall be solely responsible for all activities and transmission
                        performed by the User through his User identification. 1418 assumes no responsibility or
                        liability for their improper use of information relating to such usage of credit cards and/or
                        debit cards by the Us-er, whether online or off-line.
                    </span>
                    <br>
                    1418 may change or amend this Privacy Policy from time to time
                </p>
            </div>

            <div class="col-lg-12 col-md-12">
                <h5 class="font-italic mt-4">Service Providers</h5>
                <hr style="background: #694e4e; height: 3px; width: 150px; ">

                <p class="text-justify mt-4" style="font-size: 18px;">
                    We may employ third-party companies and individuals due to the following reasons:
                    <span>
                        <ul class="mt-2" style="margin-left: 50px;">
                            <li>
                                <p style="font-size: 18px;">
                                    To facilitate our Service;
                                </p>
                            </li>
                            <li>
                                <p style="font-size: 18px;">
                                    To provide the Service on our behalf;
                                </p>
                            </li>
                            <li>
                                <p style="font-size: 18px;">
                                    To perform Service-related services; or
                                </p>
                            </li>
                            <li>
                                <p style="font-size: 18px;">
                                    To assist us in analyzing how our Service is used.
                                </p>
                            </li>
                        </ul>
                    </span>
                </p>
                <p class="text-justify" style="font-size: 18px;">
                    We value your trust in providing us your Personal Information, thus we are striving to use
                    commer-cially acceptable means of protecting it. But remember that no method of transmission over
                    the in-ternet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee
                    its ab-solute security.


                </p>

            </div>


            <div class="col-lg-12 col-md-12">
                <h5 class="font-italic mt-4">Security</h5>
                <hr style="background: #694e4e; height: 3px; width: 85px; ">

                <p class="text-justify mt-4" style="font-size: 18px;">
                    We value your trust in providing us your Personal Information, thus we are striving to use
                    commercially acceptable means of protecting it. But remember that no method of transmission over the
                    internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its
                    absolute security.


                </p>
            </div>

            <div class="col-lg-12 col-md-12">
                <h5 class="font-italic mt-4">Links to Other Sites</h5>
                <hr style="background: #694e4e; height: 3px; width: 175px; ">

                <p class="text-justify mt-4" style="font-size: 18px;">
                    Our Service may contain links to other sites. If you click on a third-party link, you will be
                    directed to that site. Note that these external sites are not operated by us. Therefore, we strongly
                    advise you to review the Privacy Policy of these websites. We have no control over, and assume no
                    responsibil-ity for the content, privacy policies, or practices of any third-party sites or
                    services.
                    Children’s Privacy


                </p>
                <p class="text-justify mt-2" style="font-size: 18px;">
                    Our Services do not address anyone under the age of 13. We do not knowingly collect personal
                    identifiable information from children under 13. In the case we discover that a child under 13 has
                    provided us with personal information, we immediately delete this from our servers. If you are a
                    parent or guardian and you are aware that your child has provided us with personal information,
                    please contact us so that we will be able to do necessary actions.


                </p>
            </div>

            <!-- <div class="col-lg-12 col-md-12">
                <h5 class="font-italic mt-4">Children’s Privacy</h5>
                <hr style="background: #694e4e; height: 3px; width: 160px; ">

                <p class="text-justify mt-4" style="font-size: 18px;">
                    Our Services do not address anyone under the age of 13. We do not knowingly collect personal
                    identifiable information from children under 13. In the case we discover that a child under 13 has
                    provided us with personal information, we immediately delete this from our servers. If you are a
                    parent or guardian and you are aware that your child has provided us with personal information,
                    please contact us so that we will be able to do necessary actions.


                </p>
            </div> -->

            <div class="col-lg-12 col-md-12">
                <h5 class="font-italic mt-4">Changes to This Privacy Policy</h5>
                <hr style="background: #694e4e; height: 3px; width: 280px; ">

                <p class="text-justify mt-4" style="font-size: 18px;">
                    We may update our Privacy Policy from time to time. Thus, we advise you to review this page
                    peri-odically for any changes. We will notify you of any changes by posting the new Privacy Policy
                    on this page. These changes are effective immediately, after they are posted on this page.


                </p>
            </div>

            <div class="col-lg-12 col-md-12">
                <h5 class="font-italic mt-4">Contact Us</h5>
                <hr style="background: #694e4e; height: 3px; width: 100px; ">

                <p class="text-justify mt-4" style="font-size: 18px;">
                    If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.
                    <!-- <span>

                        <ul class="mt-2" style="margin-left: 50px;">
                            <li>
                                <p style="font-size: 18px;">
                                    Mr Sudhanshu Rawat Email : sr@1418.in Cell # 9810090089
                                </p>
                            </li>
                            <li>
                                <p style="font-size: 18px;">
                                    Mr Ashish Bahl : ab@1418.in Cell # 9654455306
                                </p>
                            </li>

                        </ul>
                    </span> -->
                </p>
            </div>
        </div>
        <!-----------------------------------Terms & Conditions------------------------------------>
        <div class="row p-3">
            <div class="col-lg-12 col-md-12 col-sm-10">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h4 class="text-center p-4">Terms & Conditions</h4>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-10">
                        <h5 class="font-italic mt-4">Terms of Use</h5>
                        <hr style="background: #694e4e; height: 3px; width: 120px; ">
                        <p class="text-justify mt-4" style="font-size: 18px;">
                            Welcome to 1418! India’s First Exclusive Platform for 14 to 18 year olds

                        </p>
                        <p class="text-justify mt-4" style="font-size: 18px;">
                            These Terms of Use govern your use of 1418 and provide information about the 1418 Service,
                            outlined below. When you create an 1418 account or use 1418, you agree to these terms.
                        </p>
                        <p class="text-justify mt-4" style="font-size: 18px;">
                            The 1418 Service is one of the Burnt Toast LLP’s products. These Terms of Use therefore
                            constitute an agreement between you and Burnt Toast LLP
                        </p>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-10">
                        <h5 class="font-italic mt-4">The 1418 Service</h5>
                        <hr style="background: #694e4e; height: 3px; width: 140px; ">
                        <p class="text-justify mt-4" style="font-size: 18px;">
                            We agree to provide you with the 1418 Service. The Service includes all of the 1418
                            products, features, applications, services, technologies, and software. The Service is made
                            up of the following aspects (the Service):

                            <span>
                                <ul class="mt-2" style="margin-left: 50px;">
                                    <li>
                                        <p style="font-size: 18px;">
                                            <b>Offering personalised opportunities to create, connect, communicate,
                                                discover, and share.</b>
                                            <br>
                                            The specific needs of 14 to 18 year old’s are different. We want you to
                                            strengthen your relationships through shared experiences that you actually
                                            care about. So we build systems that try to understand who and what you and
                                            others care about, and use that information to help you create, find, join,
                                            and share in experiences that matter to you. Part of that is highlighting
                                            content, features, offers, and accounts you might be interested in, and
                                            offering ways for you to experience 1418, based on things you and others do
                                            on and off 1418.
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            <b>Fostering a positive, inclusive, and safe environment.</b>
                                            <br>
                                            We develop and use tools and offer resources to our community members that
                                            help to make their experiences positive and inclusive, including when we
                                            think they might need help. We also have teams and systems that work to
                                            combat abuse and violations of our Terms and policies, as well as harmful
                                            and deceptive behaviour. We use all the information we have-including your
                                            information-to try to keep our platform secure. We also may share
                                            information about misuse or harmful content with other Burnt Toast LLP
                                            Companies or law enforcement. Learn more in the Privacy Policy on <a
                                                href="https://www.1418.in" target="_blank">https://www.1418.in.</a>
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            <b>Developing and using technologies that help us consistently serve our
                                                growing community.</b>
                                            <br>
                                            Organising and analysing information for our growing community is central to
                                            our Service. A big part of our Service is creating and using cutting-edge
                                            technologies that help us personalise, protect, and improve our Service on
                                            an incredibly large scale for a broad global community. Technologies like
                                            artificial intelligence and machine learning give us the power to apply
                                            complex processes across our Service. Automated technologies also help us
                                            ensure the functionality and integrity of our Service.
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            <b>Providing consistent and seamless experiences across other Burnt Toast
                                                LLP Company Products.</b>
                                            <br>
                                            1418 is part of the Burnt Toast LLP Companies, which share technology,
                                            systems, insights, and information-including the information we have about
                                            you (learn more in the Privacy Policy on <a href="https://www.1418.in"
                                                target="_blank">https://www.1418.in</a>) in order to provide services
                                            that are better, safer, and more secure. We also provide ways to interact
                                            across the Burnt Toast LLP Company Products that you use, and designed
                                            systems to achieve a seamless and consistent experience across the Burnt
                                            Toast LLP Company Products.
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            <b>Ensuring a stable global infrastructure for our Service.</b>
                                            <br>
                                            To provide our global Service, we must store and transfer data across our
                                            systems around the world, including outside of your country of residence.
                                            This infrastructure may be owned or operated by Burnt Toast LLP or their
                                            affiliates.
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            <b>Connecting you with brands, products, and services in ways you care
                                                about.</b>
                                            <br>
                                            We use data from 1418 and other Burnt Toast LLP Company Products, as well as
                                            from third-party partners, to show you ads, offers, and other sponsored
                                            content that we believe will be meaningful to you. And we try to make that
                                            content as relevant as all your other experiences on 1418.
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            <b>Research and innovation.</b>
                                            <br>
                                            We use the information we have to study our Service and collaborate with
                                            others on research to make our Service better and contribute to the
                                            well-being of our community.
                                        </p>
                                    </li>
                                </ul>
                            </span>
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-10">
                        <h5 class="font-italic mt-4">The Privacy/Data Policy</h5>
                        <hr style="background: #694e4e; height: 3px; width: 210px; ">
                        <p class="text-justify mt-4" style="font-size: 18px;">
                            Providing our Service requires collecting and using your information. The Privacy Policy on
                            <a href="https://www.1418.in" target="_blank">https://www.1418.in</a> explains how we
                            collect, use, and share information across Burnt Toast LLP Products.. You must agree to the
                            Privacy Policy to use 1418.
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-10">
                        <h5 class="font-italic mt-4">Your Commitments to us</h5>
                        <hr style="background: #694e4e; height: 3px; width: 220px; ">
                        <p class="text-justify mt-4" style="font-size: 18px;">
                            In return for our commitment to provide the Service, we require you to make the below
                            commitments to us.
                        </p>

                        <p class="text-justify mt-4" style="font-size: 18px;">
                            <span><b>Who Can Use 1418: </b>
                                We want our Service to be as open and inclusive as possible, but we also want it to be
                                safe, secure, and in accordance with the law. So, we need you to commit to a few
                                restrictions in order to be part of the 1418 community.
                            </span>
                            <span>
                                <ul class="mt-2" style="margin-left: 50px;">
                                    <li>
                                        <p style="font-size: 18px;">
                                            You must be at least 14 years old or the minimum legal age in your country
                                            to use 1418.
                                        </p>

                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            You must not be prohibited from receiving any aspect of our Service under
                                            applicable laws or engaging in payments related Services if you are on an
                                            applicable denied party listing.
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            We must not have previously disabled your account for violation of law or
                                            any of our policies.
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            You must not be a convicted sex offender.
                                        </p>
                                    </li>
                                </ul>
                            </span>
                        </p>

                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-10">
                        <p class="text-justify mt-4" style="font-size: 18px;">
                            <span><b>What is not permissible / acceptable on 1418:</b>
                                Providing a safe and open Service for a broad community requires that we all do our
                                part.
                            </span>
                            <span>
                                <ul class="mt-2" style="margin-left: 50px;">
                                    <li>
                                        <p style="font-size: 18px;">
                                            <span><b>You can't impersonate others or provide inaccurate information.</b>
                                                <br>
                                                You don't have to disclose your identity on 1418, but you must provide
                                                us with accurate and up to date information (including registration
                                                information). Also, you may not impersonate someone you aren't, and you
                                                can't create an account for someone else unless you have their express
                                                permission.
                                            </span>
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            You can't do anything unlawful, misleading, or fraudulent or for an illegal
                                            or unauthorised purpose.
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            You can't violate (or help or encourage others to violate) these Terms or
                                            our policies.
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            You can't do anything to interfere with or impair the intended operation of
                                            the Service.
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            You can't attempt to create accounts or access or collect information in
                                            unauthorised ways.
                                            This includes creating accounts or collecting information in an automated
                                            way without our express permission.

                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            You can't attempt to buy, sell, or transfer any aspect of your account
                                            (including your username) or solicit, collect, or use login credentials or
                                            badges of other users.

                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            You can't post private or confidential information or do anything that
                                            violates someone else's rights, including intellectual property.
                                            Learn more, including how to report content that you think infringes your
                                            intellectual property rights

                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            You can't use a domain name or URL in your username without our prior
                                            written consent.

                                        </p>
                                    </li>
                                </ul>
                            </span>
                        </p>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-10">
                        <p class="text-justify mt-4" style="font-size: 18px;">
                            <span>
                                <b>Permissions provided to us by you : </b>
                                <br>
                                As part of our agreement, you also give us permissions that we need to provide the
                                Service.
                            </span>
                            <span>
                                <ul class="mt-2" style="margin-left: 50px;">
                                    <li>
                                        <p style="font-size: 18px;">
                                            We do not claim ownership of your content, but you grant us a license to use
                                            it.
                                            Nothing is changing about your rights in your content. We do not claim
                                            ownership of your content that you post on or through the Service. Instead,
                                            when you share, post, or upload content that is covered by intellectual
                                            property rights (like photos or videos) on or in connection with our
                                            Service, you hereby grant to us a non-exclusive, royalty-free, transferable,
                                            sub-licensable, worldwide license to host, use, distribute, modify, run,
                                            copy, publicly perform or display, translate, and create derivative works of
                                            your content (consistent with your privacy and application settings). You
                                            can end this license anytime by deleting your content or account. However,
                                            content will continue to appear if you shared it with others and they have
                                            not deleted it. To learn more about how we use information, and how to
                                            control or delete your content, review the Privacy/ Data Policy.

                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            Permission to use your username, profile picture, and information about your
                                            relationships and actions with accounts, ads, and sponsored content.
                                            You give us permission to show your username, profile picture, and
                                            information about your actions (such as likes) or relationships (such as
                                            follows) next to or in connection with accounts, ads, offers, and other
                                            sponsored content that you follow or engage with that are displayed on Burnt
                                            Toast LLP Products, without any compensation to you. For example, we may
                                            show that you liked a sponsored post created by a brand that has paid us to
                                            display its ads on 1418.

                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            You agree that we can download and install updates to the Service on your
                                            device.

                                        </p>
                                    </li>
                                </ul>
                            </span>
                        </p>
                    </div>

                    <div class="col-lg-12 col-sm-10 col-md-12">
                        <p class="text-justify mt-4" style="font-size: 18px;">
                            <span>
                                <b>Additional Rights Retained by us : </b>
                            </span>
                            <span>
                                <ul class="mt-2" style="margin-left: 50px;">
                                    <li>
                                        <p style="font-size: 18px;">
                                            If you select a username or similar identifier for your account, we may
                                            change it if we believe it is appropriate or necessary (for example, if it
                                            infringes someone's intellectual property or impersonates another user).
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            If you use content covered by intellectual property rights that we have and
                                            make available in our Service (for example, images, designs, videos, or
                                            sounds we provide that you add to content you create or share), we retain
                                            all rights to our content (but not yours).
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            You can only use our intellectual property and trademarks or similar marks
                                            with our prior written permission.
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            You must obtain written permission from us or under an open source license
                                            to modify, create derivative works of, decompile, or otherwise attempt to
                                            extract source code from us.
                                        </p>
                                    </li>
                                </ul>
                            </span>
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-10">
                        <p class="text-justify mt-4" style="font-size: 18px;">
                            <span>
                                <b>Terminating Your Account or Content Removal and Disabling :</b>
                            </span>
                            <span>
                                <ul class="mt-2" style="margin-left: 50px;">
                                    <li>
                                        <p style="font-size: 18px;">
                                            We can remove any content or information you share on the Service if we
                                            believe that it violates these Terms of Use, our policies, or we are
                                            permitted or required to do so by law. We can refuse to provide or stop
                                            providing all or part of the Service to you (including terminating or
                                            disabling your account) immediately to protect our community or services, or
                                            if you create risk or legal exposure for us, violate these Terms of Use or
                                            our policies, if you repeatedly infringe other people's intellectual
                                            property rights, or where we are permitted or required to do so by law. If
                                            we take action to disable or terminate your account, we will notify you
                                            where appropriate. If you believe your account has been terminated in error,
                                            or you want to disable or permanently delete your account, contact us at
                                            info@1418.in
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            Content you delete may persist for a limited period of time in backup copies
                                            and will still be visible where others have shared it. This paragraph, and
                                            the section below called "Our Agreement and What Happens if We Disagree,"
                                            will still apply even after your account is terminated or deleted.
                                        </p>
                                    </li>
                                </ul>
                            </span>
                        </p>

                        <p class="text-justify mt-4" style="font-size: 18px;">
                            <span>
                                <b>Our Agreement, Terms under Disagreement :</b>
                            </span>
                            <span>
                                <ul class="mt-2" style="margin-left: 50px;">
                                    <li>
                                        <p style="font-size: 18px;">
                                            Your use of content on the Service is also subject to our terms and
                                            conditions. If you use certain other features or related services,
                                            additional terms will be made available and will also become a part of our
                                            agreement. For example, if you use payment features, you will be asked to
                                            agree to the payment terms. If any of those terms conflict with this
                                            agreement, those other terms will govern.
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            If any aspect of this agreement is unenforceable, the rest will remain in
                                            effect.
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            Any amendment or waiver to our agreement must be in writing and signed by
                                            us. If we fail to enforce any aspect of this agreement, it will not be a
                                            waiver.
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            We reserve all rights not expressly granted to you.
                                        </p>
                                    </li>
                                </ul>
                            </span>
                        </p>
                        <p class="text-justify mt-4" style="font-size: 18px;">
                            <span>
                                <b>Rights Under this Agreement :</b>
                            </span>
                            <span>
                                <ul class="mt-2" style="margin-left: 50px;">
                                    <li>
                                        <p style="font-size: 18px;">
                                            This agreement does not give rights to any third parties.
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            You cannot transfer your rights or obligations under this agreement without
                                            our consent.
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            Our rights and obligations can be assigned to others. For example, this
                                            could occur if our ownership changes (as in a merger, acquisition, or sale
                                            of assets) or by law.
                                        </p>
                                    </li>

                                </ul>
                            </span>
                        </p>

                        <p class="text-justify mt-4" style="font-size: 18px;">
                            <span>
                                <b>Who Is Responsible if Something Happens :</b>
                            </span>
                            <span>
                                <ul class="mt-2" style="margin-left: 50px;">
                                    <li>
                                        <p style="font-size: 18px;">
                                            Our Service is provided "as is," and we can't guarantee it will be safe and
                                            secure or will work perfectly all the time. TO THE EXTENT PERMITTED BY LAW,
                                            WE ALSO DISCLAIM ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING THE
                                            IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
                                            TITLE, AND NON-INFRINGEMENT.
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            We also don’t control what people and others do or say, and we aren’t
                                            responsible for their (or your) actions or conduct (whether online or
                                            offline) or content (including unlawful or objectionable content). We also
                                            aren’t responsible for services and features offered by other people or
                                            companies, even if you access them through our Service.
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            Our responsibility for anything that happens on the Service (also called
                                            "liability") is limited as much as the law will allow. If there is an issue
                                            with our Service, we can't know what all the possible impacts might be. You
                                            agree that we won't be responsible ("liable") for any lost profits,
                                            revenues, information, or data, or consequential, special, indirect,
                                            exemplary, punitive, or incidental damages arising out of or related to
                                            these Terms, even if we know they are possible. This includes when we delete
                                            your content, information, or account.
                                        </p>
                                    </li>

                                </ul>
                            </span>
                        </p>
                        <p class="text-justify mt-4" style="font-size: 18px;">
                            <span><b>Dispute Handling :</b></span>
                            <span>
                                If you are a consumer, the laws of the country in which you reside will apply to any
                                claim, cause of action, or dispute you have against us that arises out of or relates to
                                these Terms ("claim"), and you may resolve your claim in any competent court in that
                                country that has jurisdiction over the claim. In all other cases, you agree that the
                                claim must be resolved exclusively in the courts of New Delhi, India, that you submit to
                                the personal jurisdiction of either of these courts for the purpose of litigating any
                                such claim, and that the laws of New Delhi, India will govern these Terms and any claim,
                                without regard to conflict of law provisions.
                            </span>
                        </p>
                        <p class="text-justify mt-4" style="font-size: 18px;">
                            <span><b>Unsolicited Material :</b></span>
                            <span>
                                We always appreciate feedback or other suggestions, but may use them without any
                                restrictions or obligation to compensate you for them, and are under no obligation to
                                keep them confidential
                            </span>
                        </p>
                        <p class="text-justify mt-4" style="font-size: 18px;">
                            <span><b>Updating These Terms :</b></span>
                            <span>
                                We may change our Service and policies, and we may need to make changes to these Terms
                                so that they accurately reflect our Service and policies. Unless otherwise required by
                                law, we will notify you (for example, through our Service) before we make changes to
                                these Terms and give you an opportunity to review them before they go into effect. Then,
                                if you continue to use the Service, you will be bound by the updated Terms. If you do
                                not want to agree to these or any updated Terms, you can delete your account
                            </span>
                            <br>
                            <span>
                                <p class="text-justify mt-2">
                                    17th July 2020
                                </p>
                            </span>
                            <span>
                                <p class="text-justify mt-2" style="margin-left: 30px;">
                                    We may charge for the chat, audio, and/or video based counselling/ therapy sessions.
                                    Before availing any such Service, we will apprise the User of the applicable charges
                                    for the said Service. In addition to these Terms, a User shall also be bound by the
                                    terms (if any) mentioned for specific Service(s).
                                    <br>
                                    <span style="margin-left: 40px;">
                                        Please note that the charges paid by a customer, are not refundable. However, in
                                        the event a customer, is not satisfied with the Service provided by 1418, then
                                        they may send a mail to info@1418.com. 1418 will review each such mail, on a
                                        case to case basis, and may refund the charges paid, if it deems fit. The
                                        decision of 1418 on any such matter shall be final and binding.
                                        Please note the specific refund policy in the event of the following
                                        circumstances:

                                    </span>
                                </p>
                            </span>
                            <span>
                                <p class="text-justify mt-2">
                                    <span><b>Counselling Plan/s:</b>
                                        Any purchased Counselling Plan/s is activated from the date of purchase and
                                        expires according to its duration. In case, the customer fails to use the
                                        services during the period, the Counselling Plan/s cannot be shifted to any
                                        other period, further, no refunds will be provided in such a scenario.The
                                        customer agrees and understands that buying a Counselling Plan/s does not give
                                        the customer any preference with regard to the allotment of their chat
                                        session(s) and/or the Expert of their choice. All Experts have a pre-defined
                                        chat session schedule, which might be subject to change. The customer agrees
                                        that all requests for chat sessions are serviced on a first come first serve
                                        basis.
                                    </span>

                                </p>
                            </span>
                            <span>
                                <p class="text-justify mt-2">
                                    <span><b>Appointments(Audio/Video/Face to Face): </b></span>
                                    <br>
                                    <span>
                                        For any services purchased, the 1418 team shall make 3 attempts to reach the
                                        customer for confirmation of the services. In case, the customer fails to
                                        respond within 7 days of the last communication, the service will be treated as
                                        consumed and no refunds shall be provided by 1418.
                                    </span>
                                    <br>
                                    <span>
                                        In case, of technical difficulties during or at the time of the session, 1418
                                        will check with their service providers. If the case is adjudged to be genuine,
                                        the appointment shall be rescheduled.For Audio and Video Sessions, in case, the
                                        customer fails to turn up at the time of the appointment, 1418 will reschedule
                                        the session only once. If the customer still does not turn up the second time,
                                        the appointment will be treated as consumed and no refunds shall be provided
                                    </span>
                                    <br>
                                    <span>
                                        For Face to Face appointments, any no shows are treated as availed services and
                                        no refund or rescheduling shall be provided by 1418 in such a scenario.
                                    </span>
                                    <br>
                                    <span>
                                        For any reschedules, the customer needs to inform 1418 at least 24 hours in
                                        advance.
                                        User(s) can make payments through any of the following available options:

                                    </span>
                                    <span>
                                        <ul>
                                            <li>
                                                <p style="font-size: 18px;">
                                                    Internet Banking
                                                </p>
                                            </li>
                                            <li>
                                                <p style="font-size: 18px;">
                                                    Debit/ Credit Cards
                                                    <br>
                                                    <span>
                                                        The User agrees and accepts that all nuances and modalities
                                                        relating to making payment using Internet Banking/ Debit/Credit
                                                        Cards (<b>“Virtual Payment Mode”</b>) shall be separately
                                                        governed by arrangement(s) / terms and conditions between the
                                                        User and the relevant banks. We shall not be responsible, in any
                                                        manner whatsoever, for any liability that may arise in relation
                                                        to the Virtual Payment Modes (including any fraudulent
                                                        transaction). While availing any of the payment method(s)
                                                        available on the Website, we will not be responsible or assume
                                                        any liability, whatsoever in respect of any loss or damage
                                                        arising directly or indirectly to You due to (a) lack of
                                                        authorisation for any transactions; (b) any payment issues
                                                        arising out of the transaction or (c) decline of such
                                                        transaction for any reason.You understand, accept and agree that
                                                        the payment facility provided us, is neither a banking nor
                                                        financial service.1418 reserves its right to change the charges
                                                        for Services, at any time, without the requirement of any prior
                                                        intimation to the User. Any such change shall be binding and
                                                        effective on the User.
                                                    </span>
                                                </p>
                                            </li>
                                        </ul>
                                    </span>
                                </p>
                            </span>
                        </p>
                        <p class="text-justify mt-4" style="font-size: 18px;">
                            <span><b>DISCLAIMERS:</b></span>
                            <span>
                                <ul>
                                    <li>
                                        <p style="font-size: 18px;">
                                            THE ADVICE OR INFORMATION PROVIDED BY EXPERTS VIA THE WEBSITE IS PROVIDED
                                            FOR INFORMATIONAL PURPOSES ONLY AND CANNOT BE CONSIDERED A SUBSTITUTE FOR
                                            EXAMINATION BY A DOCTOR OR OTHER MENTAL HEALTH PROFESSIONAL. YOU ARE ADVISED
                                            STRONGLY AGAINST RELYING SOLELY ON, OR MAKE DECISIONS BASED SOLELY ON ADVICE
                                            PROVIDED BY ANY Expert.
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            YOU UNDERSTAND AND AGREE THAT ALTHOUGH AN EXPERT MAY BE A COUNSELLOR,
                                            THERAPIST OR OTHER MENTAL HEALTH PROFESSIONAL. 1418 DISCLAIMS ANY AND ALL
                                            LIABILITY FOR ANY CONSULTATION AND THERAPY SERVICES RENDERED BY AN EXPERT TO
                                            YOU THROUGH THE WEBSITE. YOU FURTHER ACKNOWLEDGE AND AGREE THAT YOU TAKE
                                            FULL RESPONSIBILITY FOR THE DECISION TO ACCESS A EXPERT THROUGH THE WEBSITE
                                            AND TO CONTINUE TO INTERACT WITH SUCH INDIVIDUAL(S), AND THAT THE ROLE OF
                                            1418 IS STRICTLY LIMITED TO PROVIDING ACCESS TO SUCH EXPERTS TO YOU.
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            USE OF THE SERVICES IS NOT FOR EMERGENCIES. IF YOU THINK YOU HAVE A MEDICAL
                                            OR MENTAL HEALTH EMERGENCY, OR IF AT ANY TIME YOU ARE CONCERNED ABOUT YOUR
                                            CARE OR TREATMENT, PLEASE GO TO THE NEAREST HOSPITAL OR HEALTH CARE
                                            PROVIDER.
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            THE WEBSITE IS NOT A SUICIDE HELPLINE PLATFORM. IF YOU ARE CONSIDERING OR
                                            CONTEMPLATING SUICIDE OR FEEL THAT YOU ARE A DANGER TO YOURSELF OR TO
                                            OTHERS, YOU MAY DISCONTINUE USE OF THE SERVICES IMMEDIATELY AT YOUR
                                            DISCRETION AND PLEASE NOTIFY APPROPRIATE POLICE OR EMERGENCY MEDICAL
                                            PERSONNEL. IF YOU ARE THINKING ABOUT SUICIDE, IMMEDIATELY CALL/ CONTACT A
                                            SUICIDE PREVENTION HELPLINE BY VISITING <a
                                                href="https://indianhelpline.com/SUICIDE-HELPLINE/"
                                                target="_blank">https://indianhelpline.com/SUICIDE-HELPLINE/</a>
                                        </p>
                                    </li>
                                    <li>
                                        <p style="font-size: 18px;">
                                            YOUR USE OF INFORMATION PROVIDED ON THE WEBSITE AND AVAILING OF SERVICES ON
                                            THE WEBSITE IS SOLELY AT YOUR OWN RISK. 1418 IS NOT, AND WILL NOT IN ANY
                                            MANNER BE INVOLVED IN THE PRACTICE OF MEDICINE OR THE PROVISION OF MEDICAL
                                            CARE.
                                        </p>
                                    </li>
                                </ul>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>