
<!-----------------Trending Start---------------------->
<div class="col-lg-11 CardStyle">
    <div class="my-3"></div>
    <h5 class="acumin">Trending</h5>
    <hr style="background: #fa0e0e; height: 2px; width: 100px; ">
    <div class="spinner-border" style="margin-left: 150px;" *ngIf="trendingLoader"></div>
    <div class="card CardStyle "
        *ngFor="let trendPostData of trendingPost | slice:0:1; let i =index">
        <img *ngIf="trendPostData.has_image != null " [src]=trendPostData.has_image
            class="img-fluid trendingImg" alt=""
            (click)="getPostDetailsById(trendPostData.id)" data-toggle="modal"
            data-target="#trendingPostModel">
        <img *ngIf="trendPostData.has_image == null  && trendPostData.has_video == null"
            src="assets/img/dummy.png" class="img-fluid" alt=""
            style="height: 230px; width: 500px; cursor: pointer;"
            (click)="getPostDetailsById(trendPostData.id)" data-toggle="modal"
            data-target="#trendingPostModel">

        <video autoplay [muted]="true" *ngIf="trendPostData.has_video"
            (click)="getPostDetailsById(trendPostData.id)" data-toggle="modal"
            data-target="#mediumViewModal" style="cursor: pointer;" class="trendMainVideo">
            <source [src]="trendPostData.has_video" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <!-- <div *ngIf="trendPostData.has_pdf">
                <a href="{{trendPostData.has_pdf}}" target="blank" downloadPDF>

                    <img src="assets/img/PDF-image.jpg" style="height: 230px; width: 500px;" class="img-fluid" alt="">
               </a>  
            </div> -->


        <div class="d-flex  align-items-center justify-content-around"
            style="background: #dedede; color: grey;  height: 40px;">
            <div class="card-subtitle">
                <span
                    [innerHTML]="(showMore) ? trendPostData.content : trendPostData.content | slice:0:10 | linkify"></span>
                <span *ngIf="trendPostData.content.length > trendingContent">...</span>
            </div>
            <i class="fa fa-heart-o " style="cursor: pointer;"
                (click)="likePost(trendPostData.id)">{{trendPostData.likes}}</i>

        </div>
    </div>
    <div class="my-2"></div>
    <div class="row">
        <div class="col-lg-4"
            *ngFor="let trendPostData of trendingPost | slice:1:4; let i =index">
            <div class="card CardStyle mb10">
                <img *ngIf="trendPostData.has_image != null" [src]=trendPostData.has_image
                    class="img-fluid trendingImgMini" alt="" (click)="getPostDetailsById(trendPostData.id)"
                    data-toggle="modal" data-target="#trendingPostModel"
                    >
                    <!-- style="height: 85px; width: 250px; cursor: pointer;" -->
                <img *ngIf="trendPostData.has_image == null && trendPostData.has_video == null"
                    src="assets/img/dummy.png" class="img-fluid" alt=""
                    style="height: 85px; width: 250px; cursor: pointer;"
                    (click)="getPostDetailsById(trendPostData.id)" data-toggle="modal"
                    data-target="#trendingPostModel">

                <video autoplay [muted]="true"
                    *ngIf="trendPostData.has_video"
                    (click)="getPostDetailsById(trendPostData.id)" data-toggle="modal"
                    data-target="#mediumViewModal" style="cursor: pointer;" class="trendingVideo">
                    <source [src]="trendPostData.has_video" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <!-- <div *ngIf="trendPostData.has_pdf">
                        <a href="{{trendPostData.has_pdf}}" target="blank" downloadPDF>

                            <img src="assets/img/PDF-image.jpg" style="height: 85px; width: 250px;" class="img-fluid" alt="">
                       </a>  
                    </div> -->
                <div class="d-flex justify-content-around align-items-center "
                    style="background: #dedede; color: grey;  height: 40px;">
                    <div class="card-subtitle ">
                        <span
                            [innerHTML]="(showMore) ? trendPostData.content : trendPostData.content | slice:0:10 | linkify"></span>
                        <span *ngIf="trendPostData.content.length > trendingContent">...</span>
                    </div>
                    <i class="fa fa-heart-o " style="cursor: pointer;"
                        (click)="likePost(trendPostData.id)">{{trendPostData.likes}}</i>
                </div>
            </div>
        </div>

    </div>
    <div class="my-4"></div>
</div>
<!-------------------------Trending end------------------>