<div class="HeadDiv">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12 col-md-10 col-sm-6" style="margin-top: 124px;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1"></div>
                     <div class="col-lg-11 col-md-11 col-sm-10">
                        <div class="card text-dark">
                            <img src="assets/img/study.png" class="img-fluid bgimg" alt="...">
                            <div class="card-img-overlay">
                                <h1 class="card-title text-center headerset ml-3 mt-4">STUDIES & CAREER</h1>
                            </div>
        
                        </div>
                    </div>
                </div>
                </div>
                <div>
                    <app-menu></app-menu>
                </div>
            </div>
        </div>

        <div class="row" style="margin-left: 75px;">
            <div class="col-lg-1"></div>
            <div class="col-lg-6 col-sm-6 col-sm-5" >
                <!-- Start Comment Box -->
                <div class="row">


                    <div class="col-lg-12" style="margin-top: 30px;">
                        <div *ngIf="fileUpload.status==='progress'">
                            <div class="progress1" style="height: 20px;margin-bottom:20px;">
                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                                    [style.width.%]="fileUpload.message" aria-valuenow="25" aria-valuemin="0"
                                    aria-valuemax="100">{{fileUpload.message}}%</div>
                            </div>
                        </div>
                        <div *ngIf="fileUpload.status==='success'">
                            <img [src]="fileUpload.filePath" height="200px" />
                        </div>
                        <p>{{ error }}</p>
                        <form [formGroup]="postForm" (ngSubmit)="store()">

                            <!-- <input type="file" id="File"  (change)="createPostImage($event.target.files )"> -->

                            <textarea name="textarea" [(ngModel)]="message" formControlName="content"
                                class="txtArea textarea" id="message"
                                placeholder="Your friends are waiting to hear from you"></textarea>
                            <input type="submit" id="btn_post" class="btn btn-danger d-block btn-block" value="Post" />
                        </form>
                        <div class="d-flex flex-column AreaItem">

                            <!-- <i class="fa fa-cogs text-danger"></i> -->

                            <div class="my-1"></div>
                            <span>
                                <!-- <img src="assets/img/picture.svg"  (ngSubmit)="store()" class="fa-cog1" height="20" width="20" alt=""> -->


                                <!-- <div class="col-md-2 text-danger image-upload">
                                        <label for="file-input">
                                            <i class="fa fa-upload fa-3x icon" aria-hidden="true"
                                            style=" margin-top: -70px;margin-left: 850px;"></i>
                                        </label>
                                       
                                        <input type="file" name="cover" (change)="uploadCoverPic($event.target.files )" id="file-input">
                                    </div>    -->


                                <form [formGroup]="postForm">
                                    <div class="image-upload">
                                        <label for="file-input">
                                            <img src="assets/img/picture.svg" height="20" width="20"
                                                style="cursor: pointer;" />
                                        </label>

                                        <input type="file" name="cover" (change)="createPostImage($event.target.files)"
                                            id="file-input" accept="image/*,video/*,pdf/*,application/pdf">
                                    </div>

                                    <!-- <input type="image" src="assets/img/picture.svg" height="20" width="20" />
                                        <input type="file" id="File" (change)="createPostImage($event.target.files )"
                                            style="display: none;" /> -->
                                </form>
                            </span>
                            <span>
                                <i class="fa fa-tags" aria-hidden="true" style="color: blue; cursor: pointer;"
                                    data-toggle="modal" data-target="#tagFriendModal"></i>
                            </span>
                            <div class="my-1"></div>
                            <!-- <img src="assets/img/happy.png" class="fa-cog1" height="20" width="20" alt=""> -->
                            <i (click)="show()" style="cursor: pointer; " *ngIf="showEmojiFlag">
                                <img src="assets/img/happy.png" height="20" width="20" alt="">
                            </i>
                            <i (click)="closeEmoji()" style="cursor: pointer; " *ngIf="closeEmojiFlag">
                                <img src="assets/img/happy.png" height="20" width="20" alt="">
                            </i>
                            <span *ngIf="emojiFlag">
                                <emoji-mart (emojiClick)="handleSelection($event)"> </emoji-mart>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="my-3"></div>
                <!-- End Comment box -->
                <div class="my-4"></div>
                <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                    (scrolled)="onScrollDown()">
                    <div class="bgCol" *ngFor="let post_content of allPost">

                        <!--------New Design-------->
                        <div class="container">
                            <div class="row" style="background: white;-webkit-box-shadow: 0px 10px 13px -7px #000000, 4px 5px 15px 5px rgba(0,0,0,0); 
                            box-shadow: 0px 10px 13px -7px #000000, 4px 5px 15px 5px rgba(0,0,0,0);padding: 0px 14px 14px 14px;">
                                <div class="col-lg-12 pr-0 pl-0">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-10 col-sm-10 mt-2 ml-1">
                                            <img src="assets/img/avtar.png"
                                                class="img-fluid img3 align-items-center mb-2" alt=""
                                                *ngIf="post_content.user.photo_url == null">
                                            <img [src]=post_content.user.photo_url
                                                class="img-fluid img3 align-items-center mb-2" alt=""
                                                *ngIf="post_content.user.photo_url != null">
                                        </div>
                                        <div class="col-lg-7 col-md-5 col-sm-5 m-0 p-0 mt-2">

                                            <!----------own profile routing start--------->
                                            <div class=" d-flex justify-content-between"
                                                *ngIf="socialusers.id == post_content.user.id">
                                                <div *ngIf="post_content.tag_post.length == 0">
                                                    <p>
                                                        <span><strong>
                                                                <a style="cursor: pointer;font-size: 18px; font-family: Arial, Helvetica, sans-serif;color: rgb(232, 93, 61); font-weight: 600;"
                                                                    [routerLink]="['/navigation/profile', post_content.user.id]">{{post_content.user.name}}</a>
                                                            </strong></span>
                                                    </p>
                                                </div>
                                                <div *ngIf="post_content.tag_post.length != 0">
                                                    <p>
                                                        <span><strong>
                                                                <a style="cursor: pointer;font-size: 18px; font-family: Arial, Helvetica, sans-serif;color: rgb(232, 93, 61); font-weight: 600;"
                                                                    [routerLink]="['/navigation/profile', post_content.user.id]">{{post_content.user.name}}</a>
                                                            </strong></span>
                                                        is with <span
                                                            *ngFor="let tagFriendData of post_content.tag_post | slice:0:1; let i =index">
                                                            <span><strong>
                                                                    <a style="cursor: pointer;font-size: 18px; font-family: Arial, Helvetica, sans-serif;color: rgb(232, 93, 61); font-weight: 600;"
                                                                        [routerLink]="['/navigation/userProfile', tagFriendData.id]">{{tagFriendData.name}}</a>
                                                                </strong></span> </span>
                                                        <span *ngIf="post_content.tag_post.length > 1"> and <strong>
                                                                <a data-toggle="modal" data-target="#tagFriendDetails" (click)="getPostDetailsForTagView(post_content.id)"
                                                                style="cursor: pointer;font-size: 18px; font-family: Arial, Helvetica, sans-serif;color: rgb(232, 93, 61); font-weight: 600;">
                                                                    {{post_content.tag_post.length - 1}} Others</a>

                                                                <!-- data-toggle="modal" data-target="#smallModal" -->
                                                                <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" *ngFor="let tagFriendData of post_content.tag_post | slice:1:4; let i =index">{{tagFriendData.name}}</a>
                                                            <a class="dropdown-item" *ngIf="post_content.tag_post.length >= 10">{{post_content.tag_post.length - 10}} Others</a>
                                                            
                                                          </div> -->

                                                            </strong></span></p>
                                                </div>

                                            </div>

                                            <!-----------own profile routing end--------->

                                            <!----------friends Profile routing start----->
                                            <div class=" d-flex justify-content-between"
                                                *ngIf="socialusers.id != post_content.user.id">

                                                <div *ngIf="post_content.tag_post.length == 0">
                                                    <p>
                                                        <span><strong>
                                                                <a style="cursor: pointer;font-size: 18px; font-family: Arial, Helvetica, sans-serif;color: rgb(232, 93, 61); font-weight: 600;"
                                                                    [routerLink]="['/navigation/userProfile', post_content.user.id]">{{post_content.user.name}}</a>
                                                            </strong></span>
                                                    </p>
                                                </div>
                                                <div *ngIf="post_content.tag_post.length != 0">
                                                    <p >
                                                        <span><strong>
                                                                <a style="cursor: pointer;font-size: 18px; font-family: Arial, Helvetica, sans-serif;color: rgb(232, 93, 61); font-weight: 600;"
                                                                    [routerLink]="['/navigation/userProfile', post_content.user.id]">{{post_content.user.name}}</a>
                                                            </strong></span>
                                                        is with <span
                                                            *ngFor="let tagFriendData of post_content.tag_post | slice:0:1; let i =index">
                                                            <span><strong>
                                                                    <a style="cursor: pointer;font-size: 18px; font-family: Arial, Helvetica, sans-serif;color: rgb(232, 93, 61); font-weight: 600;"
                                                                        [routerLink]="['/navigation/userProfile', tagFriendData.id]"
                                                                        *ngIf="socialusers.id != tagFriendData.id">{{tagFriendData.name}}</a>
                                                                    <a style="cursor: pointer;font-size: 18px; font-family: Arial, Helvetica, sans-serif;color: rgb(232, 93, 61); font-weight: 600;"
                                                                        [routerLink]="['/navigation/profile', tagFriendData.id]"
                                                                        *ngIf="socialusers.id == tagFriendData.id">{{tagFriendData.name}}</a>
                                                                </strong></span> </span>
                                                        <span *ngIf="post_content.tag_post.length > 1"> and<strong>
                                                                <a data-toggle="modal" data-target="#tagFriendDetails" (click)="getPostDetailsForTagView(post_content.id)"
                                                                style="cursor: pointer;font-size: 18px; font-family: Arial, Helvetica, sans-serif;color: rgb(232, 93, 61); font-weight: 600;">{{post_content.tag_post.length - 1}}
                                                                    Others</a>
                                                            </strong></span></p>
                                                </div>
                                                <!-- <h5 class="p-2"
                                                    [routerLink]="['/navigation/userProfile', post_content.user.id]"
                                                    style="cursor: pointer;">{{post_content.user.name}} </h5> -->
                                            </div>
                                            <!---------------Friends Profile routing end------------>
                                            <p class="hasTag">{{post_content.created_at | timeAgo}}
                                                <span>
                                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                                </span>
                                            </p>
                                        </div>
                                        <!-- <div class="col-lg-7 col-md-5 col-sm-5 m-0 p-0">
                                            <div class=" d-flex justify-content-between"
                                                *ngIf="socialusers.id == post_content.user.id">
                                                <h5 class="p-2"
                                                    [routerLink]="['/navigation/profile', post_content.user.id]"
                                                    style="cursor: pointer;">{{post_content.user.name}} </h5>
                                            </div>
                                            <div class=" d-flex justify-content-between"
                                                *ngIf="socialusers.id != post_content.user.id">
                                                <h5 class="p-2"
                                                    [routerLink]="['/navigation/userProfile', post_content.user.id]"
                                                    style="cursor: pointer;">{{post_content.user.name}} </h5>
                                            </div>
                                            <p class="hasTag">{{post_content.created_at | date:'medium'}}</p>
                                        </div> -->

                                        <div class="col-lg-2 col-md-2 col-sm-2 p-2">
                                            <div class="dropdown">
                                                <button type="button" class="dropdown-toggle2" data-toggle="dropdown">
                                                    <i class="fa fa-ellipsis-h"></i>

                                                </button>
                                                <div class="dropdown-menu"
                                                    *ngIf="post_content.user_id == this.socialusers.id">
                                                    <a class="dropdown-item text-danger" style="cursor: pointer;"
                                                        data-toggle="modal" data-target="#myModal"
                                                        (click)="showPost(post_content.id)"><i
                                                            class="fa fa-pencil-square-o" style="font-size:20px"></i>
                                                        Edit</a>
                                                    <a class="dropdown-item text-danger" style="cursor: pointer;"
                                                        (click)="deletePost(post_content.id)">
                                                        <i class="fa fa-trash-o" style="font-size:20px"></i> Delete</a>

                                                </div>
                                                <div class="dropdown-menu"
                                                    *ngIf="post_content.user_id != this.socialusers.id">
                                                    <!-- <a class="dropdown-item text-danger" style="cursor: pointer;"><i class="fa fa-eye-slash"
                 style="font-size:20px"></i> Hide</a> -->
                                                    <a class="dropdown-item text-danger" style="cursor: pointer;"
                                                        (click)="reportPost(post_content.id,post_content.user_id)"><i
                                                            class="fa fa-file-text-o" style="font-size:20px"></i>
                                                        Report</a>

                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-10">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-10"
                                                *ngIf="post_content.content != null && post_content.content != 0 && post_content.content != ''">
                                                <p class="text-justify CommentContent p-3">

                                                    <span
                                                        [innerHTML]="(showMore) ? post_content.content : post_content.content | slice:0:500 | linkify"></span>

                                                    <!-- {{(showMore) ? post_content.content : post_content.content | slice:0:100}} -->
                                                    <span
                                                        *ngIf="post_content.content.length > showChar && !showMore">...</span>
                                                    <a href="javascript:;"
                                                        *ngIf="post_content.content.length > showChar && !showMore"
                                                        (click)="showMore=true">Read More</a>
                                                    <a href="javascript:;"
                                                        *ngIf="post_content.content.length > showChar && showMore"
                                                        (click)="showMore=false">Read Less</a>
                                                </p>
                                            </div>
                                        
                                            <!--------------Video and Image Container---------------->
                                            <div class="col-lg-12 col-md-12 col-sm-10 " *ngIf="post_content.has_image">
                                                <div class="card">
                                                    <img [src]=post_content.has_image class="img-fluid metaDataImg"
                                                        alt="" data-toggle="modal" data-target="#postModal"
                                                        (click)="getPostDetailsById(post_content.id)">
                                                </div>
                                                <!-- <img [src]=post_content.has_image class="img-fluid designImg" alt=""> -->
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-10" *ngIf="post_content.has_video;">
                                                <video id="video" controls class="postVideo">
                                                    <source [src]="post_content.has_video" type="video/mp4">
                                                    Your browser does not support the video tag.
                                                </video>
                                                <!-- <p class="p-1" style="margin-left: 470px;"><i class="fa fa-expand fa-lg"
                                                        aria-hidden="true" style="cursor: pointer;"
                                                        (click)="getPostDetailsById(post_content.id)"
                                                        data-toggle="modal" data-target="#mediumViewModal"
                                                        data-backdrop="static" data-keyboard="false"></i></p> -->
                                                <!-- <div class="col-lg-12 col-md-10 col-sm-10 "
                                                    *ngIf="post_content.has_image"
                                                    (click)="getPostDetailsById(post_content.id)" data-toggle="modal"
                                                    data-target="#exampleModalCenter1" style="cursor: pointer;">

                                                    <img [src]="post_content.has_image" class="img-fluid designImg"
                                                        alt="">

                                                </div> -->


                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-10"
                                                *ngIf="post_content.metadata == 1 && !post_content.has_image && !post_content.has_video">
                                                <div class="card">
                                                    <img [src]=post_content.url_image alt="Card image"
                                                        class="img-fluid metaDataImg"
                                                        *ngIf="post_content.url_image != null">
                                                    <div class="card-body" style="background: rgb(248, 241, 241);">
                                                        <p class="card-text p-0"
                                                            style="font-size: 16px; font-family: Arial, Helvetica, sans-serif;font-weight: 600;text-decoration: none;color: lightblue;">
                                                            {{post_content.url | shortDomain}}</p>
                                                        <a class="card-text" href="{{post_content.url}}" target="_blank"
                                                            rel="metadata url"
                                                            style="text-decoration: none; color: lightblue;">
                                                            <p
                                                                style="font-size: 16px; font-weight: bold;font-family: Arial, Helvetica, sans-serif;">
                                                                {{post_content.url_title}}</p>
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-lg-12 col-md-12 col-sm-10"
                                                *ngIf="post_content.has_pdf;">
                                                <iframe [src]="post_content.has_pdf | safe" 
                                                class="responsive-iframe"></iframe>
                                                <div class="card p-0" style="margin-top: -10px; background: grey;">
                                                    <div class="card-body" style="height: 40px;">
                                                        <a href="{{post_content.has_pdf}}" target="_blank"
                                                            rel="noopener noreferrer" style="text-decoration: none;">
                                                            <h6 class="text-white text-center">View Document</h6>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-lg-6" *ngIf="post_content.has_pdf;">
           
                                                 </div> -->
                                            </div>



                                            <!--------------Video and Image Container End----------->

                                        </div>
                                    </div>

                                    <div class="row p-3">
                                        <div class="col-lg-12">

                                            <div class="row ">
                                                <div class="col-lg-12 col-md-10 col-sm-10 mb-3"
                                                style="margin-left: 62px;">
                                                    <div class="row">
                                                        <div class="col-lg-4" style="cursor: pointer;"
                                                            (click)="likePost(post_content.id)"> <i
                                                                class="fa fa-heart-o" aria-hidden="true"></i>
                                                            {{post_content.likes}}</div>
                                                        <div class="col-lg-4" style="cursor: pointer;"><i
                                                                class="fa fa-comment" aria-hidden="true"></i>
                                                            {{post_content.children_count}}
                                                        </div>
                                                        <div class="col-lg-4" style="cursor: pointer;">
                                                            <div class="dropdown">
                                                                <i class="fa fa-share" aria-hidden="true"
                                                                    aria-haspopup="true" aria-expanded="false">
                                                                    {{post_content.share_count}}</i>
                                                                <!-- id="dropdownMenu2" data-toggle="dropdown" -->
                                                                <!-- <div class="dropdown-menu sharedropdown"
                                                                    aria-labelledby="dropdownMenu2">
                                                                    <a class="dropdown-item" style="cursor: pointer;"
                                                                        (click)="sharePost(post_content.id)">Share in
                                                                        Timeline</a>
                                                                    <a class="dropdown-item" style="cursor: pointer;"
                                                                        (click)="getPostDetailsById(post_content.id)"
                                                                        data-toggle="modal"
                                                                        data-target="#modalPush">Share in a group
                                                                        </a>
                                                                        <a class="dropdown-item" style="cursor: pointer;"
                                                                        (click)="getPostDetailsById(post_content.id)"
                                                                        data-toggle="modal"
                                                                        data-target="#shareFriendModal">Share with friends
                                                                        </a>     

                                                                </div> -->
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <!-- <hr class="p-0"> -->
                                                </div>

                                                <div class="commentSection mt-2">

                                                    <div class="row">
                                                        <div class="col-lg-12 p-1"
                                                            *ngFor="let children of post_content.children">

                                                            <div class="row p-0">
                                                                <div class="col-lg-2 col-md-10 col-sm-10 ">
                                                                    <img src="assets/img/avtar.png"
                                                                        class="img-fluid commentIcon align-items-center mt-0"
                                                                        alt="">
                                                                    <div
                                                                        class="d-flex justify-content-between align-items-center">
                                                                        <div class="my-1"></div>


                                                                        <!-- <i class="fa fa-heart-o mr-2"  (click)="Like()" style="color: red;"   > {{count}}</i> -->
                                                                    </div>
                                                                </div>


                                                                <div class="col-lg-10 col-md-5 col-sm-5 ">
                                                                    <div class="justify-content-center p-1"
                                                                    style="background: whitesmoke; border-radius: 1rem;">
                                                                        <div class="justify-content-between d-flex">
                                                                            <h6 class="p-0 mt-1"
                                                                                style="font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: rgb(232, 93, 61); font-weight: 500;">
                                                                                {{children.username}} </h6>
                                                                            <!-- <p class="Ago1  p-2">
                                                                            {{children.created_at | timeAgo}}
                                                                        </p>-->

                                                                        </div>
                                                                        <p class="hasTag1 ml-1">{{children.content}}
                                                                        </p>
                                                                        <div class="col-lg-6 col-md-6 col-sm-6 ml-1 mb-1"
                                                                            *ngIf="children.has_image;">

                                                                            <img [src]="children.has_image"
                                                                                class="img-fluid commentImg"
                                                                                alt="Comment Image">

                                                                        </div>
                                                                        <p class="Ago2 ml-1">
                                                                            {{children.created_at | timeAgo}}</p>


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="col-lg-12">

                                                    <div class="row">
                                                        <div class="col-lg-1 p-1" style="margin-top: 13px;">
                                                            <!-- <div class="my-3"></div> -->
                                                            <img src="assets/img/avtar.png" class="img1" height="35"
                                                                width="35" alt="">
                                                            <!-- <img [src]=mode.photoUrl class="img1" height="35" width="35"
                                                                alt="" *ngIf="mode.photoUrl != null"> -->
                                                        </div>
                                                        <div class="col-lg-10">
                                                            <div class="my-3">
                                                                <form #f="ngForm"
                                                                    (keyup.enter)="addComment(post_content.id,model.comment)">
                                                                    <div class="row">
                                                                        <div class="col-lg-11"
                                                                            style="margin-right: -12px;">
                                                                            <div class="form-group">
                                                                                <!-- <input type="text" #parent_id="ngModel" [(ngModel)]="model.post_content.id" >-->
                                                                                <input type="text" name="comment"
                                                                                    #comment="ngModel"
                                                                                    [(ngModel)]="model.comment"
                                                                                    class="form-control CommmentField"
                                                                                    placeholder="Write a Comment"
                                                                                    (ngModelChange)="doSomething($event)"
                                                                                    on-focus="focusFunction(post_content.id)">

                                                                            </div>

                                                                        </div>

                                                                        <div class="col-lg-1">
                                                                            <div class="col-lg-1 d-flex justify-content-start mt-3"
                                                                                style="margin-left: -75px;">
                                                                                <img src="assets/img/picture.svg" alt=""
                                                                                    width="15" height="15"
                                                                                    (click)="triggerUpload(post_content.id)">
                                                                                <input type="file"
                                                                                    id="comment_file{{post_content.id}}"
                                                                                    (change)="createCommentImage($event.target.files )"
                                                                                    style="display: none;" />
                                                                                <i (click)="show2(post_content.id)"
                                                                                    style="cursor: pointer; ">
                                                                                    <img src="assets/img/happy.png"
                                                                                        height="20" width="20" alt=""
                                                                                        style="margin-top: -15px; padding-left: 5px;"
                                                                                        *ngIf="showCommentEmoji">
                                                                                </i>
                                                                                <i (click)="closeCommentEmoji()"
                                                                                    style="cursor: pointer; ">
                                                                                    <img src="assets/img/happy.png"
                                                                                        height="20" width="20" alt=""
                                                                                        style="margin-top: -15px; padding-left: 5px;"
                                                                                        *ngIf="closeCommentEmojiFlag">
                                                                                </i>
                                                                                <span *ngIf="commentEmoji">
                                                                                    <emoji-mart
                                                                                        (emojiClick)="handleComment($event)"
                                                                                        *ngIf="post_content.id == status_id">
                                                                                    </emoji-mart>
                                                                                </span>
                                                                                <!-- <img src="assets/img/happy.png" class="ml-1" width="15"
                         height="15" alt=""> -->
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                </form>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="col-lg-12" *ngIf="tagSection && input_id == post_content.id">

                                            <div class="form-group">

                                                <ng-multiselect-dropdown name="groupname" id="groupname"
                                                    [placeholder]="'Tag Friends'" [data]="dropdownList"
                                                    [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                                    (onSelect)="onItemSelect($event)" (onDeSelect)="onDeSelect($event)"
                                                    (onSelectAll)="onSelectAll($event)">
                                                </ng-multiselect-dropdown>
                                            </div>
                                        </div>
                                        <div class="shadow" *ngIf="imgURL!='' && div_id == post_content.id">
                                            <img [src]="imgURL" style="width: 400px; height: 350px;" />
                                            <button type="button" (click)="close_img()" class="close"
                                                aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <!--------------------New Design End------------>
                    </div>

                </div>

                <div class="row ">
                    <div class="col-md-12">
                        <ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="#581f87" type="ball-pulse-sync"
                            [fullScreen]="false"></ngx-spinner>
                    </div>
                </div>
                <div class="row" *ngIf="!notEmptyPost">
                    <div class="col-md-12 d-flex justify-content-center">
                        <div class="text-muted h6 alert alert-secondary p-2">No More Post Available</div>
                    </div>
                </div>
                <!-----------Pagigignation  End---------->
            </div>

            <!---------Another section start----------->

            <div class="col-lg-4 col-sm-5 mr-0 p-0 pr-0">
                <div class="my-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 my-4 CardStyle">
                                <div class="my-2"></div>
                                <div class="d-flex justify-content-between">
                                    <h5 class="acumin">Sponsored</h5>
                                    <h5 class="text-primary" (click)="shop()" style="cursor: pointer;">Shop</h5>
                                </div>
                                <div class="card CardStyle " style="background: lightgray;">
                                    <iframe class="sponsoredVideo"
                                        src="http://www.youtube.com/embed/GPIsh2rEBRE?controls=0" allowfullscreen>
                                    </iframe>


                                </div>
                                <div class="my-3"></div>
                            </div>

                            <div class="col-lg-12 my-4 CardStyle">
                                <div class="my-2"></div>
                                <div class="d-flex justify-content-between">
                                    <h5 class="acumin">Sponsored</h5>
                                    <h5 class="text-primary" style="cursor: pointer;" (click)="shop()">Shop</h5>
                                </div>
                                <div class="card CardStyle " style="background: lightgray;">
                                    <iframe class="sponsoredVideo"
                                        src="http://www.youtube.com/embed/wAuUNsS-kH0?controls=0" allowfullscreen>
                                    </iframe>


                                </div>
                                <div class="my-3"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            

        </div>
        
    </div>
   

    <!--------------------Single Post Modal Start---------------------------->

    <!-- The Modal -->
    <div class="modal" id="postModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <!-- <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div> -->

                <!-- Modal body -->
                <div class="modal-body mb-0 p-0">
                    <div class="fluid-container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12" *ngFor="let postDetails of postData">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-10">
                                        <div class="row" style="background:white;">
                                            <div class="col-lg-12 col-md-12 col-sm-10">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-10 p-2">
                                                        <button id="btnClose" type="button" class="close"
                                                            data-dismiss="modal">&times;</button>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="row">
                                                            <div class="col-lg-10 col-md-10 col-sm-20">
                                                                <img [src]="postDetails.has_image"
                                                                    class="img-fluid postImg" alt="Responsive image">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="row"
                                                    style="background: rgb(240, 239, 239); margin-right:1px;">
                                                    <div class="col-lg-3 col-md-3 col-sm-4 p-1">
                                                        <img src="assets/img/cover.jpg" class="rounded-circle"
                                                            alt="Cinque Terre" height="60" width="60">
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-10 m-0 p-0">
                                                        <div class=" d-flex justify-content-between">
                                                            <h5 class="p-2">{{postDetails.user.name}} </h5>
                                                        </div>
                                                        <p class="hasTag">{{postDetails.created_at | timeAgo}}</p>
                                                    </div>
                                                </div>
                                                <div class="commentSectionPost mt-4">

                                                    <div class="row">
                                                        <div class="col-lg-12"
                                                            *ngFor="let childData of postDetails.children">

                                                            <div class="row p-0">
                                                                <div class="col-lg-3 col-md-10 col-sm-10 ">
                                                                    <img src="assets/img/avtar.png"
                                                                        class="img-fluid commentIconPage align-items-center mt-0"
                                                                        alt="">
                                                                    <div
                                                                        class="d-flex justify-content-between align-items-center">
                                                                        <div class="my-1"></div>


                                                                        <!-- <i class="fa fa-heart-o mr-2"  (click)="Like()" style="color: red;"   > {{count}}</i> -->
                                                                    </div>
                                                                </div>


                                                                <div class="col-lg-9 col-md-5 col-sm-5 ">
                                                                    <div class="justify-content-center"
                                                                        style="background: whitesmoke;">
                                                                        <div class="justify-content-between d-flex">
                                                                            <h5 class="p-1">{{childData.username}} </h5>
                                                                            <p class="Ago1  p-2">
                                                                                {{childData.created_at | timeAgo}}
                                                                            </p>

                                                                        </div>

                                                                        <p class="hasTag1 p-1 ml-1">
                                                                            {{childData.content}}
                                                                        </p>
                                                                        <div class="col-lg-6 col-md-6 col-sm-6 p-1 ml-1"
                                                                            *ngIf="childData.has_image;">

                                                                            <img [src]="childData.has_image"
                                                                                class="img-fluid commentImg"
                                                                                alt="Comment Image">

                                                                        </div>
                                                                        <!-- <hr style="margin-left: -59px"> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-12">

                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-10">
                                                                <div class="row">
                                                                    <div class="col-lg-6" style="cursor: pointer;"
                                                                        (click)="likePostModal(postDetails.id)"> <i
                                                                            class="fa fa-heart-o"
                                                                            aria-hidden="true"></i>
                                                                        {{postDetails.likes}} Like</div>
                                                                    <div class="col-lg-6" style="cursor: pointer;"><i
                                                                            class="fa fa-comment"
                                                                            aria-hidden="true"></i>
                                                                        {{postDetails.children_count}} Comment
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div class="my-3">
                                                                    <form #f="ngForm"
                                                                        (keyup.enter)="addCommentModal(postDetails.id,model.comment)">
                                                                        <div class="row">
                                                                            <div class="col-lg-11"
                                                                                style="margin-right: -12px;">
                                                                                <div class="form-group">
                                                                                    <!-- <input type="text" #parent_id="ngModel" [(ngModel)]="model.post_content.id" >-->
                                                                                    <input type="text" name="comment"
                                                                                        #comment="ngModel"
                                                                                        [(ngModel)]="model.comment"
                                                                                        class="form-control commemtPopUp"
                                                                                        placeholder="Write a Comment"
                                                                                        (ngModelChange)="doSomething($event)"
                                                                                        on-focus="focusFunction(postDetails.id)">

                                                                                </div>

                                                                            </div>

                                                                            <div class="col-lg-1">
                                                                                <div class="col-lg-1 d-flex justify-content-start mt-3"
                                                                                    style="margin-left: -70px;">
                                                                                    <img src="assets/img/picture.svg"
                                                                                        alt="" width="15" height="15"
                                                                                        (click)="triggerUpload(postDetails.id)">
                                                                                    <input type="file"
                                                                                        id="comment_file{{postDetails.id}}"
                                                                                        (change)="createCommentImage($event.target.files )"
                                                                                        style="display: none;" />
                                                                                    <i (click)="show2(postDetails.id)"
                                                                                        style="cursor: pointer; ">
                                                                                        <img src="assets/img/happy.png"
                                                                                            height="20" width="20"
                                                                                            alt=""
                                                                                            style="margin-top: -15px; padding-left: 5px;"
                                                                                            *ngIf="showCommentEmoji">
                                                                                    </i>
                                                                                    <i (click)="closeCommentEmoji()"
                                                                                        style="cursor: pointer; ">
                                                                                        <img src="assets/img/happy.png"
                                                                                            height="20" width="20"
                                                                                            alt=""
                                                                                            style="margin-top: -15px; padding-left: 5px;"
                                                                                            *ngIf="closeCommentEmojiFlag">
                                                                                    </i>
                                                                                    <span *ngIf="commentEmoji">
                                                                                        <emoji-mart
                                                                                            (emojiClick)="handleComment($event)"
                                                                                            *ngIf="postDetails.id == status_id">
                                                                                        </emoji-mart>
                                                                                    </span>
                                                                                    <!-- <img src="assets/img/happy.png" class="ml-1" width="15"
     height="15" alt=""> -->
                                                                                </div>
                                                                            </div>
                                                                        </div>


                                                                    </form>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div> -->

            </div>
        </div>
    </div>

    <!--------------------Single Post Modal End------------------------------>

    <!-------tag Modal start--------->

    <!--Modal: modalPush-->
    <div class="modal fade" id="tagFriendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-notify modal-info modal-dialog-scrollable" role="document">
            <!--Content-->
            <div class="modal-content text-center">
                <!--Header-->
                <div class="modal-header d-flex justify-content-center">
                    <h5>Friends</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!--Body-->
                <div class="modal-body tagModal">

                    <div class="container">
                        <form #f="ngForm">
                            <div class="row">

                                <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                                    <div class="search-hero" *ngIf="friendsListData != 0">
                                        <input class="form-control" type="text" name="search" [(ngModel)]="searchText"
                                            autocomplete="off" placeholder="Search friend">
                                    </div>
                                    <!-- <div class="form-group">
                                
                            <ng-multiselect-dropdown name="name" id="name"
                                [placeholder]="'Select Friend'" [data]="friendListData" [(ngModel)]="selectedItems"
                                [settings]="friendsDropdown" (onSelect)="onTagFriendSelect($event)"
                                (onDeSelect)="onTagFriendDeselect($event)" (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown>
                        </div> -->
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-10 p-2"
                                    *ngFor="let data1 of friendListData | filter:searchText">

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="card">
                                                <img class="img-fluid img-thumbnail" [src]=data1.photo_url
                                                    alt="Card image cap" style="height: 100px; object-fit: contain;">
                                            </div>
                                            <!-- <img [src]=data1.photo_url alt="" height="100" width="100">  -->
                                        </div>
                                        <div class="col-md-6 mt-4">
                                            <h5>{{data1.name}}</h5>
                                        </div>
                                        <div class="col-md-2 mt-4">
                                            <input type="checkbox" name="check" id="check" value="data1.id"
                                                (change)="onChangeCategoryEvent($event.target.checked,data1)">
                                        </div>
                                    </div>


                                    <hr>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
            <!--/.Content-->
        </div>
    </div>
    <!-------tag modal End----------->


    <!-------tag Modal start--------->

<!--Modal: modalPush-->
<div class="modal fade" id="tagFriendDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-notify modal-info modal-dialog-scrollable" role="document">
    <!--Content-->
    <div class="modal-content text-center">
        <!--Header-->
        <div class="modal-header d-flex justify-content-center">
            <h5>People</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <!--Body-->
        <div class="modal-body tagModal">

            <div class="container" *ngFor="let tagList of tagMember">
               
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-10 p-2"
                            *ngFor="let data1 of tagList.tag_post  | slice:1; let i =index">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card">
                                        <img class="img-fluid img-thumbnail" src="assets/img/avtar.png"
                                            alt="Card image cap" style="height: 100px; object-fit: contain;">
                                    </div>
                                    <!-- <img [src]=data1.photo_url alt="" height="100" width="100">  -->
                                </div>
                                <div class="col-md-6 mt-4">
                                    <h5 *ngIf="socialusers.id == data1.id" 
                                    [routerLink]="['/navigation/profile', data1.id]" data-dismiss="modal" style="cursor: pointer;">{{data1.name | titlecase}}</h5>
                                    <h5 *ngIf="socialusers.id != data1.id" 
                                    [routerLink]="['/navigation/userProfile', data1.id]" data-dismiss="modal" style="cursor: pointer;">{{data1.name | titlecase}}</h5>
                                </div>
                               
                            </div>


                            <hr>
                        </div>
                    </div>
                
            </div>

        </div>

    </div>
    <!--/.Content-->
</div>
</div>
<!-------tag modal End----------->