<!-- <div class="bgColor">
    <div class="container">
      
        <div class="row " >
            <div class="col-lg-12 col-md-12 col-sm-12 col-s-10"
            style="margin-top: 82px;">
                <div class="card text-white">
                    <img src="assets/img/vent2.jpg" class="card-img bgimg" alt="...">
                    <div class="card-img-overlay">
                        <h1 class="card-title text-center headerset">Vent Box</h1>
                    </div>
                   
                </div>
               
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-s-10">
               <div class="card">
                <div class="card-body">
                    <a class="btn btn-primary text-white" style="cursor: pointer;" (click)="joinGroup()"
                    *ngIf="this.socialusers.id != group_user_id">
                        <i class="fa fa-plus-circle" aria-hidden="true">
                            <span class="ml-1" >Join Group</span>
                        </i>
                    </a>
                    <a class="btn btn-danger text-white" style="cursor: pointer;" (click)="leftGroup()"
                    *ngIf="this.socialusers.id == group_user_id">
                        <i class="fa fa-minus-circle" aria-hidden="true">
                            <span class="ml-1" >Leave Group</span>
                        </i>
                    </a>
                    <span class="text-black-50 ml-5">Join this group to see the discussion, post and comment.</span>
                </div>
            </div>
               </div>
        </div>

        <section class="container mt-4 " style="padding: 10px;">
            
            <div class="row"  >
                <div class="col-lg-8 col-md-8 col-sm-8 col-10 d-block m-auto">
                    <div class="card">
                        <h5 class="card-header ">About Group</h5>
                        <div class="card-body">
                            <h6 class="card-title text-black-50">Description</h6>
                            <p class="card-sub-title" style="font-size: 16px;font-weight: bold;">Welcome to Vent Box
                            </p>
                            <p class="card-text" style="font-size: 15px;">
                                This group is a complete safe zone to bring people together and support those of us who
                                may be facing challenging situations in life, no matter how big or small.
                                
                            </p>
                                
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto" *ngFor="let members_count of groupDatailsList.numofuser">
                    <div class="card" style="height: 200px;">
                        <h5 class="card-header ">Group Members</h5>
                        <div class="card-body">
                            
                            <h2 class="card-text text-center mt-2">{{members_count.usercount}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

   
    



</div>

<div class="HeadDiv">

    <div class="container">
        <div></div>
        <div class="row">
           
            <div class="col-lg-7 col-sm-7" *ngIf="this.socialusers.id == group_user_id">
                
               
                <div class="row">


                    <div class="col-lg-12">
                        <div *ngIf="fileUpload.status==='progress'">
                            <div class="progress1" style="height: 20px;margin-bottom:20px;">
                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                                    [style.width.%]="fileUpload.message" aria-valuenow="25" aria-valuemin="0"
                                    aria-valuemax="100">{{fileUpload.message}}%</div>
                            </div>
                        </div>
                        <div *ngIf="fileUpload.status==='success'">
                            <img [src]="fileUpload.filePath" height="200px" />
                        </div>
                        <p>{{ error }}</p>
                        <form [formGroup]="postForm" (ngSubmit)="store()">

                           

                            <textarea name="textarea" [(ngModel)]="message" formControlName="content"
                                class="txtArea textarea" id=""
                                placeholder="Your friends are waiting to hear from you"></textarea>
                            <input type="submit" id="btn_post" class="btn btn-danger d-block btn-block" value="Post" />
                        </form>
                        <div class="d-flex flex-column AreaItem">

                           

                            <div class="my-1"></div>
                            <span>
                            

                               
                                <form [formGroup]="postForm">
                                  <div class="image-upload">
                                    <label for="file-input">
                                        <img src="assets/img/picture.svg" height="20" width="20" style="cursor: pointer;"/>
                                    </label>
                                   
                                    <input type="file" name="cover" (change)="createPostImage($event.target.files)" id="file-input">
                                  </div>
                                
                                </form>
                            </span>
                            <div class="my-1"></div>
                            
                            <i (click)="show()" style="cursor: pointer; " *ngIf="showEmojiFlag">
                                <img src="assets/img/happy.png" height="20" width="20" alt="">
                            </i>
                            <i (click)="closeEmoji()" style="cursor: pointer; " *ngIf="closeEmojiFlag">
                                <img src="assets/img/happy.png" height="20" width="20" alt="">
                            </i>
                            <span *ngIf="emojiFlag">
                                <emoji-mart (emojiClick)="handleSelection($event)" > </emoji-mart>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="my-3"></div>
               

                <div class="my-4"></div>
                <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                (scrolled)="onScrollDown()">

                <div class="bgCol" *ngFor="let post_content of allPost" >

                    <div class="container" style="padding: 10px 26px 0 26px;" >

                        <div class="row"
                            style="background: rgb(251, 251, 251);-webkit-box-shadow: 0px 10px 13px -7px #000000, 4px 5px 15px 5px rgba(0,0,0,0); 
                        box-shadow: 0px 10px 13px -7px #000000, 4px 5px 15px 5px rgba(0,0,0,0);padding: 0px 14px 14px 14px;">

                            <div class="col-lg-6 pr-0 pl-0">
                                <div class="row  " style="background: rgb(240, 239, 239); margin-right: -26px;">
                                    <div class="col-lg-3 col-md-10 col-sm-10 mt-2">
                                        <img src="assets/img/avtar.png" class="img-fluid img3 align-items-center mb-2"
                                            alt="">
                                    </div>
                                    <div class="col-lg-9 col-md-5 col-sm-5 m-0 p-0">
                                        <div class=" d-flex justify-content-between">
                                            <h5 class="p-2">***** </h5>
                                        </div>
                                        <p class="hasTag">{{post_content.created_at | date:'medium'}}</p>
                                    </div>
                                </div>
                                <div class="example">

                                    <div class="row">
                                        <div class="col-lg-12"*ngIf="post_content.content != null ">
                                            <p class="CommentContent">
                                                
                                                {{(showMore) ? post_content.content : post_content.content | slice:0:100}}
                                                 <span *ngIf="post_content.content.length > showChar && !showMore">...</span> 
                                               <a href="javascript:;" *ngIf="post_content.content.length > showChar && !showMore" (click)="showMore=true">Read More</a>
                                               <a href="javascript:;" *ngIf="post_content.content.length > showChar && showMore" (click)="showMore=false">Read Less</a>   
                                           </p>
                                        </div>
                                        <div class="col-md-12" *ngFor="let children of post_content.children">
                                            <div class="row p-0">
                                                <div class="col-lg-2 col-md-10 col-sm-10 mt-1 ">
                                                    <img src="assets/img/avtar.png"
                                                        class="img-fluid img1 align-items-center mt-0" alt="">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="my-1"></div>


                                                        
                                                    </div>
                                                </div>


                                                <div class="col-lg-10 col-md-5 col-sm-5 ">
                                                    <div class="  justify-content-center">
                                                        <div class="justify-content-between d-flex">
                                                            <h6>*****</h6>
                                                            <p class="Ago1  p-1">{{children.created_at | timeAgo}} </p>

                                                        </div>

                                                        <p class="hasTag1 p-1">{{children.content}}</p>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 "
                                                            *ngIf="children.has_image;">

                                                            <img [src]="children.has_image" class="img-fluid img5"
                                                                alt="">

                                                        </div>
                                                        <hr style="margin-left: -59px">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                

                                <div class="row">


                                    <div class="col-lg-6 " style="margin-top: -16px;">
                                        <div class="my-4"></div>
                                        <div class="d-flex justify-content-around align-items-center">
                                            <i class="fa fa-heart-o" style="cursor: pointer;" (click)="likePost(post_content.id)">{{post_content.likes}}</i>
                                            <i class="fa fa-comments">{{post_content.children_count}}</i>
                                           
                                        </div>
                                    </div>
                                    <div class="col-lg-6"></div>


                                    <div class="col-lg-2">
                                        <div class="my-3"></div>
                                        <img src="assets/img/avtar.png" class="img1" height="35" width="35" alt="">
                                    </div>
                                    <div class="col-lg-10">
                                        <div class="my-3">
                                            <form #f="ngForm" (keyup.enter)="addComment(post_content.id,comment)">
                                                <div class="row">
                                                    <div class="col-lg-11" style="margin-right: -12px;">
                                                        <div class="form-group">
                                                            
                                                            <input type="text" name="comment" #comment="ngModel"
                                                            [(ngModel)]="model.comment"
                                                                class="form-control Commmenttext"
                                                                placeholder="Write a Comment">

                                                        </div>

                                                    </div>

                                                    <div class="col-lg-1">


                                                        
                                                        <div class="col-lg-1 d-flex justify-content-start mt-3"
                                                            style="margin-left: -52px;">
                                                            <img src="assets/img/picture.svg" alt="" width="15"
                                                                height="15" (click)="triggerUpload(post_content.id)">
                                                            <input type="file" id="comment_file{{post_content.id}}"
                                                                (change)="createCommentImage($event.target.files )"
                                                                style="display: none;" />
                                                            <i (click)="show2(post_content.id)"
                                                                style="cursor: pointer; ">
                                                                <img src="assets/img/happy.png" height="20"
                                                                    width="20" alt=""
                                                                    style="margin-top: -15px; padding-left: 5px;" *ngIf="showCommentEmoji">
                                                            </i>
                                                            <i (click)="closeCommentEmoji()"
                                                                style="cursor: pointer; ">
                                                                <img src="assets/img/happy.png" height="20"
                                                                    width="20" alt=""
                                                                    style="margin-top: -15px; padding-left: 5px;" *ngIf="closeCommentEmojiFlag">
                                                            </i>
                                                            <span *ngIf="commentEmoji">
                                                               <emoji-mart (emojiClick)="handleComment($event)"
                                                               *ngIf="post_content.id == status_id">
                                                           </emoji-mart>
                                                            </span>
                                                            
                                                        </div>
                                                    </div>
                                                </div>


                                            </form>


                                        </div>
                                    </div>
                                </div>

                                
                                <div class="shadow" *ngIf="imgURL!='' && div_id == post_content.id">
                                    <img [src]="imgURL" style="width: 100px; height: 100px;" />
                                    <button type="button" (click)="close_img()" class="close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 " *ngIf="post_content.has_image;"
                                (click)="getPostDetailsById(post_content.id)" data-toggle="modal"
                                data-target="#exampleModalCenter1" style="cursor: pointer;">

                                <img [src]="post_content.has_image" class="img-fluid img2" alt="">

                            </div>


                            <div class="col-lg-6 col-md-5 col-sm-5" *ngIf="post_content.has_video;">
                                <video width="271" height="240" controls style="margin-left: 12px;">
                                    <source [src]="post_content.has_video" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>


                            </div>


                           
                            <div class="col-lg-6 col-md-5 col-sm-5"
                                *ngIf="!post_content.has_image && !post_content.has_video">
                                <img src="assets/img/avtarbg.jpg" class="img-fluid img2" alt="">
                            </div>


                        </div>

                    </div>


                    <div class="dropdown">
                        <button type="button" class="dropdown-toggle1" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-v"></i>

                        </button>
                        <div class="dropdown-menu" *ngIf="post_content.user_id == this.socialusers.id">
                            <a class="dropdown-item text-danger" style="cursor: pointer;" data-toggle="modal"
                                data-target="#myModal" (click)="showPost()"><i
                                    class="fa fa-pencil-square-o" style="font-size:20px"></i> Edit</a>
                            <a class="dropdown-item text-danger" style="cursor: pointer;"
                                (click)="deletePost()">
                                <i class="fa fa-trash-o" style="font-size:20px"></i> Delete</a>

                        </div>
                        <div class="dropdown-menu" *ngIf="post_content.user_id != this.socialusers.id">
                           
                            <a class="dropdown-item text-danger" style="cursor: pointer;"
                                (click)="reportPost(post_content.id,post_content.user_id)"><i class="fa fa-file-text-o"
                                    style="font-size:20px"></i> Report</a>

                        </div>
                    </div>

                </div>
            </div>
            <div class="row ">
                <div class="col-md-12">
                    <ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="#581f87" type="ball-pulse-sync"
                        [fullScreen]="false"></ngx-spinner>
                </div>
            </div>
            <div class="row" *ngIf="!notEmptyPost">
                <div class="col-md-12 d-flex justify-content-center">
                    <div class="text-muted h6 alert alert-secondary p-2">No More Post Available</div>
                </div>
            </div>
           
            </div>
           
            <div class="col-lg-5 col-sm-5 mr-0 p-0 pr-0">
                
                <div class="my-3"></div>
                <div class="container">

                    <div class="row">

                        <div class="col-lg-11 my-4 CardStyle">
                            <div class="my-2"></div>
                            <div class="d-flex justify-content-between">
                                <h5 class="acumin">Sponsored</h5>
                                <h5 class="text-primary">Created Ad</h5>
                            </div>
                            <div class="card CardStyle " style="background: lightgray;">
                                <img src="assets/img/ad.jpg" class="img-thumbnail" alt="">


                            </div>
                            <div class="my-3"></div>
                        </div>

                        <div class="col-lg-11 my-4 CardStyle">
                            <div class="my-2"></div>
                            <div class="d-flex justify-content-between">
                                <h5 class="acumin">Sponsored</h5>
                                <div class="my-2"></div>
                                <h5 class="text-primary">Created Ad</h5>
                            </div>
                            <div class="card CardStyle ">
                                <img src="assets/img/ad2.jpg" class="img-thumbnail" alt="">

                            </div>
                            <div class="my-3"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div> -->

<div class="HeadDiv">
    <div class="container-fluid">

        <div class="row ">
            <div class="col-lg-12 col-md-10 col-sm-6" style="margin-top: 124px;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1"></div>
                     <div class="col-lg-11 col-md-11 col-sm-10">
                        <div class="card text-white">
                            <img src="assets/img/vent2.jpg" class="card-img bgimg" alt="...">
                            <div class="card-img-overlay">
                                <h1 class="card-title text-center headerset">VENT BOX</h1>
                            </div>
        
                        </div>
                    </div>
                </div>
                </div>
                <div>
                    <app-menu></app-menu>
                </div>
            </div>
            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-s-10" style="margin-top: 82px;">
                <div class="card text-white">
                    <img src="assets/img/agony.jpg" class="card-img bgimg" alt="...">
                    <div class="card-img-overlay">
                        <h1 class="card-title text-center headerset">AGONY AUNT</h1>
                    </div>

                </div>
                <div>
                    <app-menu></app-menu>
                </div>
            </div> -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-s-10">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-11 col-md-11 col-sm-10">
                            <div class="card">
                                <div class="card-body">
                                    <a class="btn btn-primary text-white" style="cursor: pointer;" (click)="joinGroup()"
                                        *ngIf="this.socialusers.id != group_user_id">
                                        <i class="fa fa-plus-circle" aria-hidden="true">
                                            <span class="ml-1">Join Group</span>
                                        </i>
                                    </a>
                                    <a class="btn btn-danger text-white" style="cursor: pointer;" (click)="leftGroup()"
                                        *ngIf="this.socialusers.id == group_user_id">
                                        <i class="fa fa-minus-circle" aria-hidden="true">
                                            <span class="ml-1">Leave Group</span>
                                        </i>
                                    </a>
                                    <span class="text-black-50 ml-5">Join this group to see the discussion, post and comment.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-10 mt-2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-11 col-md-11 col-sm-10">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-10 ">
                                    <div class="card">
                                        <h5 class="card-header ">About Group</h5>
                                        <div class="card-body">
                                            <h6 class="card-title text-black-50">Description</h6>
                                            <p class="card-sub-title" style="font-size: 16px;font-weight: bold;">Welcome to Vent Box
                                            </p>
                                            <p class="card-text" style="font-size: 15px;">
                                                This group is a complete safe zone to bring people together and support those of us who
                                may be facing challenging situations in life, no matter how big or small.
                
                                            </p>
                
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-10">
                                    
                                    <div class="card" style="height: 200px;">
                                        <h5 class="card-header ">Group Members</h5>
                                        <div class="card-body" *ngFor="let members_count of groupDatailsList.numofuser">
                                            <!-- <h6 class="card-title text-black-50">Joined Group Member</h6> -->
                                            <h2 class="card-text text-center mt-3">{{members_count.usercount}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-6 col-sm-6 col-sm-5" style="margin-left: 80px;">
                <!---------Text Area Section Started--------------->
              <div class="row"  *ngIf="this.socialusers.id == group_user_id">


                  <div class="col-lg-12">
                      <div *ngIf="fileUpload.status==='progress'">
                          <div class="progress1" style="height: 20px;margin-bottom:20px;">
                              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                                  [style.width.%]="fileUpload.message" aria-valuenow="25" aria-valuemin="0"
                                  aria-valuemax="100">{{fileUpload.message}}%</div>
                          </div>
                      </div>
                      <div *ngIf="fileUpload.status==='success'">
                          <img [src]="fileUpload.filePath" height="200px" />
                      </div>
                      <p>{{ error }}</p>
                      <form [formGroup]="postForm" (ngSubmit)="store()">

                          <!-- <input type="file" id="File"  (change)="createPostImage($event.target.files )"> -->

                          <textarea name="textarea" [(ngModel)]="message" formControlName="content"
                              class="txtArea textarea" id=""
                              placeholder="Your friends are waiting to hear from you"></textarea>
                          <input type="submit" id="btn_post" class="btn btn-danger d-block btn-block" value="Post" />
                      </form>
                      <div class="d-flex flex-column AreaItem">

                          <!-- <i class="fa fa-cogs text-danger"></i> -->

                          <div class="my-1"></div>
                          <span>
                              <!-- <img src="assets/img/picture.svg"  (ngSubmit)="store()" class="fa-cog1" height="20" width="20" alt=""> -->


                              <!-- <div class="col-md-2 text-danger image-upload">
                                  <label for="file-input">
                                      <i class="fa fa-upload fa-3x icon" aria-hidden="true"
                                      style=" margin-top: -70px;margin-left: 850px;"></i>
                                  </label>
                                 
                                  <input type="file" name="cover" (change)="uploadCoverPic($event.target.files )" id="file-input">
                              </div>    -->


                              <form [formGroup]="postForm">
                                  <div class="image-upload">
                                      <label for="file-input">
                                          <img src="assets/img/picture.svg" height="20" width="20"
                                              style="cursor: pointer;" />
                                      </label>

                                      <input type="file" name="cover" (change)="createPostImage($event.target.files)"
                                          id="file-input" accept="image/*,video/*,pdf/*,application/pdf">
                                  </div>

                                  <!-- <input type="image" src="assets/img/picture.svg" height="20" width="20" />
                                  <input type="file" id="File" (change)="createPostImage($event.target.files )"
                                      style="display: none;" /> -->
                              </form>
                          </span>
                          <div class="my-1"></div>
                          <!-- <img src="assets/img/happy.png" class="fa-cog1" height="20" width="20" alt=""> -->
                          <i (click)="show()" style="cursor: pointer; " *ngIf="showEmojiFlag">
                              <img src="assets/img/happy.png" height="20" width="20" alt="">
                          </i>
                          <i (click)="closeEmoji()" style="cursor: pointer; " *ngIf="closeEmojiFlag">
                              <img src="assets/img/happy.png" height="20" width="20" alt="">
                          </i>
                          <span *ngIf="emojiFlag">
                              <emoji-mart (emojiClick)="handleSelection($event)"> </emoji-mart>
                          </span>
                      </div>
                  </div>
              </div>

                <!----------Text Area Section End------------------>

                <div class="my-3"></div>
                <!-- End Comment box -->

                <div class="my-4"></div>

                <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                    (scrolled)="onScrollDown()" *ngIf="this.socialusers.id == group_user_id">

                    <div class="bgCol" *ngFor="let post_content of allPost">

                        <!--------New Design-------->
                        <div class="container" >
                            <div class="row" style="background: white;-webkit-box-shadow: 0px 10px 13px -7px #000000, 4px 5px 15px 5px rgba(0,0,0,0); 
                            box-shadow: 0px 10px 13px -7px #000000, 4px 5px 15px 5px rgba(0,0,0,0);padding: 0px 14px 14px 14px;">
                                <div class="col-lg-12 pr-0 pl-0">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-10 col-sm-10 mt-2 ml-1">
                                            <img src="assets/img/avtar.png"
                                                class="img-fluid img3 align-items-center mb-2" alt=""
                                                >
                                            <!-- <img [src]=post_content.user.photo_url
                                                class="img-fluid img3 align-items-center mb-2" alt=""
                                                *ngIf="post_content.user.photo_url != null"> -->
                                        </div>
                                        <div class="col-lg-7 col-md-5 col-sm-5 m-0 p-0 mt-2">

                                            <!----------own profile routing start--------->
                                            <div class=" d-flex justify-content-between">
                                                <p>
                                                    <span><strong>
                                                            <a style="cursor: pointer;font-size: 20px; font-family: Arial, Helvetica, sans-serif;color: rgb(232, 93, 61); font-weight: 600;"
                                                               >*****</a>
                                                        </strong></span>
                                                </p>
                                               

                                            </div>

                                            <!-----------own profile routing end--------->

                                        
                                            <p class="hasTag">{{post_content.created_at | timeAgo}}
                                                <span>
                                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                                </span>
                                            </p>
                                        </div>
                                        <!-- <div class="col-lg-7 col-md-5 col-sm-5 m-0 p-0">
                                            <div class=" d-flex justify-content-between"
                                                *ngIf="socialusers.id == post_content.user.id">
                                                <h5 class="p-2"
                                                    [routerLink]="['/navigation/profile', post_content.user.id]"
                                                    style="cursor: pointer;">{{post_content.user.name}} </h5>
                                            </div>
                                            <div class=" d-flex justify-content-between"
                                                *ngIf="socialusers.id != post_content.user.id">
                                                <h5 class="p-2"
                                                    [routerLink]="['/navigation/userProfile', post_content.user.id]"
                                                    style="cursor: pointer;">{{post_content.user.name}} </h5>
                                            </div>
                                            <p class="hasTag">{{post_content.created_at | date:'medium'}}</p>
                                        </div> -->

                                        <div class="col-lg-2 col-md-2 col-sm-2 p-2">
                                            <div class="dropdown">
                                                <button type="button" class="dropdown-toggle2" data-toggle="dropdown">
                                                    <i class="fa fa-ellipsis-h"></i>

                                                </button>
                                                <div class="dropdown-menu"
                                                    *ngIf="post_content.user_id == this.socialusers.id">
                                                    <a class="dropdown-item text-danger" style="cursor: pointer;"
                                                        data-toggle="modal" data-target="#myModal"
                                                        (click)="showPost(post_content.id)"><i
                                                            class="fa fa-pencil-square-o" style="font-size:20px"></i>
                                                        Edit</a>
                                                    <a class="dropdown-item text-danger" style="cursor: pointer;"
                                                        (click)="deletePost(post_content.id)">
                                                        <i class="fa fa-trash-o" style="font-size:20px"></i> Delete</a>

                                                </div>
                                                <div class="dropdown-menu"
                                                    *ngIf="post_content.user_id != this.socialusers.id">
                                                    <!-- <a class="dropdown-item text-danger" style="cursor: pointer;"><i class="fa fa-eye-slash"
                 style="font-size:20px"></i> Hide</a> -->
                                                    <a class="dropdown-item text-danger" style="cursor: pointer;"
                                                        (click)="reportPost(post_content.id,post_content.user_id)"><i
                                                            class="fa fa-file-text-o" style="font-size:20px"></i>
                                                        Report</a>

                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-10">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-10"
                                                *ngIf="post_content.content != null && post_content.content != 0 && post_content.content != ''">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                                        <p class="text-justify CommentContent p-1">

                                                            <span
                                                                [innerHTML]="(showMore) ? post_content.content : post_content.content | slice:0:500 | linkify"></span>
        
                                                            <!-- {{(showMore) ? post_content.content : post_content.content | slice:0:100}} -->
                                                            <span
                                                                *ngIf="post_content.content.length > showChar && !showMore">...</span>
                                                            <a href="javascript:;"
                                                                *ngIf="post_content.content.length > showChar && !showMore"
                                                                (click)="showMore=true">Read More</a>
                                                            <a href="javascript:;"
                                                                *ngIf="post_content.content.length > showChar && showMore"
                                                                (click)="showMore=false">Read Less</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                            <!--------------Video and Image Container---------------->
                                            <div class="col-lg-12 col-md-12 col-sm-10 " *ngIf="post_content.has_image">
                                                <div class="card">
                                                    <img [src]=post_content.has_image class="img-fluid metaDataImg"
                                                        alt="" data-toggle="modal" data-target="#postModal"
                                                        (click)="getPostDetailsById(post_content.id)">
                                                </div>
                                                <!-- <img [src]=post_content.has_image class="img-fluid designImg" alt=""> -->
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-10" *ngIf="post_content.has_video;">
                                                <video id="video" controls class="postVideo">
                                                    <source [src]="post_content.has_video" type="video/mp4">
                                                    Your browser does not support the video tag.
                                                </video>
                                                <!-- <p class="p-1" style="margin-left: 470px;"><i class="fa fa-expand fa-lg"
                                                        aria-hidden="true" style="cursor: pointer;"
                                                        (click)="getPostDetailsById(post_content.id)"
                                                        data-toggle="modal" data-target="#mediumViewModal"
                                                        data-backdrop="static" data-keyboard="false"></i></p> -->
                                                <!-- <div class="col-lg-12 col-md-10 col-sm-10 "
                                                    *ngIf="post_content.has_image"
                                                    (click)="getPostDetailsById(post_content.id)" data-toggle="modal"
                                                    data-target="#exampleModalCenter1" style="cursor: pointer;">

                                                    <img [src]="post_content.has_image" class="img-fluid designImg"
                                                        alt="">

                                                </div> -->


                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-10"
                                                *ngIf="post_content.metadata == 1 && !post_content.has_image && !post_content.has_video">
                                                <div class="card">
                                                    <img [src]=post_content.url_image alt="Card image"
                                                        class="img-fluid metaDataImg"
                                                        *ngIf="post_content.url_image != null">
                                                    <div class="card-body" style="background: rgb(248, 241, 241);">
                                                        <p class="card-text p-0"
                                                            style="font-size: 16px; font-family: Arial, Helvetica, sans-serif;font-weight: 600;">
                                                            {{post_content.url | shortDomain}}</p>
                                                        <a class="card-text" href="{{post_content.url}}" target="_blank"
                                                            rel="metadata url"
                                                            style="text-decoration: none; color: grey;">
                                                            <p
                                                                style="font-size: 16px; font-weight: bold;font-family: Arial, Helvetica, sans-serif;">
                                                                {{post_content.url_title}}</p>
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-lg-12 col-md-12 col-sm-10"
                                                *ngIf="post_content.has_pdf;">
                                                <iframe [src]="post_content.has_pdf | safe" 
                                                class="responsive-iframe"></iframe>
                                                <div class="card p-0" style="margin-top: -10px; background: grey;">
                                                    <div class="card-body" style="height: 40px;">
                                                        <a href="{{post_content.has_pdf}}" target="_blank"
                                                            rel="noopener noreferrer" style="text-decoration: none;">
                                                            <h6 class="text-white text-center">View Document</h6>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-lg-6" *ngIf="post_content.has_pdf;">
           
                                                 </div> -->
                                            </div>



                                            <!--------------Video and Image Container End----------->

                                        </div>
                                    </div>

                                    <div class="row p-3">
                                        <div class="col-lg-12">

                                            <div class="row ">
                                                <div class="col-lg-12 col-md-10 col-sm-10 mb-3"
                                                style="margin-left: 62px;">
                                                    <div class="row">
                                                        <div class="col-lg-4" style="cursor: pointer;"
                                                            (click)="likePost(post_content.id)"> <i
                                                                class="fa fa-heart-o" aria-hidden="true"></i>
                                                            {{post_content.likes}}</div>
                                                        <div class="col-lg-4" style="cursor: pointer;"><i
                                                                class="fa fa-comment" aria-hidden="true"></i>
                                                            {{post_content.children_count}}
                                                        </div>
                                                        <div class="col-lg-4" style="cursor: pointer;">
                                                            <div class="dropdown">
                                                                <!-- <i class="fa fa-share" aria-hidden="true"
                                                                    aria-haspopup="true" aria-expanded="false">
                                                                    {{post_content.share_count}}</i> -->
                                                                <!-- id="dropdownMenu2" data-toggle="dropdown" -->
                                                                <!-- <div class="dropdown-menu sharedropdown"
                                                                    aria-labelledby="dropdownMenu2">
                                                                    <a class="dropdown-item" style="cursor: pointer;"
                                                                        (click)="sharePost(post_content.id)">Share in
                                                                        Timeline</a>
                                                                    <a class="dropdown-item" style="cursor: pointer;"
                                                                        (click)="getPostDetailsById(post_content.id)"
                                                                        data-toggle="modal"
                                                                        data-target="#modalPush">Share in a group
                                                                        </a>
                                                                        <a class="dropdown-item" style="cursor: pointer;"
                                                                        (click)="getPostDetailsById(post_content.id)"
                                                                        data-toggle="modal"
                                                                        data-target="#shareFriendModal">Share with friends
                                                                        </a>     

                                                                </div> -->
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <!-- <hr class="p-0"> -->
                                                </div>

                                                <div class="commentSection mt-2">

                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 col-sm-10 p-1"
                                                            *ngFor="let children of post_content.children">

                                                            <div class="row p-0">
                                                                <div class="col-lg-2 col-md-2 col-sm-4 ">
                                                                    <img src="assets/img/avtar.png"
                                                                        class="img-fluid commentIcon align-items-center mt-0"
                                                                        alt="">
                                                                    <div
                                                                        class="d-flex justify-content-between align-items-center">
                                                                        <div class="my-1"></div>


                                                                        <!-- <i class="fa fa-heart-o mr-2"  (click)="Like()" style="color: red;"   > {{count}}</i> -->
                                                                    </div>
                                                                </div>


                                                                <div class="col-lg-10 col-md-10 col-sm-8 p-1">
                                                                    <!-- <div class="row">
                                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                                            <div class="card p-1 ml-1 commentCard">
                                                                                <p class="p-0 m-0 ml-2" style="font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: rgb(232, 93, 61); font-weight: 600;">{{children.username}}</p>
                                                                                <p class="p-1 m-0 ml-2" style="font-size: 15px; font-family: Arial, Helvetica, sans-serif; color: grey;">{{children.content}}</p>
                                                            
                                                                        </div>
                                                                            <div class="col-lg-12 col-md-12 col-sm-10">
                                                                                <div class="row">
                                                                                   
                                                                                    <div class="col-lg-6">
                                                                                     <p class="Ago2 ml-1">
                                                                                         {{children.created_at | timeAgo}}</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div> -->
      
                                                                    <div class="justify-content-center p-1"
                                                                    style="background: whitesmoke; border-radius: 1rem;">
                                                                        <div class="justify-content-between d-flex">
                                                                            <h6 class="p-0 mt-1"
                                                                                style="font-size: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(232, 93, 61); font-weight: 500;">
                                                                                ***** </h6>
            
                                                                        </div>
                                                                        <p class="hasTag1 ml-1">{{children.content}}
                                                                        </p>
                                                                        <div class="col-lg-6 col-md-6 col-sm-6 ml-1 mb-1"
                                                                            *ngIf="children.has_image;">

                                                                            <img [src]="children.has_image"
                                                                                class="img-fluid commentImg"
                                                                                alt="Comment Image">

                                                                        </div>
                                                                        <p class="Ago2 ml-1 p-0 m-0">
                                                                            {{children.created_at | timeAgo}}</p>


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="col-lg-12">

                                                    <div class="row">
                                                        <div class="col-lg-1 p-1" style="margin-top: 13px;">
                                                            <!-- <div class="my-3"></div> -->
                                                            <img src="assets/img/avtar.png" class="img1" height="35"
                                                                width="35" alt="">
                                                            <!-- <img [src]=mode.photoUrl class="img1" height="35" width="35"
                                                                alt="" *ngIf="mode.photoUrl != null"> -->
                                                        </div>
                                                        <div class="col-lg-10">
                                                            <div class="my-3">
                                                                <form #f="ngForm"
                                                                    (keyup.enter)="addComment(post_content.id,model.comment)">
                                                                    <div class="row">
                                                                        <div class="col-lg-11"
                                                                            style="margin-right: -12px;">
                                                                            <div class="form-group">
                                                                                <!-- <input type="text" #parent_id="ngModel" [(ngModel)]="model.post_content.id" >-->
                                                                                <input type="text" name="comment"
                                                                                    #comment="ngModel"
                                                                                    [(ngModel)]="model.comment"
                                                                                    class="form-control CommmentField"
                                                                                    placeholder="Write a Comment"
                                                                                    (ngModelChange)="doSomething($event)"
                                                                                    on-focus="focusFunction(post_content.id)">

                                                                            </div>

                                                                        </div>

                                                                        <div class="col-lg-1">
                                                                            <div class="col-lg-1 d-flex justify-content-start mt-3"
                                                                                style="margin-left: -75px;">
                                                                                <img src="assets/img/picture.svg" alt=""
                                                                                    width="15" height="15"
                                                                                    (click)="triggerUpload(post_content.id)">
                                                                                <input type="file"
                                                                                    id="comment_file{{post_content.id}}"
                                                                                    (change)="createCommentImage($event.target.files )"
                                                                                    style="display: none;" />
                                                                                <i (click)="show2(post_content.id)"
                                                                                    style="cursor: pointer; ">
                                                                                    <img src="assets/img/happy.png"
                                                                                        height="20" width="20" alt=""
                                                                                        style="margin-top: -15px; padding-left: 5px;"
                                                                                        *ngIf="showCommentEmoji">
                                                                                </i>
                                                                                <i (click)="closeCommentEmoji()"
                                                                                    style="cursor: pointer; ">
                                                                                    <img src="assets/img/happy.png"
                                                                                        height="20" width="20" alt=""
                                                                                        style="margin-top: -15px; padding-left: 5px;"
                                                                                        *ngIf="closeCommentEmojiFlag">
                                                                                </i>
                                                                                <span *ngIf="commentEmoji">
                                                                                    <emoji-mart
                                                                                        (emojiClick)="handleComment($event)"
                                                                                        *ngIf="post_content.id == status_id">
                                                                                    </emoji-mart>
                                                                                </span>
                                                                                <!-- <img src="assets/img/happy.png" class="ml-1" width="15"
                         height="15" alt=""> -->
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                </form>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="col-lg-12" *ngIf="tagSection && input_id == post_content.id">

                                            <div class="form-group">

                                                <ng-multiselect-dropdown name="groupname" id="groupname"
                                                    [placeholder]="'Tag Friends'" [data]="dropdownList"
                                                    [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                                    (onSelect)="onItemSelect($event)" (onDeSelect)="onDeSelect($event)"
                                                    (onSelectAll)="onSelectAll($event)">
                                                </ng-multiselect-dropdown>
                                            </div>
                                        </div>
                                        <div class="shadow" *ngIf="imgURL!='' && div_id == post_content.id">
                                            <img [src]="imgURL" style="width: 400px; height: 350px;" />
                                            <button type="button" (click)="close_img()" class="close"
                                                aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <!--------------------New Design End------------>
                    </div>


                </div>
                <!-------pagination end------>
                <div class="row ">
                    <div class="col-md-12">
                        <ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="#581f87" type="ball-pulse-sync"
                            [fullScreen]="false"></ngx-spinner>
                    </div>
                </div>
                <div class="row" *ngIf="!notEmptyPost">
                    <div class="col-md-12 d-flex justify-content-center">
                        <div class="text-muted h6 alert alert-secondary p-2">No More Post Available</div>
                    </div>
                </div>
              </div>

              <!-- Left side of page -->
            <div class="col-lg-4 col-sm-5 mr-0 p-0 pr-0">
                <!-- main col-2 -->
                <div class="my-1"></div>
                <div class="container">

                    <div class="row">

                        <div class="col-lg-11 my-4 CardStyle">
                            <div class="my-2"></div>
                            <div class="d-flex justify-content-between">
                                <h5 class="acumin">Sponsored</h5>
                                <h5 class="text-primary" (click)="shop()" style="cursor: pointer;">Shop</h5>
                            </div>
                            <div class="card CardStyle " style="background: lightgray;">
                                <!-- <img src="assets/img/ad.jpg" class="img-thumbnail" alt=""> -->
                                <iframe class="sponsoredVideo"
                                    src="http://www.youtube.com/embed/GPIsh2rEBRE?controls=0" allowfullscreen>
                                </iframe>


                            </div>
                            <div class="my-3"></div>
                        </div>

                        <div class="col-lg-11 my-4 CardStyle">
                            <div class="my-2"></div>
                            <div class="d-flex justify-content-between">
                                <h5 class="acumin">Sponsored</h5>
                                <div class="my-2"></div>
                                <h5 class="text-primary" (click)="shop()" style="cursor: pointer;">Shop</h5>
                            </div>
                            <div class="card CardStyle ">
                                <!-- <img src="assets/img/ad2.jpg" class="img-thumbnail" alt=""> -->
                                <iframe class="sponsoredVideo"
                                    src="http://www.youtube.com/embed/wAuUNsS-kH0?controls=0">
                                </iframe>
                            </div>
                            <div class="my-3"></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
