/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #fe6e00;
    color: #fff;
    transition: all 0.3s;
}


#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    /* padding: 5px; */
    background : #fe6e00;
    color: black;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #dbece9;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #e8e9f1;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.navigation{
    height: 70px;
    /* background-color: #ee1b25;; */
    background-color: white;
}
.navImg {
    cursor: pointer;
    position: absolute;
   
}

.navImg:hover {
    cursor: pointer;
    transform: scale(1.06);
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.ChatIcon {
    position: fixed;
    bottom: 5px;
    right: 5px;
    margin: 0;
    padding: 5px 3px;
}
.chatImg{
    border-radius: 50%;
    border: 3px solid #9AD3F4;
    margin-left: 12px;
    object-fit: cover;
}

.card1{
    background-color: rgb(236, 28, 28);
}
.card2{
    background-color: rgba(255, 166, 0, 0.884);
}
.card3{
    background-color: rgb(87, 175, 94);
}
.img1{
    max-width: 50px;
}

.card4{
background-color:#fe6e00 ;
}

.eventCard{
  background-color: rgba(49, 39, 21, 0.103);
}

.eventRow{
    background-color: rgba(14, 13, 13, 0.103);
}
.liveEvent{
    background-color: rgba(86, 165, 90, 0.986);
}
.upComingEvent{
    background-color: rgba(255, 166, 0, 0.884);
}
.doneEvent{
    background-color: rgb(236, 28, 28);
}

/* posts   */
.AreaItem {
    padding: -8px;
    position: absolute;
    right: 33px;
    bottom: 60px;
    /* padding-top: 16px;*/
}
.txtArea {
    /* border: 6px solid rgb(255, 255, 255); */
    height: 110px;
    width: 100%;
    border: none;
    background: #e6e6e6f6;
    font-weight: 400;
    padding: 8px;
    border-radius: 12px;
    color: rgba(0, 0, 0, 0.769);
}
textarea {
    resize: none;
}

.textAreaSetting {
    border: none;
    background: #e6e6e6f6;
}

.bgCol {
    background: white;
    border-radius: 10px 10px 0 0;
    padding: 5px;
}
.img3 {
    border-radius: 50%;
    border: 3px solid #9AD3F4;
}
.name {
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    color: #000000;
    font-weight: bold;
    opacity: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Ago {
    letter-spacing: 0;
    color: rgb(136, 130, 130);
    opacity: 0.87;
}

.hasTag {
    color: #ED5D42;
    font-size: 14px;
    word-spacing: 0;
    font-weight: 500;
    margin-top: -10px;
}
.example {
    /* min-height: 80px; */
    height: 217px;
    width: 333px;
    margin-left: -14px;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgb(251, 251, 251);
}
.CommentContent {
    color: black;
    letter-spacing: 0;
    font-size: 14px;
    text-align: justify;
    padding: 4px;
}

.Ago1 {
    letter-spacing: 0;
    color: #5d5c5c;
    opacity: 0.5;
    font-size: 9px;
    font-weight: bold;
}

.hasTag1 {
    color: black;
    opacity: 0.89;
    font-weight: 490;
    letter-spacing: 0;
    font-size: 11px;
    margin-top: -18px;
}
.img1 {
    border-radius: 50%;
    border: 3px solid #9AD3F4;
    margin-left: 12px;
}
.HeadDiv {
    height: 100%;
    width: 100%;
    background: #F7F7F7;
}

.postContainer{
    background: white;
    border-radius: 10px 10px 0 0;
    padding: 5px;
}

textarea {
    resize: none;
}

.txtArea {
    /* border: 6px solid rgb(255, 255, 255); */
    height: 140px;
    width: 100%;
    border: none;
    background: #e6e6e6f6;
    font-weight: 400;
    padding: 8px;
    border-radius: 12px;
    color: rgba(0, 0, 0, 0.769);
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.modal-lg1 {
    max-width: 80% !important;
    
}
.image-upload > input
{
    display: none;
}