<!-----------------------------Navigation---------------------------------->

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <div class="card text-white mb-3 card4">
                <div class="row no-gutters">
                    <div class="col-md-3" style="padding: 5px; margin-top: 10px; margin-bottom: 5px;">
                        <img src="assets/img/avtarbg.jpg" class="card-img rounded-circle img1" alt="profile-img">
                    </div>
                    <div class="col-md-9" style="margin-top: 10px">
                        <div class="card-body">
                            <!-- <h6 class="card-title">Admin</h6> -->
                            <div class="dropdown">
                                <a href="#" data-toggle="dropdown" class="nav-link  user-action mt-2 dropdown-toggle"
                                    style="color: white;">
                                    <h6>Admin</h6>
                                </a>
                                <div class="dropdown-menu">

                                    <a class="dropdown-item" (click)="logout()" style="cursor: pointer;"><i
                                            class="fa fa-arrow-left"></i> Logout</a>
                                </div>
                            </div>
                            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="margin-left: 5px;">
                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                    </div>
                </div>
            </div>
            <!-- <div class="card">
                <div class="col-md-4">
                    <img class="img-fluid" src="assets/img/avtarbg.jpg" class="card-img" alt="...">
                </div>
                
            </div> -->
        </div>

        <ul class="list-unstyled components">
            <li>
                <a style="cursor: pointer;" routerLink="/admin/dashboard">Home</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Users</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">

                    <li>
                        <a style="cursor: pointer;" (click)="getActiveUsers()">Active Users</a>
                    </li>
                    <li>
                        <a style="cursor: pointer;" (click)="getInActiveUsers()">Block Users</a>
                    </li>


                </ul>
            </li>

            <li>
                <a href="#spotlightSubmenu" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle">SpotLight</a>
                <ul class="collapse list-unstyled" id="spotlightSubmenu">

                    
                    <li>
                        <a style="cursor: pointer;" (click)="getApproveSpotLight()">Active Spotlight</a>
                    </li>
                    <li>
                        <a style="cursor: pointer;" (click)="getSpotLightRequest()">Pending Spotlight</a>
                    </li>
                    <li>
                        <a style="cursor: pointer;" (click)="getInActiveSpotlight()">InActive Spotlight</a>
                    </li>
                    <li>
                        <a style="cursor: pointer;" data-toggle="modal" data-target="#createSpotlightModal">Create Spotlight</a>
                    </li>
                    <li>
                        <a style="cursor: pointer;" (click)="getAdminSpotlight()">Admin Spotlight</a>
                    </li>
                   

                    
                </ul>
            </li>
            <li>
                <a href="#groupSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Groups</a>
                <ul class="collapse list-unstyled" id="groupSubmenu">

                    <li>
                        <a style="cursor: pointer;" (click)="getApprovedGroup()">Active Groups</a>
                    </li>
                    <li>
                        <a style="cursor: pointer;" (click)="getPendingGroup()">Requested Groups</a>
                    </li>
                    
                    <li>
                        <a style="cursor: pointer;" (click)="inActiveGroupList()">InActive Groups</a>
                    </li>

                  <li>
                      <a style="cursor: pointer;" routerLink="/admin/group">Group</a>
                  </li>
                  
                </ul>
            </li>
            <li>
                <a href="#postSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Post & Articles</a>
                <ul class="collapse list-unstyled" id="postSubmenu">

                    <li>
                        <a style="cursor: pointer;" routerLink="/admin/posts">Post</a>
                    </li>
                    <li>
                        <a style="cursor: pointer;"  routerLink="/admin/trendingpost">Trending Post</a>
                    </li>
                    <li>
                        <a style="cursor: pointer;"  routerLink="/admin/hide-post">Hide Posts</a>
                    </li>
                    
                  
                </ul>
            </li>
            <!-- <li>
                <a style="cursor: pointer;" routerLink="/admin/posts">Post</a>
            </li> -->
            <li>
                <a style="cursor: pointer;" routerLink="/admin/event">Events</a>
            </li>
            <li>
                <a style="cursor: pointer;" data-toggle="modal" data-target="#welcomeMessageModel">Welcome Message</a>
            </li>
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navigation ">
            <div class="container-fluid">
                <a id="sidebarCollapse">
                    <i class="fas fa fa-bars" style="cursor: pointer;"></i>
                </a>
                <!-- <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button> -->
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-align-justify" style="cursor: pointer;"></i>
                </button>

                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" routerLink="/admin/dashboard">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin/posts">Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin/event">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin/group">Groups</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>


        <!-----------------------Table--------------------------------------->

        <div class="container">


            <!----------------------Active users------------------------->

            <div class="row " *ngIf="IFlag">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">Active Users</h3>
                        </div>
                    </div>
                    <div class="table-responsive-xl">
                        <table class="table shadow">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">UserName</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <div class="col-md-12" *ngIf="usersData == 0">
                                    <h5 class="text-center text-danger">No Active User Available</h5>
                                </div>
                                <tr *ngFor="let users of usersData ;let i = index">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{users.name}}</td>
                                    <td>{{users.email}}</td>
                                    <td>{{users.phone}}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger" 
                                        (click)="blockUser(users.id)">Block</button> |
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#userModal" (click)="viewUser(users.id)">View</button>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!------------------------------Blocked users------------------------->
            <div class="row " *ngIf="JFlag">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">Blocked Users</h3>
                        </div>
                    </div>
                    <div class="table-responsive-xl">
                        <table class="table shadow">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">UserName</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <div class="col-md-12" *ngIf="usersDataInActive == 0">
                                    <h5 class="text-center text-danger">No Blocked User Available</h5>
                                </div>
                                <tr *ngFor="let inActiveUser of usersDataInActive ;let i = index">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{inActiveUser.name}}</td>
                                    <td>{{inActiveUser.email}}</td>
                                    <td>{{inActiveUser.phone}}</td>
                                    <td>
                                        <!-----data-toggle="modal"
                                            data-target="#userModal"-->
                                        <button type="button" class="btn btn-success"
                                            (click)="unBlockUser(inActiveUser.id)">UnBlock</button> |
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#userModal" (click)="viewUser(inActiveUser.id)">View</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <!--------------------SpotLight Request--------------------------->

            <div class="row " *ngIf="KFlag">

                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">Pending Spotlight</h3>
                        </div>
                    </div>
                    <div class="table-responsive-xl">
                        <table class="table shadow">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">UserName</th>
                                    <th scope="col">Achievement</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <div class="col-md-12" *ngIf="penddingSpotLight == 0">
                                    <h5 class="text-center text-danger">No Pending Spotlight Available</h5>
                                </div>
                                <tr *ngFor="let pendingSpotLightList of penddingSpotLight; let i = index">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{pendingSpotLightList.name}}</td>
                                    <td>{{pendingSpotLightList.achievement}}</td>
                                    <td>
                                        <button type="button" class="btn btn-success"
                                            (click)="approveSpotlight(pendingSpotLightList.id)">Approve</button> |
                                        <button type="button" class="btn btn-danger" (click)="removeSpotlightRequest(pendingSpotLightList.id)">Decline</button> |
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#spotlightModal"
                                            (click)="viewSpotlight(pendingSpotLightList.id)">View</button>
                                    </td>

                                    <!--decline group Modal -->
                                    <div class="modal fade" id="declinespotlightModel" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Decline Spotlight</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <form>
                                                                <p>*please Give some reason why you decline the
                                                                    Spotlight request...</p>
                                                                <textarea #remark="ngModel" [(ngModel)]="model1.remark"
                                                                    class="txtArea textarea" name="remark" id="remark"
                                                                    placeholder="Remark"></textarea>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close</button>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <button type="submit" data-dismiss="modal"
                                                                    (click)="removeSpotlightRequest(pendingSpotLightList.id)"
                                                                    class="btn btn-primary">Submit</button>
                                                            </div>
                                                        </div>


                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>




                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <!--------------------SpotLight Confirm--------------------------->

            <div class="row " *ngIf="LFlag">

                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">Active Spotlight</h3>
                        </div>
                    </div>
                    <div class="table-responsive-xl">
                        <table class="table shadow">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">UserName</th>
                                    <th scope="col">Achievement</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <div class="col-md-12" *ngIf="confirmSpotlight == 0">
                                    <h5 class="text-center text-danger">No Active Spotlight Available</h5>
                                </div>
                                <tr *ngFor="let spotLightList of confirmSpotlight; let i = index;">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{spotLightList.name}}</td>
                                    <td>{{spotLightList.achievement}}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger"
                                            (click)="cancelSpotlightRequest(spotLightList.id)">Block</button> |
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#spotlightModal"
                                            (click)="viewSpotlight(spotLightList.id)">View</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--------------------InActiveSpotlight Start------------->

            <div class="row " *ngIf="InActiveSpotlightFlag">

                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">In-Active Spotlight</h3>
                        </div>
                    </div>
                    <div class="table-responsive-xl">
                        <table class="table shadow">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">UserName</th>
                                    <th scope="col">Achievement</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <div class="col-md-12" *ngIf="InActiveSpotlightList == 0">
                                    <h5 class="text-center text-danger">No InActive Spotlight Available</h5>
                                </div>
                                <tr *ngFor="let InActivespotLightdata of InActiveSpotlightList; let i = index;">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{InActivespotLightdata.name}}</td>
                                    <td>{{InActivespotLightdata.achievement}}</td>
                                    <td>
                                        <!-- <button type="button" class="btn btn-danger"
                                            (click)="cancelSpotlightRequest(InActivespotLightdata.id)">Block</button> | -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#spotlightModal"
                                            (click)="viewSpotlight(InActivespotLightdata.id)">View</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--------------------InActiveSpotlight End--------------->

            <!--------------------InActiveGroup Start----------------->
            <div class="row " *ngIf="InActiveGroupFlag">

                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">InActive Groups</h3>
                        </div>
                    </div>
                    <div class="table-responsive-xl">
                        <table class="table shadow">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">UserName</th>
                                    <th scope="col">Group Name</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Sub-Category</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <div class="col-md-12" *ngIf="inActiveGroup == 0">
                                    <h5 class="text-center text-danger">No InActive Groups Available</h5>
                                </div>
                                <tr *ngFor="let inActiveGroupData of inActiveGroup; let i = index;">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{inActiveGroupData.user_details.name}}</td>
                                    <td>{{inActiveGroupData.groupname}}</td>
                                    <td *ngIf="inActiveGroupData.group_master == null"></td>
                                    <td *ngIf="inActiveGroupData.group_master != null">{{inActiveGroupData.group_master.Beh_name}}
                                    </td>
                                    <td *ngIf="inActiveGroupData.subgroup_category == null"></td>
                                    <td *ngIf="inActiveGroupData.subgroup_category != null">
                                        {{inActiveGroupData.subgroup_category.activity_name}}</td>
                                    <td>
                                        <!-- <button type="button" class="btn btn-danger"
                                            (click)="cancelGroupRequest(inActiveGroupData.id)">Block</button> |  -->
                                            <button
                                            type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#groupModal" (click)="viewGroup(inActiveGroupData.id)">View</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--------------------InActiveGroup End------------------->
            <!--------------------Pending Groups--------------------------->

            <div class="row " *ngIf="pendingGroupFlag">

                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">Pending Groups</h3>
                        </div>
                    </div>
                    <div class="table-responsive-xl">
                        <table class="table shadow">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">UserName</th>
                                    <th scope="col">Group Name</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Sub-Category</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <div class="col-md-12" *ngIf="pendingGroups == 0">
                                    <h5 class="text-center text-danger">No pending groups</h5>
                                </div>
                                <tr *ngFor="let pendingGroupsList of pendingGroups; let i=index;">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{pendingGroupsList.user_details.name}}</td>
                                    <td>{{pendingGroupsList.groupname}}</td>
                                    <td *ngIf="pendingGroupsList.group_master == null"></td>
                                    <td *ngIf="pendingGroupsList.group_master != null">
                                        {{pendingGroupsList.group_master.Beh_name}}</td>
                                    <td *ngIf="pendingGroupsList.subgroup_category == null"></td>
                                    <td *ngIf="pendingGroupsList.subgroup_category != null">
                                        {{pendingGroupsList.subgroup_category.activity_name}}</td>
                                    <td>
                                        <button type="button" class="btn btn-success"
                                            (click)="approvGroupRequest(pendingGroupsList.id)">Approve</button> |
                                        <button type="button" class="btn btn-danger" (click)="removeGroupRequest(pendingGroupsList.id)">Decline</button> |
                                        <button type="button" class="btn btn-primary" 
                                            (click)="viewGroup(pendingGroupsList.id)" data-toggle="modal"   
                                            data-target="#groupModal">View</button>
                                    </td>



                                    <!--decline group Modal -->
                                    <div class="modal fade" id="declineGroupModel" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Decline Group</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <form>
                                                                <p>*please Give some reason why you decline the group
                                                                    request...</p>
                                                                <textarea #remark="ngModel" [(ngModel)]="model.remark"
                                                                    class="txtArea textarea" name="remark" id="remark"
                                                                    placeholder="Remark"></textarea>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close</button>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <button type="submit" data-dismiss="modal"
                                                                    (click)="removeGroupRequest(pendingGroupsList.id)"
                                                                    class="btn btn-primary">Submit</button>
                                                            </div>
                                                        </div>


                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>




                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--------------------Active Groups--------------------------->

            <div class="row " *ngIf="GroupFlag">

                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">Active Groups</h3>
                        </div>
                    </div>
                    <div class="table-responsive-xl">
                        <table class="table shadow">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">UserName</th>
                                    <th scope="col">Group Name</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Sub-Category</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <div class="col-md-12" *ngIf="approvedGroup == 0">
                                    <h5 class="text-center text-danger">No groups</h5>
                                </div>
                                <tr *ngFor="let groupsList of approvedGroup; let i = index;">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{groupsList.user_details.name}}</td>
                                    <td>{{groupsList.groupname}}</td>
                                    <td *ngIf="groupsList.group_master == null"></td>
                                    <td *ngIf="groupsList.group_master != null">{{groupsList.group_master.Beh_name}}
                                    </td>
                                    <td *ngIf="groupsList.subgroup_category == null"></td>
                                    <td *ngIf="groupsList.subgroup_category != null">
                                        {{groupsList.subgroup_category.activity_name}}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger"
                                            (click)="cancelGroupRequest(groupsList.id)">Block</button> | <button
                                            type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#groupModal" (click)="viewGroup(groupsList.id)">View</button>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


<!-----------------Admin Spotlight---------------->

    <div class="row mt-3 shadow" style="background: white; border-radius: 20px;" *ngIf="adminSpotlightFlag">
        <div class="mt-1">
            <h5 class="p-2">Admin Spotlight</h5>
        </div>
        <div class="col-lg-12-col-md-12 col-sm-12 col-10">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 p-2" *ngFor="let adminSpotlightList of adminSpotlight">
                    <div class="card CardStyle ">
                        <img src="assets/img/avtarbg.jpg"
                            class="img-fluid img-thumbnail" alt="" *ngIf="adminSpotlightList.has_image == null ">
                       <img style="width: 250px;height:200px;" src="{{adminSpotlightList.has_image}}"
                            class="img-fluid img-thumbnail" alt="" *ngIf="adminSpotlightList.has_image != null"> 
                            
                            <!-- <a href="{{adminSpotlightList.has_pdf}}" target="blank" downloadPDF
                            *ngIf="adminSpotlightList.has_pdf">
   
                                <img src="assets/img/PDF-image.jpg" style="height: 230px; width: 500px;" class="img-fluid" alt="">
                           </a>       -->
                            <h5 class="card-subtitle text-center p-2 text-muted" style="cursor: pointer;"
                            [routerLink]="['/admin/spotlight-dashboard', adminSpotlightList.id]">{{adminSpotlightList.achievement}}</h5>
                    </div>
                </div>                      
                </div>
            </div>
        </div>
    </div>

        </div>

        <!--Groups Modal -->
        <div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Group Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12 col-sm-12" *ngFor="let groupData of groupDetails">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-s-6" *ngIf="groupData.groupimage != null">
                                        <img [src]=groupData.groupimage alt="Group image" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-s-6" *ngIf="groupData.groupimage == null">
                                        <img src="assets/img/avtar.png" alt="Group image" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-s-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5>{{groupData.groupname}}</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <small>
                                                    <p>{{groupData.groupdescription}}</p>
                                                </small>
                                                <small>
                                                    <p>Age-Limit :
                                                        <span>{{groupData.minage}}</span>-<span>{{groupData.maxage}}</span>
                                                    </p>
                                                </small>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        
                    </div>
                </div>
            </div>
        </div>



        <!--Spotlight Modal -->
        <div class="modal fade" id="spotlightModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Active Group</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12 col-sm-12"
                                *ngFor="let spotLightData of spotlightDetails.spotlightdata">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-s-6" *ngIf="spotLightData.has_image == null">
                                        <img src="assets/img/avtar.png" alt="Group image" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-s-6" *ngIf="spotLightData.has_image != null">
                                        <img [src]=spotLightData.has_image alt="Group image" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-s-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5>{{spotLightData.achievement}}</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <small>
                                                    <p>{{spotLightData.description}}
                                                    </p>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                       
                    </div>
                </div>
            </div>
        </div>


        <!--Users Modal -->
        <div class="modal fade " id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">User Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row" *ngFor="let userDataList of userDetails">
                            <div class="col-lg-4 col-md-4 col-sm-4" *ngIf="userDataList.photo_url != null">
                                <img [src]=userDataList.photo_url alt="Group image" class="img-fluid"
                                    style="height: 250px; width: 400px;">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4" *ngIf="userDataList.photo_url == null">
                                <img src="assets/img/avtar.png" alt="Group image" class="img-fluid"
                                    style="height: 250px; width: 400px;">
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <h3>{{userDataList.name}}</h3>
                                            </div>
                                            <div class="col-md-4">
                                                <p style="color:darkgreen" *ngIf="userDataList.active_status == 1">
                                                    <b>Active</b></p>
                                                <p class="text-danger" *ngIf="userDataList.active_status == 0">
                                                    <b>Blocked</b></p>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <h5 class="text-danger">Goes To {{userDataList.schoolname}}</h5>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <h6>Born On</h6>
                                                </div>
                                                <div class="row">
                                                    <p>{{userDataList.dob}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <h6>Address</h6>
                                                </div>
                                                <div class="row">
                                                    <p>{{userDataList.address}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <h6>City</h6>
                                                </div>
                                                <div class="row">
                                                    <p>{{userDataList.city}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <h6>Gender</h6>
                                                </div>
                                                <div class="row">
                                                    <p>{{userDataList.gender}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <h6>Email</h6>
                                                </div>
                                                <div class="row">
                                                    <div class="col-s-3">
                                                        <p>{{userDataList.email}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <h6>Phone</h6>
                                                </div>
                                                <div class="row">
                                                    <p>{{userDataList.phone}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <h6>Achievment</h6>
                                                </div>
                                                <div class="row">
                                                    <p>{{userDataList.achievments}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <h6>Hobbies</h6>
                                                </div>
                                                <div class="row">
                                                    <p>{{userDataList.hobbies}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <h6>interest</h6>
                                                </div>
                                                <div class="row">
                                                    <p>{{userDataList.intrest}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <h6>Profession</h6>
                                                </div>
                                                <div class="row">
                                                    <p>{{userDataList.profession}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <h6>Organistion Name</h6>
                                                </div>
                                                <div class="row">
                                                    <p>{{userDataList.schoolname}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <h6>Want To Be</h6>
                                                </div>
                                                <div class="row">
                                                    <p>{{userDataList.wanttobe}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <h6>About Me</h6>
                                                </div>
                                                <div class="row">
                                                    <p>{{userDataList.aboutus}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-12 col-sm-12" *ngFor="let userDataList of userDetails">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-s-6" *ngIf="userDataList.photo_url != null">
                                        <img [src]=userDataList.photo_url alt="Group image" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-s-6" *ngIf="userDataList.photo_url == null">
                                        <img src="assets/img/avtar.png" alt="Group image" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-s-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5>{{userDataList.name}}</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <small>
                                                    <p>244 Friends</p>
                                                </small>
                                                <p>{{userDataList.email}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div> -->

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="welcomeMessageModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Welcome Message</h5>
                        <button type="button" id="close_group_model" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form (ngSubmit)="sendWelcomMessage()" #f="ngForm">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">

                                        <div class="form-group">
                                            <label for="exampleInputEmail1" class="modalLabel"><strong>Welcome
                                                    Message</strong></label>
                                            <input type="text" class="form-control" name="name" id="name"
                                               #message="ngModel" [(ngModel)]="welcomeMessage.message" aria-describedby="emailHelp" placeholder="Welcome Message">
                                        </div>
                                    

                                    </div>
                                    <div class="col-lg-12">
                                        <button type="submit" class="btn btn-primary">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                        
                    </div>
                </div>
            </div>
        </div>

        <!--------------------Create Admin Spotlight----------------------->



             <!-- The Modal -->
             <div class="modal" id="createSpotlightModal">
                <div class="modal-dialog modal-lg1">
                    <div class="modal-content">
        
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title text-danger">Create Spotlight</h4>
                            <button type="button" class="close" id="close_spotlight_model" data-dismiss="modal">&times;</button>
                        </div>
        
                        <!-- Modal body  *ngIf="spotLightForm"-->
                        <div class="modal-body p-4 ">
                            <form (ngSubmit)="requestSportlight()" #f="ngForm" >
                                <div class="row  border p-2">
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1"
                                                        class="modalLabel"><strong>Name<span class="required">*</span></strong></label>
                                                    <input type="text" class="form-control" #achievement="ngModel"
                                                        [(ngModel)]="model.name" name="name" id="name" placeholder="Name">
                                                    <!-- <input type="text" class="form-control" (change)="achivementImage($event.target.files )" id="File" aria-describedby="emailHelp" placeholder="Name"> -->
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1" class="modalLabel"><strong>About
                                                            Achivemet<span class="required">*</span></strong></label>
                                                    <input type="text" class="form-control" #description="ngModel"
                                                        [(ngModel)]="model.description" name="description" id="description"
                                                        placeholder="About Achivemet">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1" class="modalLabel"><strong>Achivement
                                                            Category<span class="required">*</span></strong></label>
                                                    <select (change)="changeCategoryListValue($event.target.value)" name="value"
                                                        [(ngModel)]="data.value" class="form-control">
                                                        <option *ngFor="let categoryData of categoryList.object"
                                                            value="{{categoryData.id}}">
                                                            {{categoryData.Beh_name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1" class="modalLabel"><strong>Achivement
                                                            Sub-Category<span class="required">*</span></strong></label>
                                                    <select 
                                                    class="form-control" name="value"
                                                    [(ngModel)]="model.value">
                                                        <option *ngFor="let subCategoryData of subCaterory"
                                                           [ngValue]="subCategoryData">{{subCategoryData.activity_name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                           
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1" class="modalLabel"><strong>Achievement
                                                            Name <span class="required">*</span></strong></label>
                                                    <input type="text" class="form-control" #achievement="ngModel"
                                                        [(ngModel)]="model.achievement" name="achievement" id="achievement"
                                                        placeholder="Achievement Name">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1"
                                                        class="modalLabel"><strong>Location <span class="required">*</span></strong></label>
                                                    <input type="text" class="form-control" #location="ngModel"
                                                        [(ngModel)]="model.location" name="location" id="location"
                                                        placeholder="Location">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1" class="modalLabel"><strong>Achievement
                                                        <span class="required">*</span></strong></label>
                                                    <input type="date" class="form-control" #achievement="ngModel"
                                                        [(ngModel)]="model.date" name="date" id="date"
                                                        placeholder="Achievement Date">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1" class="modalLabel"><strong>Achievement
                                                            Time <span class="required">*</span></strong></label>
                                                    <input type="time" class="form-control" name="time" id="time"
                                                     placeholder="Achievement Time">
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1" class="modalLabel"><strong>Achievment
                                                            Description <span class="required">*</span></strong></label>
                                                    <textarea name="" id="" cols="3" placeholder="Achievment Description"
                                                        class="form-control" rows="3"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 text-center mt-5">
                                                <button class="btn btn-danger  mr-3">Submit</button>
                                                <button type="button" class="btn btn-danger " data-dismiss="modal"
                                                    required>Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 image-upload">
    <p class="p-2">Please Choose Image For Your Spotlight<span class="required">*</span></p>
                                        <label for="file-input">
                                            <img class="img-fluid img-thumbnail imgGallary" [src]=imgData />
                    
                                        </label>
                                    
                                        <input id="file-input" type="file" (change)="achivementImage($event.target.files)" />
                                        
                                    </div>
    
                                </div>
        
                            </form>
        
        
<!--         
                            <div class="container-fluid border mt-3" *ngIf="spotLightFormPost">
                                <div class="row" style="background: lightgray;">
                                    <div class="col-lg-1 p-2">
                                        <img src="assets/img/avtarbg.jpg" alt="" class="img-fluid spotProImg">
                                    </div>
                                    <div class="col-lg-4 p-2">
                                        <h5>Jamshed Ahmad</h5>
                                        <h6 class="text-danger">Created At 5:00 PM</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p class="pl-3 pr-3 pt-3">Test Sptlight For Testing purpose</p>
                                    </div>
                                </div>
                                <div class="row p-2">
        
        
                                    <div class="col-lg-8 ">
                                        <form [formGroup]="postForm" (ngSubmit)="store()">
        
                                            <textarea name="textarea" [(ngModel)]="message" formControlName="content" id=""
                                                class="txtArea textarea"
                                                placeholder="Your friends are waiting to hear from you"></textarea>
                                            <input type="submit" id="btn_post" class="btn btn-danger pull-right  btn-block"
                                                value="Post" />
                                        </form>
                                        <div style="position: absolute;right: 24px; bottom: 65px;">
                                            <span>
                                                <form>
                                                    <input type="image" src="assets/img/picture.svg" height="20" width="20" />
                                                    <input type="file" id="File1"
                                                        (change)="createPostImage($event.target.files )"
                                                        style="display: none;" />
                                                </form>
                                            </span>
        
                                            
                                            <i (click)="show()" (click)="show1()" style="cursor: pointer; ">
        
                                                <emoji-mart (emojiClick)="handleSelection($event)" *ngIf="iFlag == true">
                                                </emoji-mart>
                                                <img src="assets/img/happy.png" height="20" width="20" alt="">
                                            </i>
                                        </div>
        
                                    </div>
                                    <div class="col-lg-4 ">
                                        <img src="assets/img/avtar.png" alt="" class="img-fluid img-thumbnail imgSpot p-1 ">
        
                                    </div>
        
                                </div>
        
                                <div class="row pull-right">
                                    <div class="col-lg-12 text-center p-3">
                                        <button class="btn btn-danger mr-3">Submit</button>
                                        <button class="btn btn-danger" (click)="mySpotlightForm()">Cancel</button>
                                    </div>
                                </div>
                            </div> -->
        
        
        
                        </div>
        
                    </div>
        
                    <!-- Modal footer -->
                    <div class="modal-footer">
        
                    </div>
        
                </div>
            </div>
  
            <button>
                <img src="assets/img/chat.png" routerLink="/admin/admin-chat" class="chatImg ChatIcon" alt="" height="75" width="75">
            </button>            