<div class="mainContainer">
    <div class="container">
        <div class="row p-2" style="margin-top: 138px;">
            <div class="col-lg-12 col-md-12 col-sm-10">
                <div class="row p-2">
                    <div class="col-lg-12 col-md-12 col-sm-10">
                      <div class="row">
                          <div class="col-lg-3 col-md-3 col-sm-3"></div>
                          <div class="col-lg-6 col-md-6 col-sm-6">
                            <img src="assets/img/logoRegister (2).png" class="card-img bgimg" alt="...">
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3"></div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-10 p-3 mt-4" >
                        <h4 class="text-center" style="color: #fa0e0e;">MANAGEMENT TEAM</h4>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-10 p-2">
                        <p class="text-justify" style="font-family: Arial, Helvetica, sans-serif;">
                           <span style="color: #fa0e0e; font-size: 18px; font-family: Arial, Helvetica, sans-serif;">Team:</span> The leadership team has approximately 70 years of experience with  best in class organisations across functions like Leadership, Strategy, Technology, Marketing, Brand, Finance and Creative
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-10 p-2">
                        <p class="text-justify" style="font-family: Arial, Helvetica, sans-serif;">
                           <span style="color: #fa0e0e; font-size: 18px; font-family: Arial, Helvetica, sans-serif;">Ashish Bahl : Founder Partner:</span> Ashish has 25 + years as a Strategist, Marketer, Biker, Builder of Brands with McCann, JWT, SABMiller India, Neo Sports and Ogilvy. An alumni of IMI Delhi, Ashish has up-skilled from HBS, IIMB, Columbia, Wharton, IDEO, LBS & Barca Universitas. 
                           Ashish has two daughters (14 & 18). The idea for 1418 was born when he saw their relentless effort towards diminishing possibilities amidst rampant opportunities and a systematic drive to be someone who they may not want to be, yet had to be.
                           
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-10 p-2">
                        <p class="text-justify" style="font-family: Arial, Helvetica, sans-serif;">
                           <span style="color: #fa0e0e; font-size: 18px; font-family: Arial, Helvetica, sans-serif;">Sudhanshu Rawat : Founder Partner:</span> Sudhanshu has 26 + years as a business leader, managing P&L’s, delivering Transformation, strategic outsourcing, he has worked as a Partner/ Exec Director with IBM, Senior Management roles in Accenture / Oracle, he is an Engineer and MBA, he has also up-skilled in Digital Strategy and Business Models from IMD & IIMB. Sudhanshu has two sons ( 9 & 18) & views 1418 as an opportunity to help enable India’s youth for the future, support and nurture them in this journey & envisions taking this platform global.  
                           
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-10 p-2">
                        <p class="text-justify" style="font-family: Arial, Helvetica, sans-serif;">
                           <span style="color: #fa0e0e; font-size: 18px; font-family: Arial, Helvetica, sans-serif;">Tanjug Singh:</span> 
                           Tanjug has 18+ years as a program manager, process owner & Delivery manager. He has worked with GECIS /  WNS / IBM. He is a B.Com & an MBA from NMIMS. His expertise in building & managing Platforms end to end is being leveraged in the design & build of the Platform.
                           For Tanjug 1418 is a platform created to provide a positive environment for young India. Observing his nephews and nieces He feels that teenagers are not able to openly share their views & problems or find support & help. They live with undue stress for which they need help.
                           
                        </p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-s-12 ">
                <h3 class="text-center font-italic">About Us</h3>
               
            </div>

            <div class="col-lg-12 col-md-12">
                <h5 class="font-italic mt-4">OUR TEAM</h5>
                <hr style="background: #694e4e; height: 3px; width: 100px; ">

                <p class="text-justify mt-4" style="font-size: 18px;">
                    The leadership team of Burnt Toast has experience of 55 + years with best in class

                    organisations across functions like Leadership, Strategy, Technology, Marketing, Brand, Finance,
                    Journalism and Creative
                </p>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-s-12 mt-4">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="card" style="height: 360px;">
                            <div class="card-body">
                                <img src="assets/img/avatarbg.png" class="img-fluid mx-auto d-block img1" alt="...">
                                <h5 class="font-italic text-center mt-3">Ashish Bahl</h5>
                                <p class="text-justify mt-3" style="font-size: 15px;">
                                    Ashish has 23 + years as a Strategist, Marketer, Biker, Builder of Brands with
                                    McCann, JWT, SABMiller India, Neo Sports and Ogilvy. An alumni of IMI Delhi, Ashish
                                    has up-skilled from HBS, IIMB, Columbia, Wharton, IDEO, LBS & Barca Universitas.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="card" style="height: 360px;">
                            <div class="card-body">
                                <img src="assets/img/avatarbg.png" class="img-fluid mx-auto d-block img1" alt="...">
                                <h5 class="font-italic text-center mt-3">Sudhanshu Rawat</h5>
                                <p class="text-justify mt-3" style="font-size: 15px;">
                                    Sudhanshu has 25 + years as a business leader, managing P&L's, delivering
                                    Transformation, strategic outsourcing, he has worked as a Partner/ Exec Director
                                    with IBM, Senior Management roles in Accenture / Oracle, he is an Engineer and MBA,
                                    he has also up-skilled in Digital Strategy and Business Models from IMD & IIMB.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div> -->

        </div>
    </div>
</div>