.mainContainer {
    height: 100%;
    width: 100%;
    background: #F7F7F7;
    position: relative;
}
.img1 {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    /* border: 2px solid rgb(241, 27, 27); */
  }