<div class="container-fluid fixed-top " style="position: relative;
position: fixed;
background: white;">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-2 col-xs-2  mt-3">
      <img src="assets/img/logoTM1.png" alt="" class="img-fluid ImgLogo" routerLink="/navigation/dashboard"
        style="cursor: pointer;">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-2  mt-3  d-md-none d-sm-none d-xs-none d-lg-block"
      *ngFor="let adminMessage of message">
      <h6 class="mt-2 p-1" style="margin-left: 30px;">
        <p style="font-size: 18px; color: rgb(232, 93, 61);">{{adminMessage.admin_message}}</p>
      </h6>
    </div>
    <div class="col-lg-5 col-md-8 col-sm-8 col-xs-5  mt-lg-0 mt-sm-3 mt0  ml-auto">
      <div class="row ">
        <div class="dropdown">
          <a href="#" data-toggle="dropdown" class="nav-link  user-action  " style="color: #ED5D42;">
            <img src="assets/img/Connect1.svg" width="70px" alt="">

          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/navigation/peopleFriend" style="color: grey;">
              Friends</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="cursor: pointer;" routerLink="/navigation/groups" style="color: grey;">
              Groups</a>
          </div>
        </div>
        <div class="dropdown">
          <a href="#" data-toggle="dropdown" class="nav-link  user-action  " style="color: #ED5D42;">
            <img src="assets/img/xplore4.svg" width="70px" alt="" style="margin-top: 6px;">

          </a>
          <div class="dropdown-menu">
            <!-- <a class="dropdown-item" routerLink="/navigation/dashboard"><i
                                class="fa fa-book text-danger"></i> Post & Article</a>
                        <div class="dropdown-divider"></div> -->
            <a class="dropdown-item" routerLink="/navigation/me" style="cursor: pointer;color: grey;"> Me</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/navigation/interest" style="cursor: pointer;color: grey;"> Interests &
              Hobbies</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/navigation/carrier" style="cursor: pointer; color: grey;"> Studies &
              Career</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/navigation/everything" style="cursor: pointer; color: grey;">
              Others</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/navigation/trending" style="cursor: pointer; color: grey;">
              Trending</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/navigation/events" style="cursor: pointer; color: grey;"> Events</a>
          </div>
        </div>
        <div class="dropdown">
          <a href="#" data-toggle="dropdown" class="nav-link  user-action " style="color: #ED5D42;">
            <img src="assets/img/spotlight5.svg" width="70px" alt="" style="margin-top: 5px;"
              routerLink="/navigation/spotlight">

          </a>

        </div>

        <div class="dropdown" (click)="shop()">
          <a href="#" data-toggle="dropdown" class="nav-link  user-action " style="color: #ED5D42;">
            <img src="assets/img/Shop.svg" width="70px" style="margin-top: 6px;" alt="">

          </a>

        </div>

      </div>
    </div>
    <div style="display: flex; align-items: center; justify-content: center; cursor: pointer;"
      class="col-lg-1 col-md-1 col-sm-2 col-xs-1 " *ngIf="model.photoUrl != null">
      <!-- <img [src]=model.photoUrl alt="" [routerLink]="['/navigation/profile', model.id]" class="img-fluid imgPro mt-1"> -->
      <img [src]=model.photoUrl class="rounded-circle iconImg mt-1" alt="Cinque Terre"
        [routerLink]="['/navigation/profile', model.id]">
    </div>
    <div style="display: flex; align-items: center; justify-content: center; cursor: pointer;"
      class="col-lg-1 col-md-1 col-sm-2 col-xs-1" *ngIf="model.photoUrl == null">
      <img src="assets/img/avtarbg.jpg" alt="" [routerLink]="['/navigation/profile', model.id]"
        class="img-fluid imgPro mt-1" style="cursor: pointer;">

    </div>

  </div>

</div>

<nav class="navbar navbar-expand-lg fixed-top mt-4" style=" z-index: 999;background: #dedede;
height: 44px;
position: absolute;
top: 70px;
position: fixed; justify-content: flex-end;">

  <ul class="ul1">
    <li class="nav-item dropdown mt-3 l1">
      <a class="nav-link" style="color: #ED5D42;cursor: pointer;">
        <i class="fa fa-bell"></i></a>

      <!---------------------Notification List Start----------------------------->


      <ul class="dropdown-menu notification">

        <li class="head text-light bg-dark">
          <div class="row">
            <div class="col-lg-12 col-sm-12 col-12">
              <span>Notifications (3)</span>
              <!-- <a href="" class="float-right text-light">Mark all as read</a> -->
            </div>
          </div>
        </li>
        <div class="scroll-notification">
          <li class="notification-box" *ngFor="let notification of notificationList">
            <div class="row">
              <div class="col-lg-3 col-sm-3 col-3 text-center">
                <img src="assets/img/avtar.png" class="w-50 rounded-circle">
              </div>
              <div class="col-lg-8 col-sm-8 col-8">
                <strong class="text-info">{{model.name}}</strong>
                <div>
                  <a style="text-decoration: none;cursor: pointer;color: grey;">{{notification.notification_msg}}</a>
                  <!-- (click)="goToNotification(notification.platform_type,notification.post_id)" -->
                </div>
                <small class="text-warning">{{notification.created_at}}</small>
              </div>
            </div>
          </li>
          <!-- <li class="notification-box bg-gray">
      <div class="row">
        <div class="col-lg-3 col-sm-3 col-3 text-center">
          <img src="/demo/man-profile.jpg" class="w-50 rounded-circle">
        </div>    
        <div class="col-lg-8 col-sm-8 col-8">
          <strong class="text-info">David John</strong>
          <div>
            Lorem ipsum dolor sit amet, consectetur
          </div>
          <small class="text-warning">27.11.2015, 15:00</small>
        </div>    
      </div>
    </li> -->
          <!-- <li class="notification-box">
      <div class="row">
        <div class="col-lg-3 col-sm-3 col-3 text-center">
          <img src="/demo/man-profile.jpg" class="w-50 rounded-circle">
        </div>    
        <div class="col-lg-8 col-sm-8 col-8">
          <strong class="text-info">David John</strong>
          <div>
            Lorem ipsum dolor sit amet, consectetur
          </div>
          <small class="text-warning">27.11.2015, 15:00</small>
        </div>    
      </div>
    </li> -->
        </div>
        <li class="footer bg-dark text-center">
          <a href="" class="text-light">View All</a>
        </li>
      </ul>

      <!---------------------Notification List End------------------------------->



    </li>
  </ul>


  <div class="flex-right">
    <form class="form-inline" (keyup.enter)="getUserPost(searchmodel.username)" #f="ngForm">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-search"></i></span>
        </div>
        <div class="form-group search-box">
          <input type="text" name="username" #username="ngModel" [(ngModel)]="searchmodel.username"
            class="form-control Commmenttext" placeholder="Search" style="width: 249px;">
        </div>
      </div>
    </form>
  </div>

  <div class="dropdown">
    <a href="#" data-toggle="dropdown" class="nav-link  user-action mt-2 dropdown-toggle a1"
      style="color: #4b4444; font-family: Arial, Helvetica, sans-serif; font-size: 18px;" *ngIf="model.name != null">
      {{model.name | titlecase}}
    </a>
    <a href="#" data-toggle="dropdown" class="nav-link  user-action mt-2 dropdown-toggle"
      style="color: #4b4444; font-family: Arial, Helvetica, sans-serif; font-size: 18px;" *ngIf="model.name == null">
      {{model.displayName | titlecase}}
    </a>
    <div class="dropdown-menu" style="margin-left: -90px;">
      <a class="dropdown-item" routerLink="/navigation/updateProfile" style="cursor: pointer;color: grey;"><i
          class="fa fa-pencil"></i> Edit
        Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" data-toggle="modal" data-target="#changePassword" style="cursor: pointer;color: grey;"><i
          class="fa fa-cog" aria-hidden="true"></i>
        Change Password</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" style="cursor: pointer; color: grey;" routerLink="/navigation/privacy"><i
          class="fa fa-user-secret" aria-hidden="true"></i>
        Privacy & Terms</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" style="cursor: pointer; color: grey;" routerLink="/navigation/contact"><i
          class="fa fa-phone" aria-hidden="true"></i>
        Contact Us</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" style="cursor: pointer; color: grey;" routerLink="/navigation/about"><i
          class="fa fa-users" aria-hidden="true"></i>
        About Us</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" (click)="logout()" style="cursor: pointer; color: grey;"><i class="fa fa-arrow-left"></i>
        Logout</a>
        <a class="dropdown-item" style="cursor: pointer; color: grey;" routerLink="/navigation/firebase-chat"><i
          class="fa fa-users" aria-hidden="true"></i>
        Firebase Chat</a>
    </div>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>

  <!-- <div class="navbar" >
        <a href="#home" style="color: #fa0e0e;" class="active">Groups</a>
        <a href="#news" style="color: #fa0e0e;">Friends</a>
        <a href="#contact" style="color: #fa0e0e;">Birthday</a>
        <a href="#contact" style="color: #fa0e0e;">Events</a>

      </div> -->


</div>

<!-------------------------Change Password Model------------->

<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-danger text-center">
        <h4 class="modal-title w-100 font-weight-bold">Change Password</h4>
        <button type="button" id="closeChnagePasswordModel" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="password">Current Password <span class="required">*</span></label>
            <input type="password" id="currentpassword" class="form-control" formControlName="currentpassword"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; form.controls.currentpassword.errors }">
            <div *ngIf="submitted &amp;&amp; form.controls.currentpassword.errors" class="text-danger">
              <div *ngIf="form.controls.currentpassword.errors.required">Current Password Field is Required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">New Password <span class="required">*</span></label>
            <input type="password" id="password" class="form-control" formControlName="password" [formGroup]="form"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; form.controls.password.errors }">
            <div *ngIf="submitted &amp;&amp; form.controls.password.errors" class="text-danger">
              <div *ngIf="form.controls.password.errors.required">New Password Field is Required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password <span class="required">*</span></label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
              [formGroup]="form"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; form.controls.confirmPassword.errors }">
            <div class="alert alert-danger" *ngIf="form.controls.confirmPassword.errors?.MatchPassword">Password not
              match</div>
          </div>
          <div *ngIf="submitted &amp;&amp; form.controls.password.errors" class="text-danger">
            <div *ngIf="form.controls.confirmPassword.errors.required">Confirm Password Field is Required</div>
          </div>
          <div class="form-group d-flex justify-content-center">
            <button [disabled]="loading" class="btn btn-primary">Update Password</button>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>