ul li {
    /* display: inline-block; */
    text-decoration: none;
}
.ul1 .l1{
    display: inline-block; 
}
.flex-right{
    display: block;
    float: right;
}

.searchBox {
    border-radius: 8px;
    margin-left: -490px;
    height: 32px;
}

.nav1 {
    background: #ED5D42;
    opacity: 1;
    height: 46px;
}

#Deadpool {
    width: 100%;
    margin-top: 7px;
    border: none;
    /* / border: solid 1px #ccc; / */
    border-radius: 5px;
}

*:focus {
    outline: none;
}


/* .fa-search {
    color: rgb(0, 0, 0);
    margin-left: 205px;
    margin-top: -27px;
} */

.profileImg {
    border-radius: 100%;
    margin-bottom: 10px;
    /* / margin-top: 7px; / */
    border: 2px solid rgb(248, 248, 248);
}

*:focus .txtar {
    outline: none;
}

::placeholder {
    color: rgb(156, 153, 153);
    opacity: 1;
    font-weight: 480;
    /* / Firefox / */
}

.imgPro {
    border: solid 2px #ccc;
    border-radius: 50%;
    width: 65px;
    height: 68px;
    cursor: pointer;
    /* margin-top: -10px; */
    padding: 0px;
    /* border-radius: 50%; */
    overflow: hidden;
    cursor: pointer;
}

.iconImg{
  width: 65px;
  height: 68px;
  border: solid 2px #ccc;
  object-fit: contain;
}

.navImg {
    cursor: pointer;
    position: absolute;
    left: 180px;
}

.navImg:hover {
    cursor: pointer;
    transform: scale(1.06);
}
.dropdown:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }


.ImgLogo {
    height: 55px;
    margin-top: 0px;
}
@media screen and (min-width: 1600px) {
   
    
    }


    .navbar {
        overflow: initial;
        background-color:#dedede;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 37px
      }
      
      .navbar .a1 {
        float: left;
        display: block;
        text-align: left;
        padding: 0px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      /* .navbar a:hover {
        background: rgb(240, 239, 239);
        color: #ED5D42;
      }
      
      .navbar a.active {
        background-color:rgb(240, 239, 239);
        color: #ED5D42;
      } */
      
        .row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }

/* Notification CSS  */

.notification{
    top: 50px;
    right: 0px;
    left: unset;
    width: 460px;
    box-shadow: 0px 5px 7px -1px #c1c1c1;
    padding-bottom: 0px;
    padding: 0px;
   
  }
  .notification:before{
    content: "";
    position: absolute;
    top: -20px;
    right: 12px;
    border:10px solid #343A40;
    border-color: transparent transparent #343A40 transparent;
  }
  .scroll-notification{
    height: 350px;
    overflow-y:auto;
    overflow-x: hidden;
  }
  .head{
    padding:5px 15px;
    border-radius: 3px 3px 0px 0px;
  }
  .footer{
    padding:5px 15px;
    border-radius: 0px 0px 3px 3px; 
  }
  .notification-box{
    padding: 10px 0px; 
  }
  .bg-gray{
    background-color: #eee;
  }
  @media (max-width: 640px) {
      .notification{
        top: 50px;
        left: -16px;  
        width: 290px;
      } 
      .message{
        font-size: 13px;
      }
  }