.btn-outline-danger:hover {
    background: #ED5D42;
}

.dropdown-toggle {
    background: #ED5D42;
    opacity: 1;
}

.dropdown-item {
    font-weight: bold;
    opacity: 0.9;
    cursor: pointer;
}

.edu {
    line-height: 13px;
    font-weight: 500;
}

.close {
    background: white;
    outline: 0;
    border: 1px solid blue;
}
.joinBtn{
    background: rgb(13, 119, 27);
    color: white;
    opacity: 0.8;
    height: 35px;
}

.interest {
    border-radius: 1px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.img-thumbnail {
    border: 2px solid rgb(170, 167, 167);
}

.signup-form {
    width: 293px;
    margin: 0 auto;
    padding: 30px 0;
}

.signup-form .lead {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
}

.signup-form form {
    border-radius: 1px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
}


/* .signup-form .form-group {
    margin-bottom: 20px;
} */

.signup-form label {
    font-weight: normal;
    font-size: 13px;
}

.signup-form .form-control {
    min-height: 38px;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
}

.signup-form .input-group-addon {
    max-width: 42px;
    text-align: center;
    background: none;
    border-width: 0 0 1px 0;
    padding-left: 5px;
}

.signup-form .btn {
    font-size: 16px;
    background: #ED5D42;
    border-radius: 6px;
    border: none;
    min-width: 83px;
    margin-left: 12px;
    outline: none !important;
}

.signup-form .btn:hover,
.signup-form .btn:focus {
    background: #000000;
}

.subTitle {
    background: none;
    color: black;
    opacity: 0.8;
    height: 35px;
    border: 1px groove rgb(61, 63, 235);
}

.subTitle:hover {
    background: rgb(255, 35, 35);
    color: white;
    opacity: 0.8;
    color: black;
    height: 35px;
    transform: scale(1.01);
    cursor: pointer;
}

h6 {
    font-weight: bold;
}

.groupInterest {
    background: white;
    border-radius: 12px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.bgColor {
    height: 100%;
    width: 100%;
    background: #F7F7F7;
}

.AreaItem {
    padding: -8px;
    position: absolute;
    right: 33px;
    bottom: 60px;
    /* padding-top: 16px;*/
}

.searchBox {
    border-radius: 8px;
    margin-left: -490px;
    height: 32px;
}

.HeadDiv {
    height: 100%;
    width: 100%;
    background: #F7F7F7;
}

.nav1 {
    background: #ED5D42;
    opacity: 1;
    height: 62px;
}

#Deadpool {
    width: 65%;
    margin-top: 7px;
    height: 34px;
    border: none;
    border-radius: 5px;
}

*:focus {
    outline: none;
}

.fa-search {
    color: rgb(0, 0, 0);
    margin-left: 205px;
    margin-top: -30px;
}

.profileImg {
    border-radius: 100%;
    border: 2px solid rgb(248, 248, 248);
}

#Deadpool {
    width: 65%;
    margin-top: 7px;
    border: none;
    border-radius: 5px;
}

.CardStyle {
    background: white;
    border-radius: 12px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .navImg {
        height: 53px;
        position: relative;
        left: 0;
        top: -45px;
    }
}

@media screen and (max-width: 1680px) {
    /* / insert styles here / */
    .form-inline {
        position: absolute;
        left: 400px;
    }
}

@media only screen and(max-device-width: 576px) {
    .carousel .thumb-content .btn {
        color: #000000;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
        background: none;
        border: 1px solid #f03b2a;
        padding: 6px 30px;
        margin-top: -14px;
        line-height: 16px;
        border-radius: 20px;
    }
}


/* / id="file" class=" inputfile"  / */

#inputFile {
    display: none;
}

.fa-users {
    font-size: 25px;
}

.fa-plus {
    font-size: 20px;
}

.imgBorder {
    border: 1px groove red;
}


/* / Carsoul code / */

h2 {
    color: #000;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 30px 0 60px;
}

h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 4px;
    border-radius: 1px;
    background: #7ac400;
    left: 0;
    right: 0;
    bottom: -20px;
}

.carousel {
    margin: -20px auto;
    padding: 0 40px;
}

.carousel .item {
    color: #747d89;
    min-height: 225px;
    text-align: center;
    overflow: hidden;
}

.carousel .thumb-wrapper {
    padding: 28px 4px;
    background: #fff;
    border-radius: 6px;
    text-align: center;
    position: relative;
    /* / box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); / */
}

.carousel .item .img-box {
    height: 120px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.carousel .item img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.carousel .item h4 {
    font-size: 18px;
}

.carousel .item h4,
.carousel .item p,
.carousel .item ul {
    margin-bottom: 5px;
}

.carousel .thumb-content .btn {
    color: #d31d1d;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #f03b2a;
    padding: 6px 43px;
    margin-top: -14px;
    line-height: 16px;
    border-radius: 20px;
}

.carousel .thumb-content .btn:hover,
.carousel .thumb-content .btn:focus {
    color: #fff;
    background: #f03b2a;
    box-shadow: none;
    border: 1px solid #000000;
}

.carousel .thumb-content .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.carousel .carousel-control {
    height: 44px;
    width: 40px;
    background: #ffffff;
    margin: auto 0;
    border-radius: 4px;
    opacity: 0.8;
}

.carousel .carousel-control:hover {
    background: #e0e0e0;
    opacity: 1;
}

.carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgb(7, 6, 6);
    text-shadow: none;
    font-weight: bold;
}

.carousel .item-price {
    font-size: 13px;
    padding: 2px 0;
}

.carousel .item-price strike {
    opacity: 0.7;
    margin-right: 5px;
}

.carousel .carousel-control.left i {
    margin-left: -2px;
}

.carousel .carousel-control.right i {
    margin-right: -4px;
}

.carousel .carousel-indicators {
    bottom: -50px;
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    border: none;
}

.carousel-indicators li {
    background: rgba(0, 0, 0, 0.2);
}

.carousel-indicators li.active {
    background: rgba(0, 0, 0, 0.6);
}

.carousel .wish-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    cursor: pointer;
    font-size: 16px;
    color: #abb0b8;
}

.carousel .wish-icon .fa-heart {
    color: #ff6161;
}

.star-rating li {
    padding: 0;
}

.star-rating i {
    font-size: 14px;
    color: #ffc000;
}

.col-sm-3 {
    padding: 5px;
}

.GroupName {
    color: rgb(5, 5, 5);
    font-size: 17px;
    padding: 6px;
    background: rgb(255, 255, 255);
    border: 1px solid red;
    margin-top: -11px;
    cursor: pointer;
}

.imgGroup {
    width: 114px;
    height: 114px;
}

.close {
    border: none;
}

.grpName {
    position: absolute;
    bottom: 78px;
    margin: 0 auto;
    font-weight: 0;
    color: rgb(0, 0, 0);
}

.grpName1 {
    position: absolute;
    bottom: 50px;
    margin: 0 auto;
    font-weight: 0;
    color: rgb(0, 0, 0);
    margin: 0 auto;
    left: 12px;
}

.seeAll {
    cursor: pointer;
}

.seeAllgroup {
    cursor: pointer;
}

.seeAllProfile {
    cursor: pointer;
}

/* nav bar */
.form-inline {
    /* right: 390px;  */
    margin-left: 14;
    position: absolute;
    left: 120px;
}

ul li {
    /* display: inline-block; */
    padding: 14px;
}

.searchBox {
    border-radius: 8px;
    margin-left: -490px;
    height: 32px;
}

.nav1 {
    background: #ED5D42;
    opacity: 1;
    height: 46px;
}

#Deadpool {
    width: 100%;
    margin-top: 7px;
    border: none;
    /* / border: solid 1px #ccc; / */
    border-radius: -50px;
}

*:focus {
    outline: none;
}


/* .fa-search {
    color: rgb(0, 0, 0);
    margin-left: 205px;
    margin-top: -27px;
} */

.profileImg {
    border-radius: 100%;
    margin-bottom: 10px;
    /* / margin-top: 7px; / */
    border: 2px solid rgb(248, 248, 248);
}

*:focus .txtar {
    outline: none;
}

::placeholder {
    color: rgb(156, 153, 153);
    opacity: 1;
    font-weight: 480;
    /* / Firefox / */
}

.imgPro {
    border-radius: 100%;
    /* / border: 2px solid red; / */
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-top: -10px;
    margin-left: 76px;
}

.navImg {
    cursor: pointer;
    position: absolute;
    left: 180px;
}

.navImg:hover {
    cursor: pointer;
    transform: scale(1.06);
}

.dropdown-menu {
    position: absolute;
    will-change: transform;
    top: -60px;
    left: -19px;
    z-index: -1;
    transform: translate3d(-11px, 90px, 0px);
}
 .form-inline
{
    margin-left: 750px;
} 
.ImgLogo {
    height: 63px;
    margin-top: -15px;
}
@media screen and (min-width: 1600px) {
    .form-inline
    {
        margin-left: 920px;
    }
    
    
    }