
<!-----------------Trending Start---------------------->
<div class="col-lg-11 CardStyle">
    <div class="my-3"></div>
    <h5 class="acumin">Trending</h5>
    <hr style="background: #fa0e0e; height: 2px; width: 100px; ">
    <div class="spinner-border" style="margin-left: 100px;" *ngIf="trendingLoader"></div>
        
    <div class="card CardStyle "
        *ngFor="let trendPostData of trendingPost | slice:0:1; let i =index">
        <img *ngIf="trendPostData.has_image != null " [src]=trendPostData.has_image
            class="img-fluid trendingImg" alt=""
            (click)="getPostDetailsById(trendPostData.id)" data-toggle="modal"
            data-target="#trendingPostModel">
        <img *ngIf="trendPostData.has_image == null  && trendPostData.has_video == null"
            src="assets/img/dummy.png" class="img-fluid" alt=""
            style="height: 230px; width: 500px; cursor: pointer;"
            (click)="getPostDetailsById(trendPostData.id)" data-toggle="modal"
            data-target="#trendingPostModel">

        <video autoplay [muted]="true" *ngIf="trendPostData.has_video"
            (click)="getPostDetailsById(trendPostData.id)" data-toggle="modal"
            data-target="#mediumViewModal" style="cursor: pointer;" class="trendMainVideo">
            <source [src]="trendPostData.has_video" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <!-- <div *ngIf="trendPostData.has_pdf">
                <a href="{{trendPostData.has_pdf}}" target="blank" downloadPDF>

                    <img src="assets/img/PDF-image.jpg" style="height: 230px; width: 500px;" class="img-fluid" alt="">
               </a>  
            </div> -->


        <div class="d-flex  align-items-center justify-content-around"
            style="background: #dedede; color: grey;  height: 40px;">
            <div class="card-subtitle">
                <span
                    [innerHTML]="(showMore) ? trendPostData.content : trendPostData.content | slice:0:10 | linkify"></span>
                <span *ngIf="trendPostData.content.length > trendingContent">...</span>
            </div>
            <i class="fa fa-heart-o " style="cursor: pointer;"
                (click)="likePost(trendPostData.id)">{{trendPostData.likes}}</i>

        </div>
    </div>
    <div class="my-2"></div>
    <div class="row">
        <div class="col-lg-4"
            *ngFor="let trendPostData of trendingPost | slice:1:4; let i =index">
            <div class="card CardStyle mb10">
                <img *ngIf="trendPostData.has_image != null" [src]=trendPostData.has_image
                    class="img-fluid trendingImgMini" alt="" (click)="getPostDetailsById(trendPostData.id)"
                    data-toggle="modal" data-target="#trendingPostModel"
                    >
                    <!-- style="height: 85px; width: 250px; cursor: pointer;" -->
                <img *ngIf="trendPostData.has_image == null && trendPostData.has_video == null"
                    src="assets/img/dummy.png" class="img-fluid" alt=""
                    style="height: 85px; width: 250px; cursor: pointer;"
                    (click)="getPostDetailsById(trendPostData.id)" data-toggle="modal"
                    data-target="#trendingPostModel">

                <video autoplay [muted]="true"
                    *ngIf="trendPostData.has_video"
                    (click)="getPostDetailsById(trendPostData.id)" data-toggle="modal"
                    data-target="#mediumViewModal" style="cursor: pointer;" class="trendingVideo">
                    <source [src]="trendPostData.has_video" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <!-- <div *ngIf="trendPostData.has_pdf">
                        <a href="{{trendPostData.has_pdf}}" target="blank" downloadPDF>

                            <img src="assets/img/PDF-image.jpg" style="height: 85px; width: 250px;" class="img-fluid" alt="">
                       </a>  
                    </div> -->
                <div class="d-flex justify-content-around align-items-center "
                    style="background: #dedede; color: grey;  height: 40px;">
                    <div class="card-subtitle ">
                        <span
                            [innerHTML]="(showMore) ? trendPostData.content : trendPostData.content | slice:0:10 | linkify"></span>
                        <span *ngIf="trendPostData.content.length > trendingContent">...</span>
                    </div>
                    <i class="fa fa-heart-o " style="cursor: pointer;"
                        (click)="likePost(trendPostData.id)">{{trendPostData.likes}}</i>
                </div>
            </div>
        </div>

    </div>
    <div class="my-4"></div>
</div>
<!-------------------------Trending end------------------>

<!----------------medium video player view-------------->

<!--Modal: modalYT-->
<div class="modal fade" id="mediumViewModal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

        <!--Content-->
        <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0" *ngFor="let video of postData">

                <video class="mediumVideo" id="videoId" autoplay controls>
                    <source [src]="video.has_video" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>


            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center flex-column flex-md-row">
                <span class="mr-4">Welcome to the world of 1418</span>
                <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal"
                    (click)="closeVideo()">Close</button>


            </div>

        </div>
        <!--/.Content-->

    </div>
</div>
<!--Modal: modalYT-->

<!----------------medium video player view End---------->

<!----------------------Trending Post Details------------------------->


<div class="modal fade" id="trendingPostModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg1 modal-lg modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalLongTitle">Welcome to Your World !! </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container" *ngFor="let post_content of postData">
                    <div class="row">
                        <div class="col-lg-7">
                            <!-- <img src="assets/img/avtar.png" class="img-fluid img-thumbnail" alt="" style="width:100%; height:400px"> -->
                            <img [src]=post_content.has_image class="img-fluid img-thumbnail" alt=""
                                style="width:100%; height:400px" *ngIf="post_content.has_image != null">
                            <img src="assets/img/avtarbg.jpg" class="img-fluid img-thumbnail" alt=""
                                style="width:100%; height:400px" *ngIf="post_content.has_image == null">
                        </div>
                        <div class="col-lg-5 pr-0 pl-0">
                            <div class="row  " style="background: rgb(240, 239, 239); ">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-2 mt-2">
                                    <img src="assets/img/avtarbg.jpg" class="img-fluid img4 align-items-center mb-2"
                                        alt="">
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-9 mt-2">
                                    <h5 class="">{{post_content.username}} </h5>
                                    <p class="text-danger">{{post_content.created_at | timeAgo}} </p>
                                </div>
                                <div class="col-lg-1 col-1 col-md-1 col-sm-1  mt-2 ">
                                    <!-- <i class="fa fa-ellipsis-v"></i> -->
                                </div>
                            </div>
                            <div class="LeftModalSide" style="height:400px">

                                <div class="row">
                                    <div class="col-lg-12"
                                        *ngIf="post_content.content != null && post_content.content != 0 && post_content.content != ''">
                                        <p class="text-justify CommentContent">
                                            <!-- {{post_content.content }}  -->
                                            <span
                                                [innerHTML]="(showMore) ? post_content.content : post_content.content | slice:0:200 | linkify"></span>
                                            <span *ngIf="post_content.content.length > showChar && !showMore">...</span>
                                            <a href="javascript:;"
                                                *ngIf="post_content.content.length > showChar && !showMore"
                                                (click)="showMore=true">Read More</a>
                                            <a href="javascript:;"
                                                *ngIf="post_content.content.length > showChar && showMore"
                                                (click)="showMore=false">Read Less</a>
                                        </p>
                                    </div>
                                    <div class="col-md-12 col-12 col-sm-12 col-md-12"
                                        *ngFor="let children of post_content.children">
                                        <div class="row p-0">
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-2 mt-1 ">
                                                <img src="assets/img/avtarbg.jpg"
                                                    class="img-fluid img1 align-items-center mt-0" alt="">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="my-1"></div>


                                                    <!-- <i class="fa fa-heart-o mr-2"  (click)="Like()" style="color: red;"   > {{count}}</i> -->
                                                </div>
                                            </div>

                                            <div class="col-lg-10 col-md-10 col-sm-10 col-10 ">
                                                <div class="  justify-content-center">
                                                    <div class="justify-content-between d-flex">
                                                        <h6>{{children.username}} </h6>
                                                        <p class="Ago1  p-1">{{children.created_at | timeAgo}} </p>

                                                    </div>

                                                    <div class="hasTag1 p-1">{{children.content}}</div>
                                                    <div class="row">
                                                        <!-- <div class="col-lg-6">
                                                            <div class="d-flex justify-content-between ">
                                                                <p data-target="#id1" data-toggle="collapse"
                                                                    class="text-dark pointer-event"
                                                                    style="cursor: pointer;"><strong>Reply</strong></p>
                                                                <p><i class="fa fa-heart text-danger">{{post_content.likes}}</i></p>
                                                                <div>
                                                                    <i class="fa fa-share">{{post_content.share_count}} </i>
                                                                </div>
                                                            </div>

                                                        </div> -->
                                                        <div class="col-lg-6"></div>
                                                        <div class="col-lg-12">
                                                            <form action="" class="collapse" id="id1">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control"
                                                                        placeholder="Write your Reply here">
                                                                    <input type="image" class="imgGallary"
                                                                        src="assets/img/picture.svg" height="20"
                                                                        width="20" />
                                                                    <!-- <input type="file" id="File1" style="display: none;" /> -->
                                                                </div>
                                                                <i (click)="show()" style="cursor: pointer; ">

                                                                    <emoji-mart (emojiClick)="handleSelection($event)"
                                                                        *ngIf="iFlag == true"> </emoji-mart>
                                                                    <img src="assets/img/happy.png" height="20"
                                                                        width="20" alt="" class="emojiEnlargePost">
                                                                </i>



                                                            </form>

                                                        </div>

                                                    </div>


                                                    <hr style="margin-left: -89px; margin-top: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>


                            <!-- comment,like,view -->

                            <div class="row">
                                <div class="col-lg-6 " style="margin-top: -16px;">
                                    <div class="my-4"></div>
                                    <div class="d-flex justify-content-around align-items-center">
                                        <i class="fa fa-heart-o" (click)="likePost(post_content.id)">
                                            {{post_content.likes}}</i>
                                        <i class="fa fa-comments"> {{post_content.children_count}}</i>
                                        <i class="fa fa-share"> {{post_content.share_count}} </i>
                                        <!-- <i class="fa fa-bookmark" style="color: rgb(241, 48, 90); "> </i> -->
                                    </div>
                                </div>
                                <div class="col-lg-6"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
