.CardStyle {
    background: white;
    border-radius: 12px;
}

.acumin {
    /* font-family: Acumin Pro; */
    font-weight: bold;
}
.trendingImg{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}
.trendingImgMini{
    max-width: 100%;
    height: 85px;
    object-fit: contain;
    cursor: pointer;
}

.trendingVideo{
    max-width: 100%;
    height: 85px;
}
.mediumVideo{
  width: 100%;
  height: auto; 
}

.sponsoredVideo{
    max-width: 100%;
    height: 220px;
}
.trendMainVideo{
  max-width: 100%;
  height: auto;
}

.postImg{
    /* max-width: 100%; */
    width: 75%;
    height: 500px;
    margin-left: 140px;
    margin-top: 30px;
    margin-bottom: 50px;
    object-fit: contain;
}

.modal-lg1 {
    max-width: 80% !important;
}

.LeftModalSide {
    height: auto;
    max-height: 293px;
    min-height: 120px;
    margin-left: -14px;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgb(251, 251, 251);
}

.img4 {
    border-radius: 50%;
    border: 3px solid #9AD3F4;
    width: 60px;
    object-fit: cover;
}

