<p style="margin-top: 150px;">firebase-chat works!</p>
<div class="mainContent">
    <div class="userListWrapper">
        <app-user-list></app-user-list>
    </div>
    <div #scroller class="feedWrapper">
        <app-feed></app-feed>
    </div>
</div>
<div class="chatFormWrapper">
    <app-chat-form></app-chat-form>
</div>
