@import "~bootstrap/dist/css/bootstrap.css";
@import '~ngx-toastr/toastr';
@import '~@ctrl/ngx-emoji-mart/picker';
@import "~angular-notifier/styles";
* {
    padding: 0px;
    margin: 0px;
}

/* * { 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */



input.ng-invalid.ng-dirty {
    border-bottom-color: red !important;
    box-shadow: red !important;
}



.emoji-mart-preview {
    position: relative;
    height: 70px;
    display: none !important;
}

.emoji-mart {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    font-size: 16px;
    display: inline-block;
    color: #222427;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background: rgb(221, 219, 219);
    height: 211px;
    width: 338px;
    position: absolute;
    bottom: -220px;
    right: -18px;
    z-index: 1;
}

.emoji-mart-scroll {
    overflow-y: scroll;
    height: 130px;
    padding: 0 6px 6px 6px;
    will-change: transform;
    z-index: -1;
}
.mt0{margin-top: 0px !important;}

@media (max-width:320px){
    .col-xs-5{
        width: 59% !important;
    }
    
}


@media (max-width:414px) and (min-width:360px){
    .col-xs-5{
        width: 58% !important;
    }
}
.right-menu{display: none;}

@media (max-width: 568px){
    .vertical-menu{background-color: #fff;
        right: 0px !important; 
        padding: 7px;
        border-radius: 5px;
        top: 55px !important;
    }
    .vertical-menu .menu-main p{
        font-size: 12px !important;
    }
    .vertical-menu .menu-main{
        margin-bottom: 6px !important;
    }
    .vertical-menu .menu{
        width: 50px;
        height: 50px;
    }

    .show {
        display: block;
        transition: all 0.4s;
     }
     
     .hide {
       display: none;
        transition: all 0.4s;
     }

    .right-menu{
        display: block;
        position: absolute;
        right: 0px;
    top: 6px;
    background-color: #fff;
    padding: 10px;}
    
    .mb10{margin-bottom: 10px;}
    .flex-d-c{
        flex-direction: column;
    }
.col-xs-2 {
    flex: 0 0 25%;
    max-width: 25%;
}
.d-xs-none{
    display: none;
}
.col-xs-5{
    width: 38%;
}
.dropdown .nav-link img{
    width: 40px;
}
.nav-link {
    padding: 5px 6px !important;
    margin-top: 0px !important;
}
.col-xs-1{
    width: 15%;
}
.imgPro {
    height: 27px !important;
}
.input-group-text{
    height: 37px;
}
.search-box input{
    width: 150px !important;
}
}
.required {
    color:red; 
    margin-left: 5px;
  }