<div class="HeadDiv">
    <div class="container">
        <div class="row" style="margin-top: 140px;">

        </div>
        <section id="tabs mt-1">

            <div class="container">
                <div class="row searchHeader" style="background: white; font-size: 20px; ">
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                                    role="tab" (click)="searchData()" aria-controls="nav-home" aria-selected="true">
                                    Posts</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                                    role="tab" (click)="searchPeople()" aria-controls="nav-profile"
                                    aria-selected="false">People</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                                    role="tab" (click)="searchGroup()" aria-controls="nav-contact"
                                    aria-selected="false">Groups</a>
                                <a class="nav-item nav-link" id="nav-address-tab" data-toggle="tab" href="#nav-address"
                                    role="tab" (click)="searchSpotlight()" aria-controls="nav-address"
                                    aria-selected="false">Spotlight</a>
                                <a class="nav-item nav-link" id="nav-mobile-tab" data-toggle="tab" href="#nav-mobile"
                                    role="tab" (click)="searchEvent()" aria-controls="nav-mobile"
                                    aria-selected="false">Events</a>

                            </div>
                        </nav>
                    </div>
                </div>
            </div>


            <!-- Main row -->
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                    style=" color: rgb(0, 0, 0); text-align: justify; padding: 15px;">
                    <div class="col-lg-7 offset-3">

                        <div class="my-3"></div>
                        <!-- End Comment box -->
                        <h3 class="text-center" style="color: grey;">Search Result</h3>
                        <div class="my-4"></div>
                        <div class="col-lg-12 text-center" *ngIf="searchpost == 0" style="background: white;">
                            <p class="text-center" style="color: grey;">
                                <b>No Post Available</b>
                            </p>
                        </div>
                        <div class="bgCol" *ngFor="let post of searchpost">
                            <div class="container" style="padding: 10px 26px 0 26px;">

                                <div class="row"
                                    style="background: rgb(251, 251, 251);-webkit-box-shadow: 0px 10px 13px -7px #000000, 4px 5px 15px 5px rgba(0,0,0,0); 
                                    box-shadow: 0px 10px 13px -7px #000000, 4px 5px 15px 5px rgba(0,0,0,0);padding: 0px 14px 14px 14px;">

                                    <div class="col-lg-6 pr-0 pl-0">
                                        <div class="row  " style="background: rgb(240, 239, 239); margin-right: -26px;">
                                            <div class="col-lg-3 col-3  col-md-3 col-sm-3 mt-2">
                                                <img src="assets/img/avtar.png"
                                                    class="img-fluid img3 align-items-center mb-2" alt="">
                                            </div>

                                            <div class="col-lg-9 col-md-9 col-sm-9 col-9 m-0 p-0">
                                                <div class=" d-flex justify-content-between">
                                                    <h5 class="p-2">{{post.username}} </h5>
                                                </div>
                                                <p class="hasTag">{{post.created_at}}</p>
                                            </div>
                                        </div>
                                        <div class="example">

                                            <div class="row">
                                                <!-- <div class="col-lg-12 col-12 col-sm-12 col-lg-12">
                                                    <p class="CommentContent">{{post.content}}</p>
                                                </div> -->
                                                <div class="col-lg-12"
                                                    *ngIf="post.content != null && post.content != 0 && post.content != ''">
                                                    <p class="CommentContent">
                                                        <!-- {{post_content.content }}  -->
                                                        <span
                                                            [innerHTML]="(showMore) ? post.content : post.content | slice:0:100 | linkify"></span>

                                                        <!-- {{(showMore) ? post_content.content : post_content.content | slice:0:100}} -->
                                                        <span
                                                            *ngIf="post.content.length > showChar && !showMore">...</span>
                                                        <a href="javascript:;"
                                                            *ngIf="post.content.length > showChar && !showMore"
                                                            (click)="showMore=true">Read More</a>
                                                        <a href="javascript:;"
                                                            *ngIf="post.content.length > showChar && showMore"
                                                            (click)="showMore=false">Read Less</a>
                                                    </p>
                                                </div>
                                                <div class="col-md-12 col-12 col-lg-12 col-sm-12"
                                                    *ngFor="let children of post.children">
                                                    <div class="row p-0">
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-2 mt-1 ">
                                                            <img src="assets/img/avtar.png"
                                                                class="img-fluid img1 align-items-center mt-0" alt="">
                                                            <div
                                                                class="d-flex justify-content-between align-items-center">
                                                                <div class="my-1"></div>


                                                                <!-- <i class="fa fa-heart-o mr-2"  (click)="Like()" style="color: red;"   > {{count}}</i> -->
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-10 col-md-10 col-10 col-sm-10 ">
                                                            <div class="  justify-content-center">
                                                                <div class="justify-content-between d-flex">
                                                                    <h6>{{children.username}} </h6>
                                                                    <p class="Ago1  p-1">
                                                                        {{children.created_at| timeAgo}} </p>

                                                                </div>

                                                                <p class="hasTag1 p-1">{{children.content}}</p>
                                                                <div class="col-lg-6 col-md-6 col-sm-6 "
                                                                    *ngIf="children.has_image;">

                                                                    <img [src]="children.has_image"
                                                                        class="img-fluid img5" alt="">

                                                                </div>
                                                                <hr style="margin-left: -59px">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                        <!-- comment,like,view -->

                                        <div class="row">


                                            <div class="col-lg-6 col-6 col-md-6 col-sm-6" style="margin-top: -16px;">
                                                <div class="my-4"></div>
                                                <div class="d-flex justify-content-around align-items-center">
                                                    <i class="fa fa-heart-o" (click)="likepost(post.id)">
                                                        {{post.likes}}</i>
                                                    <i class="fa fa-comments"> {{post.children_count}}</i>
                                                    <i class="fa fa-share"> {{post.share_count}} </i>
                                                    <!-- <i class="fa fa-bookmark" style="color: rgb(241, 48, 90); "> </i> -->
                                                </div>
                                            </div>
                                            <div class="col-lg-6"></div>


                                            <div class="col-lg-2 col-2 col-md-2 col-sm-2">
                                                <div class="my-3"></div>
                                                <img src="assets/img/avtar.png" class="img1" height="35" width="35"
                                                    alt="">
                                            </div>
                                            <div class="col-lg-10 col-10 col-md-10 col-sm-10">
                                                <div class="my-3">
                                                    <form action="" #f="ngForm"
                                                        (keyup.enter)="addComment(post.id,model.comment)">
                                                        <div class="row">
                                                            <div class="col-lg-11" style="margin-right: -12px;">
                                                                <div class="form-group">
                                                                    <!-- <input type="text" #parent_id="ngModel" [(ngModel)]="model.post_content.id" >-->
                                                                    <input type="text" name="comment" #comment="ngModel"
                                                                        [(ngModel)]="model.comment"
                                                                        class="form-control Commmenttext"
                                                                        placeholder="Write a Comment">

                                                                </div>
                                                            </div>
                                                            <div class="col-lg-1">
                                                                <div class="col-lg-1 d-flex justify-content-start mt-3"
                                                                    style="margin-left: -52px;">
                                                                    <img src="assets/img/picture.svg" alt="" width="15"
                                                                        height="15" (click)="triggerUpload(post.id)">
                                                                    <input type="file" id="comment_file{{post.id}}"
                                                                        (change)="createCommentImage($event.target.files )"
                                                                        style="display: none;" />
                                                                    <i (click)="show2(post.id)"
                                                                        style="cursor: pointer; ">
                                                                        <img src="assets/img/happy.png" height="20"
                                                                            width="20" alt=""
                                                                            style="margin-top: -15px; padding-left: 5px;"
                                                                            *ngIf="showCommentEmoji">
                                                                    </i>
                                                                    <i (click)="closeCommentEmoji()"
                                                                        style="cursor: pointer; ">
                                                                        <img src="assets/img/happy.png" height="20"
                                                                            width="20" alt=""
                                                                            style="margin-top: -15px; padding-left: 5px;"
                                                                            *ngIf="closeCommentEmojiFlag">
                                                                    </i>
                                                                    <span *ngIf="commentEmoji">
                                                                        <emoji-mart (emojiClick)="handleComment($event)"
                                                                            *ngIf="post.id == status_id">
                                                                        </emoji-mart>
                                                                    </span>
                                                                    <!-- <img src="assets/img/happy.png" class="ml-1" width="15"
                                                                        height="15" alt=""> -->
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </form>


                                                </div>
                                            </div>
                                        </div>

                                        <!-- endcomment,like,view -->

                                        <div class="shadow" *ngIf="imgURL!='' && div_id == post.id">
                                            <img [src]="imgURL" style="width: 100px; height: 100px;" />
                                            <button type="button" (click)="close_img()" class="close"
                                                aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 " *ngIf="post.has_image;" data-toggle="modal"
                                        data-target="#exampleModalCenter1">

                                        <img [src]="post.has_image" class="img-fluid img2" alt="">

                                    </div>


                                    <div class="col-lg-6 col-md-5 col-sm-5" *ngIf="post.has_video;" data-toggle="modal"
                                        data-target="#exampleModalCenter1">
                                        <video width="271" height="240" controls
                                            style="margin-left: 12px; margin-top: 6px;">
                                            <source [src]="post.has_video" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>


                                    </div>


                                    <div class="col-lg-6 col-md-5 col-sm-5" *ngIf="!post.has_image && !post.has_video">
                                        <img src="assets/img/avtarbg.jpg" class="img-fluid img2" alt="">
                                    </div>


                                </div>

                            </div>
      <!-------------------------------Share Post Start--------------------->


      <!-- <div class="container" style="padding: 10px 26px 0 26px;" *ngIf="post.sharepost != 0">

        <div class="row" style="background: rgb(251, 251, 251);-webkit-box-shadow: 0px 10px 13px -7px #000000, 4px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 4px 5px 15px 5px rgba(0,0,0,0);padding: 0px 14px 14px 14px;"
            *ngFor="let share_content of post.sharepost">

            <div class="col-lg-6 pr-0 pl-0">
                <div class="row  " style="background: rgb(240, 239, 239); margin-right: -26px;">
                    <div class="col-lg-3 col-md-10 col-sm-10 mt-2">
                        <img src="assets/img/avtar.png"
                            class="img-fluid img3 align-items-center mb-2" alt="">
                    </div>
                    <div class="col-lg-9 col-md-5 col-sm-5 m-0 p-0">
                        <div class=" d-flex justify-content-between"
                            *ngIf="post.user.name != null">
                            <h5 class="p-2">{{post.user.name}} </h5>
                        </div>
                        <p class="hasTag">{{post.created_at | date:'medium'}}</p>
                    </div>

                </div>


                <div class="example">
                    <div class="row" style="background: rgb(240, 239, 239);">
                        <div class="col-lg-9 col-md-5 col-sm-5">
                            <div class=" d-flex justify-content-between"
                                *ngIf="share_content.username != null">
                                <h5 class="p-2">{{share_content.username}} </h5>
                            </div>
                            <p class="hasTag">{{share_content.created_at | date:'medium'}}</p>
                        </div>
                    </div>


                    <div class="row">
                        
                        <div class="col-lg-12" *ngIf="share_content.content != null && share_content.content != 0 && share_content.content != ''">
                            <p class="CommentContent">
                               
                                <span [innerHTML]="(showMore) ? share_content.content : share_content.content | slice:0:200 | linkify"></span>
                                <span
                                    *ngIf="share_content.content.length > showChar && !showMore">...</span>
                                <a href="javascript:;"
                                    *ngIf="share_content.content.length > showChar && !showMore"
                                    (click)="showMore=true">Read More</a>
                                <a href="javascript:;"
                                    *ngIf="share_content.content.length > showChar && showMore"
                                    (click)="showMore=false">Read Less</a>
                            </p>
                        </div>
                        <div class="col-md-12" *ngFor="let children of post_content.children">
                            <div class="row p-0">
                                <div class="col-lg-2 col-md-10 col-sm-10 mt-1 ">
                                    <img src="assets/img/avtar.png"
                                        class="img-fluid img1 align-items-center mt-0" alt="">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="my-1"></div>
                                    </div>
                                </div>


                                <div class="col-lg-10 col-md-5 col-sm-5 ">
                                    <div class="  justify-content-center">
                                        <div class="justify-content-between d-flex">
                                            <h6>{{children.username}} </h6>
                                            <p class="Ago1  p-1">{{children.created_at| timeAgo}}
                                            </p>

                                        </div>

                                        <p class="hasTag1 p-1">{{children.content}}</p>
                                        <div class="col-lg-6 col-md-6 col-sm-6 "
                                            *ngIf="children.has_image;">

                                            <img [src]="children.has_image" class="img-fluid img5"
                                                alt="">

                                        </div>
                                        <hr style="margin-left: -59px">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">


                    <div class="col-lg-6 " style="margin-top: -16px;">
                        <div class="my-4"></div>
                        <div class="d-flex justify-content-around align-items-center">
                            <i class="fa fa-heart-o" (click)="likePost(post_content.id)">
                                {{post_content.likes}}</i>
                            <i class="fa fa-comments"> {{post_content.children_count}}</i>
                            <i class="fa fa-share" (click)="sharePost(share_content.id)">
                                {{post_content.share_count}} </i>
                           
                        </div>
                    </div>
                    <div class="col-lg-6"></div>


                    <div class="col-lg-2">
                        <div class="my-3"></div>
                        <img src="assets/img/avtar.png" class="img1" height="35" width="35" alt="">
                    </div>
                    <div class="col-lg-10">
                        <div class="my-3">
                            <form action="" #f="ngForm"
                                (keyup.enter)="addComment(post_content.id,model.comment)">
                                <div class="row">
                                    <div class="col-lg-11" style="margin-right: -12px;">
                                        <div class="form-group">
                                           
                                            <input type="text" name="comment" #comment="ngModel"
                                            [(ngModel)]="model.comment"
                                                class="form-control Commmenttext"
                                                placeholder="Write a Comment">

                                        </div>

                                    </div>

                                    <div class="col-lg-1">
                                        <div class="col-lg-1 d-flex justify-content-start mt-3"
                                            style="margin-left: -52px;">
                                            <img src="assets/img/picture.svg" alt="" width="15"
                                                height="15"
                                                (click)="triggerUpload(post_content.id)">
                                            <input type="file" id="comment_file{{post_content.id}}"
                                                (change)="createCommentImage($event.target.files )"
                                                style="display: none;" />
                                                <i (click)="show2(post_content.id)"
                                                style="cursor: pointer; ">
                                                <img src="assets/img/happy.png" height="20"
                                                    width="20" alt=""
                                                    style="margin-top: -15px; padding-left: 5px;" *ngIf="showCommentEmoji">
                                            </i>
                                            <i (click)="closeCommentEmoji()"
                                                style="cursor: pointer; ">
                                                <img src="assets/img/happy.png" height="20"
                                                    width="20" alt=""
                                                    style="margin-top: -15px; padding-left: 5px;" *ngIf="closeCommentEmojiFlag">
                                            </i>
                                            <span *ngIf="commentEmoji">
                                               <emoji-mart (emojiClick)="handleComment($event)"
                                               *ngIf="post_content.id == status_id">
                                           </emoji-mart>
                                            </span>
                                           
                                        </div>
                                    </div>
                                </div>


                            </form>


                        </div>
                    </div>
                </div>

                
                <div class="shadow" *ngIf="imgURL!='' && div_id == post_content.id">
                    <img [src]="imgURL" style="width: 100px; height: 100px;" />
                    <button type="button" (click)="close_img()" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 " *ngIf="share_content.has_image != null;"
                (click)="getPostDetailsById(post_content.id)" data-toggle="modal"
                data-target="#exampleModalCenter1" style="cursor: pointer;">

                <img [src]=share_content.has_image class="img-fluid img2" alt="">

            </div>
            

            <div class="col-lg-6 col-md-5 col-sm-5" *ngIf="share_content.has_video;">
                <video width="271" height="240" controls style="margin-left: 12px;">
                    <source [src]="share_content.has_video" type="video/mp4">
                    Your browser does not support the video tag.
                </video>


            </div>


            <div class="col-lg-6 col-md-5 col-sm-5"
                *ngIf="!share_content.has_image && !share_content.has_video">
                <img src="assets/img/avtarbg.jpg" class="img-fluid img2" alt="">
            </div>


        </div>

    </div> -->





      <!--------------------------------Share Post End---------------------->                      
                            <div class="dropdown" style="margin-left:-50px">
                                <button type="button" class="dropdown-toggle1" data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-v"></i>

                                </button>

                                <div class="dropdown-menu" *ngIf="post.user_id != this.socialusers.id">

                                    <a class="dropdown-item text-danger" style="cursor: pointer;"
                                        (click)="ReportPost(post.id,post.user_id)"><i class="fa fa-file-text-o"
                                            style="font-size:20px"></i> Report</a>

                                </div>
                                <div class="dropdown-menu" *ngIf="post.user_id == this.socialusers.id">

                                    <a class="dropdown-item text-danger" style="cursor: pointer;"
                                        (click)="deletePost(post.id)">
                                        <i class="fa fa-trash-o" style="font-size:20px"></i> Delete</a>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                    style=" text-align: justify; padding: 15px;">
                    <div class="container">

                        <h3 class="text-center" style="color: grey;">Search Result</h3>
                        <div class="row p-3" style="background: white;">


                            <div class="col-lg-12 text-center" *ngIf="peoplesearch == 0">
                                <p class="text-center" style="color: grey;">
                                    <b>User Not Available</b>
                                </p>
                            </div>


                            <div class="col-lg-6 pr-4 pl-4" *ngFor="let people of peoplesearch">


                                <div class="row border p-1 ">

                                    <div class="col-lg-4" *ngIf="people.photo_url == null">
                                        <img src="assets/img/avtar.png" style="height:85px;width:85px"
                                            class="img-fluid " alt="">
                                    </div>
                                    <div class="col-lg-4" *ngIf="people.photo_url">
                                        <img [src]="people.photo_url" style="height:85px;width:85px" class="img-fluid "
                                            alt="">
                                    </div>
                                    <div class="col-lg-5  pt-4">
                                        <h5 style="margin-left: -60px;margin-top: 8px; cursor: pointer;"
                                            [routerLink]="['/navigation/userProfile', people.id]" *ngIf="socialusers.id != people.id">{{people.name}} </h5>
                                     <h5 style="margin-left: -60px;margin-top: 8px; cursor: pointer;"
                                            [routerLink]="['/navigation/profile', people.id]" *ngIf="socialusers.id == people.id">{{people.name}} </h5>    

                                    </div>
                                    <div class="col-lg-3 d-flex align-items-center ">
                                        <button class="btn btn-sm btn-danger pull-right"
                                            style="margin-top: 8px;" *ngIf="friendsid != people.id && requestid != people.id && socialusers.id != people.id"
                                            (click)="addPeopleFriends(people.id)">
                                            <i class="fa fa-user-plus">Add Friend</i></button>

                                        <button class="btn btn-sm btn-primary pull-right"
                                            style="margin-top: 8px;" *ngIf="friendsid == people.id">
                                            <i class="fa fa-user">Friend</i></button>   
                                        
                                        <button class="btn btn-sm btn-danger"
                                            style="margin-top: 8px; margin-right: 100px;" *ngIf="requestid == people.id"
                                            (click)="cancelSentRequest(people.id)">Cancel Request</button>
                                            
                                        <button class="btn btn-sm btn-danger"
                                            style="margin-top: 8px; margin-right: 100px;" *ngIf="socialusers.id == people.id"
                                            >...</button>                                            

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"
                    style=" color: rgb(0, 0, 0); text-align: justify; padding: 15px;">


                    <div class="container">
                        <h3 class="text-center" style="color: grey;">Search Result</h3>
                        <div class="row" style="background: white;">
                            <div class="col-lg-12 text-center" *ngIf="groupsearch == 0">
                                <p class="text-center" style="color: grey;">
                                    <b>No Groups Available</b>
                                </p>
                            </div>

                            <div class="col-lg-6 pr-4 pl-4" *ngFor="let group of groupsearch">
                                <div class="row border p-1 ">

                                    <div class="col-lg-4" *ngIf="group.groupimage == null">
                                        <img src="assets/img/avtar.png" style="height:84px" class="img-fluid " alt="">
                                    </div>
                                    <div class="col-lg-4" *ngIf="group.groupimage">
                                        <img [src]="group.groupimage" style="height:84px" class="img-fluid " alt="">
                                    </div>
                                    <div class="col-lg-5  pt-4">
                                        <h5 style="margin-left: -45px;margin-top: -10px; cursor: pointer;"
                                            [routerLink]="['/navigation/groupdesk/',group.id]" *ngIf="group.joinstatus == 1">{{group.groupname}} </h5>
                                        <h5 style="margin-left: -45px;margin-top: -10px; cursor: pointer;"
                                             *ngIf="group.joinstatus == 0">{{group.groupname}} </h5>               

                                    </div>
                                    <div class="col-lg-3 d-flex align-items-center ">
                                        <button class="btn btn-sm btn-primary pull-right"
                                            style="margin-top: -20px;"(click)="joinGroup(group.id)" *ngIf="group.joinstatus == 0">Join Group</button>
                                        <button class="btn btn-sm btn-primary pull-right"
                                            style="margin-top: -20px;" *ngIf="group.joinstatus == 1">Joined</button>     

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="nav-address" role="tabpanel" aria-labelledby="nav-address-tab"
                    style=" color: rgb(0, 0, 0); text-align: justify; padding: 15px;">

                    <div class="container">
                        <h3 class="text-center" style="color: grey;">Search Result</h3>
                        <div class="row" style="background: white;">

                            <div class="col-lg-12 text-center" *ngIf="spotlightsearch == 0">
                                <p class="text-center" style="color: grey;">
                                    <b>No Spotlight Available</b>
                                </p>
                            </div>
                            <div class="col-lg-6 pr-4 pl-4" *ngFor="let spot of spotlightsearch">
                                <div class="row border p-1 ">

                                    <div class="col-lg-4" *ngIf="spot.has_image == null">
                                        <img src="assets/img/avtar.png" style="height:84px" class="img-fluid " alt="">
                                    </div>
                                    <div class="col-lg-4" *ngIf="spot.has_image">
                                        <img [src]="spot.has_image" style="height:84px" class="img-fluid " alt="">
                                    </div>
                                    <div class="col-lg-5  pt-4">
                                        <p style="margin-left: -35px;margin-top: -10px; cursor: pointer;"
                                            [routerLink]="['/navigation/spotlight-dashboard/',spot.id]">
                                            {{spot.description}} </p>

                                    </div>
                                    <!-- <div class="col-lg-3 d-flex align-items-center ">
                                    <button class="btn btn-sm btn-primary pull-right"style="margin-top: -20px;" >Join </button>
                                   
                                </div> -->
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="nav-mobile" role="tabpanel" aria-labelledby="nav-mobile-tab"
                    style=" color: rgb(0, 0, 0); text-align: justify; padding: 15px;">
                    <div class="container">
                        <h3 class="text-center" style="color: grey;">Search Result</h3>
                        <div class="row" style="background: white;">

                            <div class="col-lg-12 text-center" *ngIf="eventsearch == 0">
                                <p class="text-center" style="color: grey;">
                                    <b>No Event Available</b>
                                </p>
                            </div>

                            <div class="col-lg-6 pr-4 pl-4" *ngFor="let event of eventsearch ">
                                <div class="row border p-1 ">

                                    <div class="col-lg-4" *ngIf="event.has_image == null">
                                        <img src="assets/img/avtar.png" style="height:84px;width:84px"
                                            class="img-fluid " alt="">
                                    </div>
                                    <div class="col-lg-4" *ngIf="event.has_image">
                                        <img [src]="event.has_image" style="height:84px;width:84px" class="img-fluid "
                                            alt="">
                                    </div>
                                    <div class="col-lg-5  pt-4">
                                        <p style="margin-left: -45px;margin-top: -10px; cursor: pointer;">
                                            {{event.event_name}} </p>

                                    </div>
                                    <div class="col-lg-3 d-flex align-items-center ">
                                        <button class="btn btn-sm btn-primary pull-right"
                                            style="margin-top: -20px;">Join </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 
<div class="container">
    <div class="row">
        <div class="col-lg-3" *ngFor="let event of eventsearch ">
            <img src="assets/img/avtar.png" class="img-fluid  img-thumbnail"
                style="height: 100px;width: 150px; " alt=""
                *ngIf="event.has_image == null">
            <img [src]=event.has_image
                class="img-fluid  img-thumbnail"
                style="height: 100px;width: 150px; " alt=""
                *ngIf="event.has_image != null">
            <h5 style="margin-left: -85px; 
            margin-top: -78px;">{{event.event_name}}</h5>
        </div> 
        
    </div>
</div> -->


                </div>

            </div>


        </section>