    /* * {
    background: #F7F7F7;
} */
    
.textAreaSetting {
    border: none;
    background: #e6e6e6f6;
}

.Commmenttext {
    width: 245px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    background: rgb(233, 230, 230);
    z-index: 1;
}

.justify-content-end {
    position: relative;
    top: -48px;
    left: -11px;
}

.example {
    height: 217px;
    width: 333px;
    margin-left: -14px;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgb(251, 251, 251);
}

.dropdown-toggle1 {
    top: -407px;
    position: relative;
    right: -635px;
    color: rgb(240, 94, 94);
    border: none;
    font-size: 20px;
    background: white;
}

.AreaItem {
    padding: -8px;
    position: absolute;
    right: 33px;
    bottom: 60px;
    /* padding-top: 16px;*/
}

.searchBox {
    border-radius: 8px;
    margin-left: -490px;
    height: 32px;
}

.HeadDiv {
    height: 100%;
    width: 100%;
    background: #F7F7F7;
}

.nav1 {
    background: #ED5D42;
    opacity: 1;
    height: 62px;
}

#Deadpool {
    width: 65%;
    margin-top: 7px;
    border: none;
    /* border: solid 1px #ccc; */
    border-radius: 5px;
}

*:focus {
    outline: none;
}

.fa-search {
    color: rgb(0, 0, 0);
    margin-left: 205px;
    margin-top: -27px;
}

.profileImg {
    border-radius: 100%;
    border: 2px solid rgb(248, 248, 248);
}

.jumbotron1 {
    background: rgba(237, 93, 66, 1) 0% 0% no-repeat padding-box;
    border-radius: 23px;
    width: 625px;
    height: 95px;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 0.51;
}

.jumbotron1 button.btn45 {
    background-color: #00008b !important;
    opacity: none !important;
    box-shadow: none;
}

#btn_post {
    background: rgba(237, 93, 66, 1) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 0.51;
}

#update_btn {
    position: absolute;
    z-index: 9999;
    opacity: 1;
    background-color: #2D5E7E;
    bottom: 10px;
}

.Profiletext {
    color: white;
    text-align: left;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    width: 376px;
    height: 48px;
    margin-top: -17px;
    margin-left: 25px;
}

.pull-right1 {
    margin-left: 575px;
    color: white;
}

.pull-right1:hover {
    margin-left: 575px;
    color: black;
    border: none;
    transition: 0.5s;
}

.proBtn {
    background: rgb(3, 28, 46);
    color: white;
    width: 20%;
    padding: 4px;
    /* height: auto; */
    margin-left: 25px;
    margin-top: -23px;
    border-radius: 5px;
    border: none;
}
/* Progress bar code */

.progress {
    width: 80px;
    height: 80px;
    line-height: 100px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
    margin-top: 20px;
}

.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
    /* z-index: -1; */
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 4px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}

.progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: -35%;
    left: 5%;
}

.progress .progress-value1 {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: -18%;
    left: 5%;
}

.progress.blue .progress-bar {
    border-color: #0DBE1A;
}

.progress.blue .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.8s;
}

.progress.yellow .progress-bar {
    border-color: #fdba04;
}

.progress.yellow .progress-left .progress-bar {
    animation: loading-3 1s linear forwards 1.8s;
}

.progress.pink .progress-bar {
    border-color: #ed687c;
}

.progress.pink .progress-left .progress-bar {
    animation: loading-4 0.4s linear forwards 1.8s;
}

.progress.green .progress-bar {
    border-color: #1abc9c;
}

.progress.green .progress-left .progress-bar {
    animation: loading-5 1.2s linear forwards 1.8s;
}

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}

@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}

@keyframes loading-5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}

@media only screen and (max-width: 990px) {
    .progress {
        margin-bottom: 20px;
    }
}

.btnClose {
    z-index: -1;
    position: relative;
}

.txtArea {
    /* border: 6px solid rgb(255, 255, 255); */
    height: 110px;
    width: 630px;
    border: none;
    background: #e6e6e6f6;
    font-weight: 400;
    padding: 8px;
    border-radius: 12px;
    color: rgba(0, 0, 0, 0.769);
}

*:focus .txtar {
    outline: none;
}

 ::placeholder {
    color: rgb(156, 153, 153);
    opacity: 1;
    font-weight: 480;
    /* Firefox */
}

textarea {
    resize: none;
}

.Content {
    background: #FFFFFF;
    border-radius: 23px;
    opacity: 1;
}

.detail {
    background: red;
    margin-top: 10px;
}

.UserDeatail {
    box-shadow: 0px 3px 6px #00000029;
}

.UserBg {
    background: white;
    border-radius: 18px;
}

.userName {
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
    color: #000000;
    font-weight: bold;
    opacity: 1;
}

.userImg {
    border-radius: 50%;
    border: 3px solid white;
    margin-top: 2px;
}

.textTest {
    font-size: 14px;
    color: #000000;
    opacity: 1;
}

.userData {
    background: white;
    border-radius: 10px;
    text-align: justify;
}

.img1 {
    border-radius: 50%;
    border: 3px solid #9AD3F4;
    margin-left: 12px;
}

.img3 {
    border-radius: 50%;
    border: 3px solid #9AD3F4;
}

.flexPro {
    display: flex;
    justify-content: space-between;
}

.name {
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    color: #000000;
    font-weight: bold;
    opacity: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Ago {
    letter-spacing: 0;
    color: rgb(136, 130, 130);
    opacity: 0.87;
}

.hasTag {
    color: #ED5D42;
    font-size: 14px;
    word-spacing: 0;
    font-weight: 500;
    margin-top: -10px;
}

.UserMainDiv {
    min-width: 30px;
    background: white;
}

.CardStyle {
    background: white;
    border-radius: 12px;
}

.CardStyle {
    background: rgb(255, 255, 255);
    /* box-shadow: -2px 10px 22px -16px rgba(0, 0, 0, .75); */
}

.ChatIcon {
    position: fixed;
    bottom: 5px;
    right: 5px;
    margin: 0;
    padding: 5px 3px;
}

@font-face {
    font-family: Acumin Pro;
    src: url(/assets/fonts/Acumin-BdItPro.woff) format("truetype");
}

.acumin {
    /* font-family: Acumin Pro; */
    font-weight: bold;
}

.bgCol {
    background: white;
    border-radius: 10px 10px 0 0;
    padding: 5px;
}

.CommentContent {
    color: black;
    letter-spacing: 0;
    font-size: 14px;
    text-align: justify;
    padding: 4px;
}

.Ago1 {
    letter-spacing: 0;
    color: #5d5c5c;
    opacity: 0.5;
    font-size: 9px;
    font-weight: bold;
}

.hasTag1 {
    color: black;
    opacity: 0.89;
    font-weight: 490;
    letter-spacing: 0;
    font-size: 11px;
    margin-top: -18px;
}
/* .fa-cog {
top: 0;
left: 600px;
color: #ED5D42;
}

.fa-cog1 {
top: -70px;
left: 595px;
color: #ED5D42; 
}
*/
/* width */

 ::-webkit-scrollbar {
    width: 2px;
}
/* Track */

 ::-webkit-scrollbar-track {
    border-radius: 2px;
}
/* Handle */

 ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    color: red;
}
/* Handle on hover */

.txtAreaComment {
    border: 6px solid rgb(255, 255, 255);
    height: 40px;
    width: 100%;
    background: #F7F7F7;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.769);
    border-radius: 20px;
    opacity: 0.06px;
}

.Ago2 {
    margin-top: 20px;
    margin-left: 10px;
    color: rgb(199, 195, 195);
    font-weight: bold;
}

.fa-comments {
    color: rgb(122, 122, 122);
}

.fa-comments:hover {
    color: rgb(122, 122, 122);
    cursor: pointer;
}

.fa-share {
    color: rgb(122, 122, 122);
}

.fa-share:hover {
    color: rgb(122, 122, 122);
    cursor: pointer;
}

.fa-heart-o {
    color: rgb(241, 13, 13);
}

.fa-heart:hover {
    color: rgb(144, 139, 139);
    cursor: pointer;
}

.img2 {
    border: 2px solid #9AD3F4;
    height: 374px;
    /* min-height: 300px;
    max-height: 374px; */
    border-bottom-left-radius: 40px;
    margin-left: 11px;
}

.fixed-top-2 {
    margin-top: 56px;
}
/* body {
    padding-top: 105px;
} */

.navbar-fixed-top {
    min-height: 80px;
}

.Abd {
    float: right
}

.Abd li {
    float: left;
    margin-right: 10px;
    padding: 10px;
}

.Abd ::after {
    content: '';
    display: block;
    clear: both;
}

.imagesPro {
    border-radius: 50%;
    border: 2px solid red;
}

.fa-search {
    margin-left: -39px;
    margin-top: -2px;
    font-size: 17px;
}

.Hell {
    height: 30px;
    width: 100%;
    background: lightblue;
    /* position: fixed; */
    z-index: 99;
    margin-top: -50px;
    position: fixed;
}

.emoji-mart-preview {
    position: relative;
    height: 70px;
    display: none;
}

ul li {
    display: inline-block;
    padding: 14px;

}
.searchHeader{
    width: 100%;
}