.welcome {
    color: #ED5D42;
    font-weight: bold;
}

.btnLogin {
    background: #2D5E7E;
    color: white;
    border-radius: 6px;
    width: 120px;
    height: 38px;
    margin-left: 12px;
}

.btnLogin1 {
    margin-left: 170px;
}

.logBtn {
    background: #ED5D42;
    color: white;
    font-weight: bold;
}

.field-icon {
    float: right;
    margin-right: 46px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

.container {
    padding-top: 50px;
    margin: auto;
}

.code {
    color: #ED5D42;
    font-size: 15px;
    font-weight: bold;
}

.btnCode {
    color: #ED5D42;
    font-size: 14px;
    font-weight: bold;
}

.btnCode1 {
    color: white;
    font-size: 14px;
    font-weight: bold;
    background: #ED5D42;
}

.btnCode:hover {
    text-decoration: none;
}

.forgetPass {
    color: #ED5D42;
    font-weight: bold;
}

.modalLabel {
    color: black;
    font-weight: bold;
}

@media screen and (min-width: 1200px) {
    .botImg {
        margin-top: 70px;
    }
}

@media screen and (min-width: 1100px) {
    .botImg {
        margin-top: 109px;
    }
}

@media screen and (min-width: 1000px) {
    .botImg {
        margin-top: 69px;
    }
}

@media screen and (min-width: 900px) {
    .botImg {
        margin-top: 69px;
    }
}

@media screen and (min-width: 1600px) {
    .container {
        width: 1570px;
    }
}

@media screen and (min-width: 1900px) {
    .container {
        width: 1870px;
    }
}

.container-fluid {
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;
    /* overflow-y: hidden;
overflow-x: hidden; */
}

.card {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapper {
    position: relative;
    overflow: hidden;
    width: 50px;
    border-radius: 20%;
    height: 50px;
}

#slide {
    position: absolute;
    left: 3px;
    width: 30px;
    height: 30px;
    background: blue;
    transition: 0.7s;
}

/* .wrapper:hover #slide {
    transition: .7s;
    left: 2px;
    cursor: pointer;
} */

