/* .navbar-expand-lg {
    background: #ED5D42;
    opacity: 1;
} */
.container-fluid
{
  padding-right: 0px;
padding-left: 0px;
position: fixed;
}

.topnav {
    overflow: hidden;
    background-color: #dedede;
    height: 60px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(245, 105, 105);
    color: black;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  .topnav .login-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    
    width:120px;
  }
  
  /* .topnav .login-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: #555;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
  } */
  
  .topnav .login-container button:hover {
    background-color: green;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .login-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .login-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }
  

.btn-out {
    background: #2D5E7E;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    width: 83px;
    height: 35px;
    text-align: center;
}


.btn-out {
    background: #2D5E7E;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    width: 83px;
    height: 35px;
    text-align: center;
}

.wel {
    color: #ED5D42;
    opacity: 1;
    font-weight: bold;
    font-size: 28px;
}

.lets {
    opacity: 1;
    font-weight: bold;
    font-size: 25px;
}

.imgEffect:hover {
    transform: scale(1.2);
    opacity: 1.3;
}

video {
  width: 100%;
  height: auto;
}