<!-- <nav class="navbar navbar-expand-lg  ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarTogglerDemo01">


        <form class="form-inline my-2 my-lg-0 " style="margin-left: 800px;" name="form" (ngSubmit)="login()" #f="ngForm">
            <input class="form-control mr-sm-2 " type="search" aria-label="Search" 
            placeholder="UserName/Email" name="email" [(ngModel)]="model.email" #email="ngModel">
            <div>

                <input type="password" class="form-control mr-sm-2 " placeholder="Password" aria-label="Search"
                name="password" [(ngModel)]="model.password" #password="ngModel" required>

            </div>
            <button class="btn btn-out my-2 my-sm-0 float-right" type="submit">Log in</button>


        </form>
    </div>
</nav> -->

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>


<div class="topnav">

    <div class="login-container">
        <form class="form-inline mt-2" (ngSubmit)="login()" #f="ngForm">
            <div class="form-group mr-2">
                <input type="email" class="form-control" placeholder="Email/Mobile" id="email"
                    placeholder="UserName/Email" name="email" [(ngModel)]="model.email" #email="ngModel">
            </div>
            <div class="form-group mr-2">
                <input type="password" class="form-control" placeholder="Password" id="password" name="password"
                    [(ngModel)]="model.password" #password="ngModel" required>
            </div>

            <button type="submit" class="btn btn-primary mr-3 ">Submit</button>
        </form>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <img src="assets/img/doodle (2).png" alt="" class="img-fluid img2">
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 ">
                    <img src="assets/img/logoRegister (2).png" alt="" class="img-fluid d-block mx-auto">
                    <p class="text-center wel">WELCOME TO YOUR WORLD</p>
                    <P class="text-center lets mt-0" style="color: #434343;">Lets start with choosing your avtar</P>
                </div>
                <div class="col-lg-3"></div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <h3 class="text-center" style="color: #434343; font-weight: bold;">Female</h3>
                </div>
                <div class="col-lg-6">

                </div>
                <div class="col-lg-3">
                    <h3 class="text-center" style="color: #434343;font-weight: bold;">Male</h3>
                </div>
            </div>
            <div class="my-3"></div>
            <div class="row">
                <div class="col-lg-1" *ngFor="let femaleAvtar of avtarList.female">
                    <!-- <img src="assets/img/Group 5536.png" alt="" class="img-fluid imgEffect"> -->
                    <img src="{{femaleAvtar.image_url}}" alt="" class="img-fluid imgEffect"
                     [routerLink]="['/registration', femaleAvtar.id]">
                </div>
                <!-- <div class="col-lg-1">
                    <img src="assets/img/female/f2.png" alt="" class="img-fluid imgEffect">
                </div> -->
                <!-- <div class="col-lg-1">
                    <img src="assets/img/female/f3.png" alt="" class="img-fluid imgEffect">
                </div> -->
                <div class="col-lg-6"></div>
                <div class="col-lg-1" *ngFor="let maleAvtar of avtarList.male">
                    <!-- <img src="assets/img/male/m1.png" alt="" class="img-fluid imgEffect"> -->
                    <img src="{{maleAvtar.image_url}}" alt="" class="img-fluid imgEffect"
                    [routerLink]="['/registration', maleAvtar.id]">
                </div>
                <!-- <div class="col-lg-1">
                    <img src="assets/img/Group 5537.svg" alt="" routerLink="/registration"
                       routerLinkActive="router-link-active" class="img-fluid imgEffect">

                </div> -->
                <!-- <div class="col-lg-1">
                    <img src="assets/img/male/m3.png" alt="" class="img-fluid imgEffect">

                </div> -->

            </div>
        </div>
        <div class="col-lg-2">
            <img src="assets/img/doodle (2).png" alt="" class="img-fluid ">
        </div>
    </div>
</div>

<!--Modal: modalYT-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <!--Content-->
    <div class="modal-content">

      <!--Body-->
      <div class="modal-body mb-0 p-0">

        <video id="videoId" width="400" autoplay controls>
            <source src="assets/video/1418video.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>

          
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center flex-column flex-md-row">
        <span class="mr-4">Welcome to the world of 1418</span>
        <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
          data-dismiss="modal" (click)="closeVideo()">Close</button>


      </div>

    </div>
    <!--/.Content-->

  </div>
</div>
<!--Modal: modalYT-->
